
.btn-over-view {
  left: 2em;
  position: absolute;
  top: 10em;
}

.refresh-button {
  position: absolute;
  top: -3em;
}

.btn-key-word {
  left: 9.5em;
  position: absolute;
  top: 10em;
}

.btn-response-team {
  left: 22em;
  position: absolute;
  top: 10em;
  width: 14.5em;
}

.btn-component-search {
  left: 38em;
  position: absolute;
  top: 10em;
}

.btn-response-supplier {
  left: 51em;
  position: absolute;
  top: 10em;
}

.btn-edit-responsibility {
  left: 62.5em;
  position: absolute;
  top: 10em;
}

.btn-advance-search {
  left: 74em;
  position: absolute;
  top: 10em;
}

.btn-pdi {
  left: 74em;
  position: absolute;
  top: 10em;
}

.btn-options {
  left: 85em;
  position: absolute;
  top: 10em;
}


.analyze-overview {
  border-collapse: separate;
  border-spacing: 20px;
  border-style: solid;
  left: 2em;
  position: absolute;
  top: 18em;

}

.search-text {
  left: 5em;
  position: absolute;
  top: 20em;
}

.analyze-table {
  left: 3em;
  position: absolute;
  top: 25em;
}

.result-table {
  width: 45em;
}

.error-head {
  text-align: center;
}

.error-machine {
  text-align: center;
  width: 10em;
}

.error-field {
  width: 30em;
}

td.error-machine {
  height: 30px;
}

.count-result {
  left: 44em;
  position: absolute;
  top: 20em;
}

// Template Nr: 6  analyzingResponsibility

.analyze-header {
  left: 6.8em;
  position: absolute;
  top: 16em;
  width: 22em;
}

.analyze-header-complete {
  left: 50em;
  position: absolute;
  top: 16em;
  width: 22em;
}

.refresh-button-edit-response {
  left: 45em;
  position: absolute;
  top: 16em;
}

// Responsible Team

table.analyze-team-table {
  width: 1130px;
}

.response-team {
  left: 5em;
  position: absolute;
  top: 15em;
}

.team-table {
  left: 35em;
  position: absolute;
  top: 15em;
}

.btn-team1-details {
  left: 22em;
  position: absolute;
  top: -.1em;
}

.btn-team2-details {
  left: 22em;
  position: absolute;
  top: 4em;
}

.btn-team3-details {
  left: 22em;
  position: absolute;
  top: 8.5em;
}

.btn-team4-details {
  left: 22em;
  position: absolute;
  top: 12.7em;
}

.btn-team5-details {
  left: 22em;
  position: absolute;
  top: 17em;
}

.btn-teamTestBay-details {
  left: 22em;
  position: absolute;
  top: 21.5em;
}

.btn-teamSupplier-details {
  left: 22em;
  position: absolute;
  top: 25.5em;
}

.btn-ctd-details {
  left: 22em;
  position: absolute;
  top: 30.5em;
}

.btn-development-details {
  left: 22em;
  position: absolute;
  top: 34.5em;
}

.btn-unknown-details {
  left: 22em;
  position: absolute;
  top: 38.5em;
}

.btn-not-applicable-details {
  left: 22em;
  position: absolute;
  top: 42.5em;
}

.btn-undefined-issuer-details {
  left: 22em;
  position: absolute;
  top: 46.5em;
}

.date-bay-19 {
  width: 84px;
}

.thumbnail-box {
  height: 50px;
  width: 73px;
}

.team-select {
  width: 116px;
}

// ************* hover over image  *************************

.thumbnail:hover img {
  left: 50em;
  position: absolute;
  top: 100px;
  transform: scale(1.8);
  z-index: 1;
}

// **************************   Pdi Informal **********************

.pdi-search-position {
  left: 5em;
  position: absolute;
  top: 20em;
}

.pdi-performer,
.pdi-summary {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  width: 100px;
}

.pdi-result-graph {
  left: 30em;
  position: absolute;
  top: 30em;
}

//  *********************************************************

.team-repair-time-graph {
  left: 35em;
  position: absolute;
  top: 55em;
}


// Repair time per Machine

.pdi-comment-time-table {
  width: 314px;
}

.repair-time-table {
  left: 5em;
  position: absolute;
  top: 15em;
}

.error-comp {
  width: 222px;
}

.repair-time-graph {
  left: 5em;
  position: absolute;
  top: 55em;
}

.look-up-machine-number {
  left: 100em;
  position: absolute;
  top: 4em;
}

.pdi-tech {
  left: 100em;
  position: absolute;
  top: 10em;
}

.parts-ordered {
  left: 150em;
  position: absolute;
  top: 12.5em;
}

.claim-number {
  left: 20em;
  position: relative;
  top: 5px;
}

.part-number {
  left: 20.6em;
  position: relative;
  top: 12px;
}

.order-radio-button {
  left: 1px;
  position: relative;
  top: -4em;
}

table.parts-order-table {
  width: 390px;
}

.order-number {
  width: 120px;
}

.insert-quality-comment {
  left: 150em;
  position: absolute;
  top: 1em;
}

.look-up-machine {
  left: 100em;
  position: absolute;
  top: 15em;
}

.quality-button {
  left: 37em;
  position: absolute;
  top: 5em;
}

.order-list {
  left: 190em;
  position: absolute;
  top: 15em;
}




// ******************** supplier Table   ******************************************

.assigned-supplier {
  left: 20em;
  position: absolute;
  top: 15em;
}

.supplier-assign {
  left: 32em;
  position: absolute;
  top: 20em;
}

.supplier-head-liner {
  left: 5em;
  position: absolute;
  top: 25em;
}

.supplier-table {
  left: 4em;
  position: absolute;
  top: 30em;
}

table.extended-table {
  width: 1430px;
}

.assign-supplier {
  width: 135px;
}

.img-supplier-table {
  border: 1px solid #ddd; // Gray border
  border-radius: 4px;  // Rounded border
  padding: 5px; // Some padding
  width: 100px; // Set a small width
}

//  suppliers List View

.button-back {
  left: 5em;
  position: absolute;
  top: 10em;
}

//  ***************************  Supplier Results  ************************************************

.single-supplier-table {
  left: 5em;
  position: absolute;
  top: 20em;
}

.suppliers-table-view {
  border-spacing: 5px;
  width: auto;
}

.suppliers-name {
  left: 100em;
  position: absolute;
  top: 20em;
}

table.supplier-result-table {
  width: 90px;
}

.supplier-field {
  width: 95px;
}

.annual-machine-result {
  left: 5em;
  position: absolute;
  top: 60em;
}

.annual-supplier-result {
  left: 80em;
  position: absolute;
  top: 60em;
}

.options-header {
  left: 5em;
  position: absolute;
  top: 19em;
}

.team-supplier-width {
  width: 140px;
}

.team-supplier-table {
  width: 125px;
}

.input-new-team {
  left: 2em;
  position: absolute;
  top: 5em;
}

.remove-team-button {
  left: 16em;
  position: absolute;
  top: 10em;
}

.add-team-table {
  left: 1em;
  position: absolute;
  top: 10em;
}

.add-supplier-table {
  left: 6em;
  position: absolute;
  top: 10em;
}

.btn-add-new {
  left: 14em;
  position: relative;
  top: -2em;
}

.input-new-supplier {
  left: 7em;
  position: absolute;
  top: 5em;
}

.btn-add-supplier {
  left: 14em;
  position: absolute;
  top: 1.5em;
}

.remove-supplier-button {
  left: 21em;
  position: absolute;
  top: 10em;
}
