
.btn-over-view {
  position: absolute;
  left: 2em;
  top: 10em;
}

.refresh-button {
  position: absolute;
  top: -3em;
}



.btn-key-word {
  position: absolute;
  left: 9.5em;
  top: 10em;
}

.btn-response-team {
  position: absolute;
  left: 22em;
  top: 10em;
}

.btn-component-search {
  position: absolute;
  left: 38em;
  top: 10em;
}

.btn-response-supplier {
  position: absolute;
  left: 51em;
  top: 10em;
}

.btn-edit-responsibility {
  position: absolute;
  left: 62.5em;
  top: 10em;
}

.btn-advance-search {
  position: absolute;
  left: 74em;
  top: 10em;
}

.analyze-overview {
  position: absolute;
  left: 2em;
  top: 18em;
  border-collapse: separate;
  border-style: solid;
  border-spacing: 20px;
}

.search-text {
  position: absolute;
  left: 5em;
  top: 20em;
}

.analyze-table {
  position: absolute;
  left: 3em;
  top: 25em;
}

.result-table {
  width: 50em;
}

.error-head {
  text-align: center;
}

.error-machine {
  width: 10em;
  text-align: center;
}

.error-field {
  width: 30em;
}

td.error-machine {
  height: 30px;
}

.count-result {
  position: absolute;
  left: 44em;
  top: 20em;
}

// Template Nr: 6  analyzingResponsibility

.analyze-header {
  left: 6.8em;
  position: absolute;
  top: 16em;
  width: 22em;
}

.analyze-header-complete {
  left: 50em;
  position: absolute;
  top: 16em;
  width: 22em;
}

.refresh-button-edit-response {
  position: absolute;
  top: 16em;
  left: 45em;
}