
.commissionTablet {
  position: absolute;
  top: 20em;
  left: 2em;
}

.marginLeft {
  margin-left: 1em;
}

.machineTablet {
  color: #71f323;
}

.chooseMachineTable {
  float: left;
  position: relative;
  top: 8em;
}

.pickedMachineField {
  width: 2em;
}

.bodyHeight {
  height: 250px;
}

.supplyAreaTable {
  position: absolute;
  top: -2em;
  left: 23em;
}

.supplyTableHeight {
  height: 65.1em;
}


.commissionInitials {
  position: relative;
  left: 1.5em;
  width: 5em;
}

.supplyButtonField {
  position: relative;
  top: -10em;
  left: 35em;
  color: #D0E4F5;
}

/*---------------------------  Arrow Down ----------------------*/

$base: 0.6rem;

.arrowDown {
  position: absolute;
  display: flex;
  left: 4em;
}

.arrowSide {
  transform: rotate(-90deg);
  position: absolute;
  top: 35em;
  left: 14em;
  display: flex;

}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.5);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #dd7e1f;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}