
.marginLeft {
  margin-left: 1em;
}

.chooseMachineTable {
  float: left;
}

.workCenter {
  position: relative;
  left: 2em;
}

.pickedMachineField {
  width: 2em;
}

.supplyAreaTable {
  position: absolute;
  left: 13em;
}

.tabletStart {
  position: relative;
  left:25em;
}
