

.commNav {
  position: relative;
  left: 50em;
}

.commissionNav {
  top: -4em;
}

.commHead {
  position: relative;
  left: 20em;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 5em;
}

.newSupplyArea {
  position: relative;
  left: 2em;
}

.supplyArea {
  margin-left: 2.5em;
}

table.supplyTable {
  position: relative;
  width: 8em;
  margin-left: 2.2em;
}

.supplyAreaField {
  width: 9em;
}

.removeSupplyArea {
  position: relative;
  left: 9em;
  top: -2.4em;
}