
.headerEcn {
  position: absolute;
  top: 1em;
  left: 20em;
}

.ecnOverView {
  position: absolute;
  top: 5em;
  left: 2em;
}

.mcoTable {
  position: absolute;
  top:30em;
  left: 2em;
}

.checkBoxList  {
  position: absolute;
  top: 0.5em;
  left: 20em;
}

.searchBoxes {
  position: absolute;
  top: 5.5em;
  left: 60em;
}

.goButton {
  position: absolute;
  top: 20em;
  left: 60em;
}

.mcoReCording {
  position: absolute;
  top: 9.5em;
  left: 70em;
}