
.inputEditHead {
  position: absolute;
  top: 10em;
  left: 3em;
}

.headFloater{
  float: left;
  margin-left: 2em;
}

.headComment {
  position: absolute;
  top: 20em;
  left: 4em;
}

.headSubmit {
  position: absolute;
  top: 25em;
  left: 4em;
}