
// login

$user-top: 150px;
$login-top: 220px;
$login-left: 25px;
$login-button: 290px;

.logo {
  margin: 25px;
}

.login-image {
  margin-top: 50px;
}

.user-name {
  left: $login-left;
  position: absolute;
  top: $user-top;
}

.login-passwd {
  left: $login-left;
  position: absolute;
  top: $login-top;
}

.login-button {
  left: $login-left;
  position: absolute;
  top: $login-button;
}

.loading-screen {
  left: 20em;
  position: absolute;
  top: 3em;
}
