
.buttonField {
  margin-left: 25px;
  position: absolute;
  top: 300px;
}

.machineSearch {
  margin-left: 25px;
  position: absolute;
  top: 150px;
}

.inputSearchMary {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}

.addList {
  margin-left: 25px;
}

.removeList {
  margin-left: 25px;
}