
.navTruckStatus {
  position: relative;
  left: 50em;
}



.machineSearchButton {
  position: relative;
  top: 15em;
  left: 20em;
}

.machineSearch {

}

.inputSearchMary {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}





table.truckTable {
  position:relative;
  top: 15em;
  margin-left: 2em;
}