
.overView {
  position: relative;
  top: 80px;
  left: 200px;
}

.openStatus {
  position: relative;
  top: 80px;
  margin-left: 25px;
}

.headerTablePosition {
  position: absolute;
  left: 450px;
  top: 300px;
}

table.overViewTable {
  position: absolute;
  top: 350px;
  width: 415px;
}