
.overView {
  left: 200px;
  position: relative;
  top: 80px;
}

.openStatus {
  margin-left: 25px;
  position: relative;
  top: 80px;
}

.headerTablePosition {
  left: 37em;
  position: absolute;
  top: 21em;
}

table.overViewTable {
  float: left;
  position: relative;
  top: 6em;
  width: 21em;
}

table.preOverViewTable {
  float: left;
  left: 23em;
  position: relative;
  top: 6em;
  width: 21em;
}
