
.loadVariantButton {
  position: relative;
  top: 3em;
  left: -30em;
}

.howTo {
  position: relative;
  margin-left: 100px;
}

.variantViewer {
  margin-left: 25px;
}

.variantButtons {
  position: relative;
  top: 1em;
  margin: 10px;
}

.singleVariantButton {
  margin: 15px;
}

.variantTable {
  position: relative;
  top: -20em;
}

.variantVisible {
  text-align: center;
}

.updateVariantViewer {
  left: 50em;
  position: relative;
  top: 2em;
  width: 12em;
}

.addPicToVariant {
  left: 50em;
  position: relative;
  top: 4em;
  width: 12em;
}

.loadVariantPic {
  left: 50em;
  position: relative;
  top: 5em;
}

.noVariant {
  background: repeating-linear-gradient(
                  45deg,
                  #e8bf7e,
                  #f4a4ae 10px,
                  #f85558 10px
  );
}

