
// table positions

$pdiOverviewMachine: 80px;
$pdiShipDate: 80px;
$pdiComments: 320px;
$pdiPDIField: 50px;
$pdiWashField: 50px;
$pdiLocation: 70px;
$config: 60px;
$pdiTable: 570px;

table.pdiTable {
  width: $pdiTable;
}

.mainLayout {
  position: fixed;
  right: 250px;
  color: black;
}

.overviewHeader {
  font-size: 25px;
}

.tablePdiOverview {
  position: absolute;
  top: 300px;
}


.pdiMachineField {
  max-width: $pdiOverviewMachine;
  min-width: $pdiOverviewMachine;
}

.pdiShipDate {
  max-width: $pdiShipDate;
  min-width: $pdiShipDate;
}

.pdiComments {
  max-width: $pdiComments;
  min-width: $pdiComments;
}

.pdiPDIField {
  max-width: $pdiPDIField;
  min-width: $pdiPDIField;
}

.pdiWashField {
  max-width: $pdiWashField;
  min-width: $pdiWashField;
}

.pdiLocation {
  max-width: $pdiLocation;
  min-width: $pdiLocation;
}

.pdiConfig {
  max-width: $config;
  min-width: $config;
}