
// variables

$positionTable: 142px;
$failureTable: 500px;
$failureTableRow: 500px;
$typeTable: 100px;
$rangeStartEndTable: 220px;



// Buttons

.checklistReturn-btn {
  position: fixed;
  right: 250px;
  color: black;
}

// Anker tags

a:hover {
  background-color: lightgrey;
  text-align: right;
  text-decoration: none;
}

// Headers and Title

.checkpointHeader .title {
  margin-top: 40px;
  height:40px;
  line-height:30px;
  background:gray;
  font-size:18px;
  font-family: verdana, serif;
  display:block;
  color:white;
  padding:10px;
  vertical-align: center;
}

.tableHeadFixed {
  position: fixed
}

.scroll {
  max-height: 60px;
  overflow: auto;
}

// Input Fields

.input {
  border: black 1px;
  background-color: #e6e6e6;
}

.inputMargin {
  float: left;
  margin-left: 2em;
}

.descriptionBox {
  width: 350px;
}

.checkBoxHeader {
  padding-left: 40px;
}

.checkpointCheckbox {

}

.checkBoxMargin {
  margin: 5px;
}

.inputRange {
  width: 220px;
}

.dependencies {
  position: relative;
  left: 30px;
  top: 19px;
}

.checkBoxCheckList {
  position: relative;
  left: 3em;
}

// table position

.tableChecklist {
  position: absolute;
  top: 27em;
  margin-left: 2em;
}


.position {
  max-width: $positionTable;
  min-width: $positionTable;

}

.failure {
  max-width: $failureTable;
  min-width: $failureTable;
}

.failureRow {
  max-width: $failureTableRow;
  min-width: $failureTableRow;
}

.type {
  max-width: $typeTable;
  min-width: $typeTable;
}

.rangeStart {
  max-width: $rangeStartEndTable;
  min-width: $rangeStartEndTable;
}

.rangeEnd {
  max-width: $rangeStartEndTable;
  min-width: $rangeStartEndTable;
}




table {
  width: 411px;
 margin-left: 10px;
}

tbody.pdiCheckList {
  height: 500px;
  overflow: auto;
}

.pdiCheckList {
  border: 1px solid #a49892;
  background-color: #EEEEEE;
}





.positionCheckPos {
  position: absolute;
  margin: 10px;
  top: 0;
  font-weight: bold;
  font-size: 16px;
}

.positionCheckText {
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
}