
.pdiToDo {
  margin-left: 3em;
}

.configButtonOK {
  font-weight: bold;
  float: left;
  width: 130px;
  position: absolute;
  bottom: 0;
}

.configButtonNOK {
  font-weight: bold;
  float: left;
  width: 130px;
  position: absolute;
  margin-left: 130px;
  bottom: 0;
}

.configButtonInfo {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  width: 130px;
}

.resize {
  height: auto;
  width: 400px;
}

.buttonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  position: absolute;
  width: 130px;

}

.buttonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 130px;
  position: absolute;
  width: 130px;

}

.buttonNA {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  width: 130px;
}


.pdiCell {
  font-size: 16px;
  height: 10em;
  position: relative;
  width: 39em;
}

.inputSize {

  height: 3em;
  width: 12em;
}

.inputIssueSize {
  height: 3em;
  width: 25em;
}

.configHeader {
  left: 3em;
  position: relative;
  width: 20em;
}

.configTable{
  margin-left: 3em;
}

.checkListTable {
  margin-left: 3em;
}

.pdiDivider {
  position: relative;
  left: 3.5em;
  width: 30em;
}

//---------------- Drop Down -------------*/

.mainComponentsPos {
  position: relative;
  left: 3.6em;
}

.subComponentPos {
  position: relative;
  left: 22em;
}

.dropDownStyle {

}

.dropDown {
  font-size: 20px;
  height: 40px;
  width: 100px;
  white-space: nowrap;
  border-radius: 1px;
  padding: 1rem;
  z-index: 1001;
  min-width: 220px;
  // For opening transition
  transform-origin: center top;
 }

/*-----------------------------------------*/

.issueField {
  margin-left: 3em;
}

.addIssueText {
  width: 30em;
}

.pdiInputFields {
  margin: 0.8em;
  width: 30em;
}

table.newIssuesTable {
  position: relative;
  left: 2em;
  width: 32em;
}

.repairPointStyle {
  height: 2em;
}

.deleteRepair {
  width: 30em;
}

.batteries {
  left: 3em;
  position: relative;
}

.endOfList {
  margin-bottom: 10em;
}