
.headLiner {
  position: absolute;
  top:10em;
  left: 5em;
}

.addIssue {
  position: absolute;
  top: 20em;
  left:10em;
}

.inputNewIssue {
  position: absolute;
  top: 20em;
  left: 40em;
}

#newIssueInput {
  width: 50em;
}

.removeButton {
  position: absolute;
  top: 6em;
}

.issueList {
  position: absolute;
  top: 30em;
  left:10em;
}