
.searchButton {
  top: 10em;
  left: 10em;
}

.searchMe {
  position: absolute;
  top: 16em;
  left: 40em;
}

.printButton {
  position: absolute;
  top: 16em;
  left: 60em;
}

.historicButtonPos {
  position: absolute;
  top: 16em;
  left: 8em;
}

.dropDownHistoric {
  font-size: 20px;
  white-space: nowrap;
  border-radius: 1px;
  padding: 1px;
  z-index: 1001;
  // For opening transition
  transform-origin: center top;
}

.pdiYear {
  left: 24em;
  position: absolute;
  top: 16em;

}

table.pdiRepairList {
  position: absolute;
  top: 280px;
  margin-left: 25px;
  width: 242px;
  left: 20em;
}

.repairListButton {
  position: absolute;
  top: 200px;
  margin-left: 25px;
}

.container {
  overflow: scroll;
  position: absolute;
  top: 20em;
  left: 40em;
  height: 700px;
  width: 800px;
  border: black 1px solid;
  padding: 10px;
}

.pdiUser {
  padding: 25px;
}

.sumRightSide {
  position: relative;
  top: -122px;
  left: 300px;
}

.printList {
  position: relative;
  top: 4em;
  left: 2em;
}

.imageMargin {
  margin-bottom: 20px;
}

.containerText {
  font-weight: bolder;
}

table.printTableWidth {
  width: 500px;
}

.printTable {
  left: 40em;
  position: absolute;
  top: 20em;
}

.print-error-description {
  width: 29em;
}

.repair-box {
  position: absolute;
  left: 2em;
  top: 50em;
}

.view-box {
  position: absolute;
  left: 40em;
  top: 20em;
}

table.issue-list {
  width: 530px;
  height: 60px;
}

.image-box-thumb {
  width: 100px;
  height: 100px;
}