
#logo {
  position: absolute;
  top: 25px;
}

.overviewHeader {
  position: absolute;
  top: 150px;
  font-size: 25px;
  margin-left: 25px;
}

.pdiButton {
  position: absolute;
  top: 240px;
  margin-left: 25px;
}

.pdiOverViewNav {
  position: absolute;
  top: 50px;
  left: 559px;

}

