
.printoutMargin {
  margin-left: 1em;
}

#footer {
  bottom: 100px;
  height: 30px;
  position: fixed;
  width: 100%;
}

.printOutTable {
  width: 900px;
}

tr.tableHeight {
  height: 55px;
}

.tableWidthError {
  width: 300px;
}

.tableWidthComment {
  width: 200px;
}

.tableWidthSignOff {
  width: 50px;
}


