
.printoutMargin {
  margin-left: 1em;
}

.footer {
  bottom: 40px;
  font-size: x-small;
  height: 30px;
  position: fixed;
  width: 70%;

}


.printOutTable {
  width: 900px;
}

tr.tableHeight {
  height: 55px;
}

.tableWidthError {
  width: 300px;
}

.tableWidthComment {
  width: 200px;
}

.tableWidthSignOff {
  width: 50px;
}


