.offline {

  color: #f00;
  left: 580px;
  position: absolute;
  top: 500px;
  scale: 5;
  transform: rotateY(0deg) rotate(45deg);
}




.searchMe {
  position: absolute;
  top: 16em;
  left: 40em;
}

.machine-search {
  position: absolute;
  top:170px;
  left:560px;
}

table.table-historic {
  width: 280px;
  position: absolute;
  top: 375px;
  left: 100px;
  margin-left: auto;
  margin-right: auto
}

.histMachine {
  width: 85px;
  text-align: center;
}

.histDate {
  width: 175px;
  text-align: center;
}

.printButton {
  position: absolute;
  top: 16em;
  left: 60em;
}

.history-pdi-machine {
  padding-left: 20px;
}

.history-pdi-date {
  padding-left: 65px;
}

.machine-sort {
  position: absolute;
  top: 376px;
  left: 100px;
  width: 90px;
  height: 50px;
  opacity: 0;
}

.date-sort {
  position: absolute;
  top: 376px;
  left: 190px;
  width: 173px;
  height: 50px;
  opacity: 0;
}

table.pdiRepairList {
  position: absolute;
  top: 280px;
  margin-left: 25px;
  width: 242px;
  left: 20em;
}

.pdiUser {
  padding: 25px;
}

.sumRightSide {
  position: relative;
  top: -122px;
  left: 300px;
}

.printList {
  position: relative;
  top: 4em;
  left: 2em;
}

.print-error-description {
  width: 29em;
}

.repair-box {
  position: absolute;
  left: 2em;
  top: 50em;
}

.view-box {
  position: absolute;
  left: 40em;
  top: 20em;
}

table.issue-list {
  width: 530px;
  height: 60px;
}

.image-box-thumb {
  width: 100px;
  height: 100px;
}