
.pdiToDo {
  margin-left: 3em;
}

.configButtonOK {
  font-weight: bold;
  float: left;
  width: 130px;
  position: absolute;
  bottom: 0;
}

.configButtonNOK {
  font-weight: bold;
  float:left;
  width: 130px;
  position: absolute;
  margin-left: 130px;
  bottom: 0;
}

.buttonOK {
  font-weight: bold;
  float: left;
  width: 130px;
  position: absolute;
  bottom: 0;
}

.buttonNOK {
  font-weight: bold;
  float:left;
  width: 130px;
  position: absolute;
  margin-left: 130px;
  bottom: 0;
}

.buttonNA {
  font-weight: bold;
  float: left;
  width: 130px;
  position: absolute;
  margin-left: 260px;
  bottom: 0;
}

.pdiCell {
  position: relative;
  font-size: 16px;
  height: 10em;
  width: 39em;
}

.inputSize {
  width: 10em;
  height: 3em;
}

.inputIssueSize {
  width: 25em;
  height: 3em;
}

.configHeader {
  position: relative;
  left: 3em;
}

.configTable{
  margin-left: 3em;
}

.checkListTable {
  margin-left: 3em;
}

.pdiDivider {
  position: relative;
  left: 3.5em;
}

/*---------------- Drop Down -------------*/

.mainComponentsPos {
  position: relative;
  left: 3.6em;
}

.subComponentPos {
  position: relative;
  left: 22em;
}

.dropDownStyle {

}

.dropdown {
  font-size: 20px;
  height: 40px;
  width: 50px;
  white-space: nowrap;
  border-radius: 1px;
  padding: 1rem;
  z-index: 1001;
  min-width: 220px;
  // For opening transition
  transform-origin: center top;
 }

/*-----------------------------------------*/

.issueField {
  margin-left: 3em;
}

.addIssueText {
  width: 30em;
}

.pdiInputFields {
  margin: 0.8em;
}

table.newIssuesTable {
  position: relative;
  left: 2em;
  width: 32em;
}

.repairPointStyle {
  height: 2em;
}

.deleteRepair {
  width: 30em;
}

.endOfList {
  margin-bottom: 10em;
}