
.printoutMargin {
  margin-left: 1em;
}

@media print {
  margin-bottom: 5cm;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 1cm;
  size: A4;

  .configPrint {page-break-inside: auto;}
  table { page-break-after:auto; }

  tr {
    page-break-inside:avoid;
    page-break-after:auto;
  }

  td {
    page-break-inside:avoid;
    page-break-after:auto;
  }

  thead { display:table-header-group; }
  tfoot { display:table-footer-group; }
}




#footer {
  bottom: 100px;
  height: 30px;
  position: fixed;
  width: 100%;
}

.printOutTable {
  height: 1000px;
  width: 900px;
}

tr.tableHeight {
  height: 55px;
}

.tableWidthError {
  width: 300px;
}

.tableWidthComment {
  width: 200px;
}

.tableWidthSignOff {
  width: 50px;
}


