
.pdiToDo {
  margin-left: 3em;
}

.profiCamInputPos {
  position: relative;
  top: 1em;
}

.configButtonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  position: absolute;
  width: 130px;
}

.configButtonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 130px;
  position: absolute;
  width: 130px;
}

.configButtonInfo {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  width: 130px;
}

.config-image {
  width: 100em;
}

.resize {
  height: auto;
  width: 400px;
}

.buttonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  position: absolute;
  width: 130px;

}

.buttonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 130px;
  position: absolute;
  width: 130px;

}

.buttonNA {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  width: 130px;
}


.pdiCell {
  font-size: 16px;
  height: 10em;
  position: relative;
  width: 39em;
}

.inputSize {

  height: 3em;
  width: 12em;
}

.inputIssueSize {
  height: 3em;
  width: 25em;
}

.configHeader {
  left: 3em;
  position: relative;
  width: 20em;
}

.configTable{
  margin-left: 3em;
}

.checkListTable {
  margin-left: 3em;
}

.pdiDivider {
  left: 3.5em;
  position: relative;
  width: 30em;
}

//---------------- Drop Down -------------*/

.mainComponentsPos {
  left: 3.6em;
  position: relative;
}

.dropDown {
  border-radius: 1px;
  font-size: 20px;
  height: 40px;
  min-width: 220px;
  padding: 1rem;
  // For opening transition
  transform-origin: center top;
  white-space: nowrap;
  width: 100px;
  z-index: 1001;
 }

//-----------------------------------------*/

.issueField {
  margin-left: 3em;
}

.addIssueText {
  width: 30em;
}

.pdiInputFields {
  margin: .8em;
  width: 30em;
}

table.newIssuesTable {
  left: 2em;
  position: relative;
  width: 32em;
  display: block;
  overflow: auto;
  height: 500px;
}

.add-image-to-repair {
  left: 37em;
  position: absolute;
  top: 210em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.pdi-repair {
  position: absolute;
  left: 34.5em;
  top: 216em;
}

.pdiNewIssue {
  width: 371px;
}

.submit-button-image {
  left: 26em;
  position: absolute;
  top: 1.9em;
}

.repairPointStyle {
  height: 2em;
}

.deleteRepair {
  width: 30em;
}

.pdi-repair {
  margin-left: 2em;
}

.confirm-pdi-repair {
  position: relative;
}

.batteries {
  left: 3em;
  position: relative;
}

.endOfList {
  margin-bottom: 10em;
}