
.searchMe {
  margin-left: 3em;
}

.printButton {
  margin-left: 16em;
  margin-top: 1em;
}

table.pdiRepairList {
  position: absolute;
  top: 320px;
  margin-left: 25px;
  width: 242px;
}

.repairListButton {
  position: absolute;
  top: 200px;
  margin-left: 25px;
}

.container {
  overflow: scroll;
  position: absolute;
  top: 10em;
  left: 30em;
  height: 800px;
  width: 900px;
  border: black 1px solid;
  padding: 10px;
}

.pdiUser {
  padding: 25px;
}

.sumRightSide {
  position: relative;
  top: -122px;
  left: 300px;
}

.printList {
  position: relative;
  top: 4em;
  left: 2em;
}
