.setWeeklyGoal {
  position: absolute;
  left: 25em;
  top: 11em;
}


#logo {
  position: absolute;
  top: 25px;
}

.overviewHeader {
  position: absolute;
  top: 120px;
  font-size: 25px;
  margin-left: 25px;
}

.pdiButton {
  position: absolute;
  top: 240px;
  margin-left: 25px;
}

.pdiOverViewNav {
  left: 559px;
  position: absolute;
  top: 50px;
}

.container-one {
  left: 40em;
  overflow: hidden;
  position: absolute;
  top: 17.1em;
}

.container-two {
  left: 60em;
  overflow: hidden;
  position: absolute;
  top: 17.1em;
}

.file-container-origin [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity = 0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.file-container-new  [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity = 0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

$pdiTable: 570px;

table.pdiTable {
  width: $pdiTable;
}
