
.loadVariantButton {
  position: relative;
  top: 5em;
  left: -15em;

}

.variantViewer {
  margin-left: 25px;
}

.variantButtons {
  position: relative;
  top: 10em;
  margin: 10px;
}

.variantTable {
  position: relative;
  top: -5em;
}

.variantVisible {
  text-align: center;
}