.confirmBoxWidth {
  width: 6.5em;
}

.pdi-repair-finnish {
  left: 65em;
  position: absolute;
  top: 16em;
}

table.repair-table {
  margin-left: 35px;
  position: absolute;
  top: 20em;
  width: 850px; }

.repair-header {
  left: 4em;
  position: absolute;
  top: 47em;
}

.thumbnail-pdi-crew:hover img {
  left: 37em;
  position: absolute;
  top: -300px;
  transform: scale(2);
  z-index: 1;
}

table.display-error {
  width: 950px;
}

.pdi-comment {
  width: 200px;
}

.pdi-rep-comment {
  width: 45em; }

.pdi-rep-comment-field {
  width: 200px;
}

.pdi-time {
  width: 50px;
}

.pdi-rep-status {
  width: 70px;
}

.pdi-issuer {
  width: 73px;
}

.team-button {
  width: 9em;
}

.pdi-image {
  width: 73px;
 }

.pdi-rep-tech {
  width: 70px;
}

.utility-repair {
  left: 75em;
  position: absolute;
  top: 50em;
}

.pdi-open-repair {
  left: 2em;
  position: absolute;
  top: 1em;
}
