.pdi-repair-finnish {
  left: 100em;
  position: absolute;
  top: 794px;
}

.toggle-button {
  left: 35em;
  position: absolute;
}

.reOpenRepairSection {
  left: 690px;
  position: absolute;
  top: 221px;
}

.toggle-ship-date {
  left: 182px;
  position: absolute;
  top: 271px;
}

table.repair-table {
  margin-left: 35px;
  position: absolute;
  top: 20em;
  width: 850px; }

.repair-header {
  left: 4em;
  position: absolute;
  top: 47em;
}

//  ******************************  Road Test Section   *********************************

.road-test-table {
  left: 1127px;
  position: absolute;
  top: 16px;
}

.road-test-header {
  left: 380px;
  position: relative;
  top: 250px;
}

.road-test-button {
  left: 1500px;
  position: absolute;
  top: 240px;
}

.road-test-inputs {
  left: 2150px;
  position: absolute;
  top: 326px;
}

.thumbnail-pdi-crew:hover img {
  left: 37em;
  position: absolute;
  top: -300px;
  transform: scale(2);
  z-index: 1;
}

table.display-error {
  width: 1160px;
}

.pdi-comment {
  width: 200px;
}

.pdi-rep-comment {
  width: 45em; }

.pdi-rep-comment-field {
  width: 200px;
}

.pdi-time {
  width: 50px;
}

.pdi-rep-status {
  max-width: 65px;
  min-width: 65px;
}

.pdi-issuer {
  width: 73px;
}

.team-button {
  width: 9em;
}

.pdi-image {
  max-width: 70px;
  min-width: 70px;
 }

.pdi-rep-tech {
  width: 97px;
}

.utility-repair {
  left: 87em;
  position: absolute;
  top: 50em;
  z-index: -2;
}

.pdi-open-repair {
  left: 1px;
  position: absolute;
  top: 1em;
}

.pdi-repair-orders {
  left: 1340px;
  position: absolute;
  top: 1223px;
}
