
.loadVariantButton {
  position: relative;
  top: 3em;
  left: -30em;
}

.howTo {
  position: relative;
  margin-left: 100px;
}

.variantViewer {
  margin-left: 25px;
}

.variantButtons {
  position: relative;
  top: 1em;
  margin: 10px;
}

.singleVariantButton {
  margin: 15px;
}

.variantTable {
  position: relative;
  top: -20em;
}

.variant-info-thumb {
  width: 90px;
}

.image-thumb {
  width: 50px;
}

.variant-visibility {
  width: 100px;
  text-align: center;
}

.variant-visible  {
  text-align: center;
  min-width: 90px;
}

.variant-hidden  {
  text-align: center;
}

.addPicToVariant {
  left: 50em;
  position: relative;
  top: 4em;
  width: 12em;
}

.submit-pic {
  left: 55em;
  position: absolute;
  top: 20em;
}

.noVariant {
  background: repeating-linear-gradient(
                  45deg,
                  #e8bf7e,
                  #f4a4ae 10px,
                  #f85558 10px
  );
}

