
.listContainer {
  border-style: solid;
  height: 20em;
  left: 3em;
  padding: 10px;
  width: 50em;
}

.tablePos {
  position: absolute;
  top: 20em;
  width: 40em;
}

.preView {
  left: 20em;
  position: absolute;
  top: 10em;
}

.imageSize {
  width: 40%;
  float: left;
}

.headLinerPos {

}

.description {
  left: 40em;
  top: -10em;
}




