
img {
  max-height: 100%;
  max-width: 100%;
}

.image {
  float: left;
  height: 80%;
  margin-bottom: 10px;
  width: 80%;
}

.button {
  left: 10em;
  margin-left: 40px;
  position: relative;
  width: 150px;
}

table, td {
  border: 2px solid #333;
}

