

.outBoundNav {
  position: absolute;
  left: 40em;
}


.shipMe {
  position: absolute;
  left: 32em;
  top: 15em;
}

.shipMeButton {
  left: -25em;
  position: absolute;
}

table.readyTable {
  position: relative;
  top: 16em;
  left: 2em;
  width: 600px;
}

