

.locationId {
  position: relative;
  left: 13em;
  top: 12.1em;
}

.shipMe {
  position: relative;
  top: 14em;
  left: 3em;
}

table.readyTable {
  position: relative;
  top: 16em;
  left: 2em;
  width: 600px;
}

