
table.recon-order-table {
  display: block;
  height: 300px;
  left: 490px;
  position: relative;
  top: 35px;
  width: 691px;
}

table.recon-history-table {
  display: block;
  height: 500px;
  left: 490px;
  position: relative;
  top: 150px;
  width: 691px;
}

.recon-cancel-button {
  left: 350px;
  position: absolute;
  top: 50px;
}

.recon-order-form {
  position: absolute;
  top: 50px;
}
