

.upComings {
  position: absolute;
  top: 65em;
  margin-left: 25px;
}

table.upComingTable {
  width: 1010px;
}

table.repairTable {
  position: absolute;
  margin-left: 35px;
  top: 20em;
  width: 960px;
}

tbody.tableHeight {
  height: 264px;
}

table.issueTable {
  position: absolute;
  top: 13em;
  left: 49.3em;
  width: 533px;
}

tbody.newIssueTableHeight {
  height: 72px;
}

.addIssueToList {
  position: absolute;
  top: 15em;
  left: 90em;
}

.issueHeader {
  position: absolute;
  top: 11em;
  left: 60em;
}

.machineHours {
  position: relative;
  left: 20em;
  top: 3em;
}

.repairLoad {
  position: relative;
  top: 6em;
  margin-left: 25px;
}

.repairButton {
  position: absolute;
  top: 4em;
  left: 15em;
}

.workingHours {
  position: absolute;
  left: 2em;
  top: 4.2em;
}

.toggleRepairUpcoming {
  position: relative;
  left: 30em;
  top: 5.1em;
}

.washHeader {
  position: absolute;
  top: -0.5em;
  left: -7em;
}

.washBayText {
  position: relative;
  top: -5em;
  left: 50em;
}

.washBayMessage {
  position: absolute;
  top: -0.5em;
  left: 30em;
}

#textMessage {
  width: 400px;
}

.repNav {
  position: absolute;
  left: 40em;
}

.kitListButton {
  position: absolute;
  top: 20em;
  left: 88em;
}

.btn-warning {
  height: 50px;
}

.repair-print-list {
  left: 80em;
  position: absolute;
  top: 20em;
}

table.repair-print-out {
  left: 1em;
  position: absolute;
  top: 50em;
  width: 55em;
}

.repair-comment {
  width: 45em;
}

.pictureWidth {
  width: 5.8em;
}

.error-description {
  width: 45.4em;
}

img.repair-pre-view {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.image-box {
  width: 5em;
  height: 5em;
}

.pdi-rep-conf {
  width: 7.2em;
}