

.upComings {
  position: absolute;
  top: 65em;
  margin-left: 25px;
}

table.upComingTable {
  width: 1010px;
}

table.repairTable {
  position: absolute;
  margin-left: 35px;
  top: 20em;
  width: 960px;
}

tbody.tableHeight {
  height: 400px;
}

.machineHours {
  position: relative;
  left: 20em;
  top: 3em;
}

.repairLoad {
  position: relative;
  top: 6em;
  margin-left: 25px;
}

.repairButton {
  position: absolute;
  top: 4em;
  left: 15em;
}

.workingHours {
  position: absolute;
  left: 2em;
  top: 4.2em;
}

.toggleRepairUpcoming {
  position: relative;
  left: 30em;
  top: 5.1em;
}

.washBayText {
  position: relative;
  top: -5em;
  left: 50em;
}

.washBayMessage {
  position: absolute;
  top: 2em;
  left: 30em;
}

#textMessage {
  width: 400px;
}

.repNav {
  position: absolute;
  left: 40em;
}

.kitListButton {
  position: absolute;
  left: 95em;
}