

.upComings {
  position: absolute;
  top: 65em;
  margin-left: 25px;
}

table.upComingTable {
  width: 1010px;
}

table.repairTable {
  margin-left: 35px;
  width: 960px;
}

.machineHours {
  position: relative;
  left: 20em;
  top: 3em;
}

.repairLoad {
  position: relative;
  top: 6em;
  margin-left: 25px;
}

.repairButton {
  position: relative;
  top: 3em;
  left: 1em;
}

.machineHourHeader {
  position: relative;
  top: -2em;
  left: 8em;
}

.workingHours {
  position: relative;
  left: 13em;
  top: -3em;
}

.toggleRepairUpcoming {
  position: relative;
  left: 30em;
  top: 4em;
}

.washBayText {
  position: relative;
  top: -5em;
  left: 50em;
}

#textMessage {
  width: 400px;
}

.repNav {
  position: absolute;
  left: 40em;
}

.kitListButton {
  position: absolute;
  left: 95em;
}