
.shippingNav {
  position: absolute;
  top: 70px;
  left: 40em;
}

.newMachineShipping {
  position: absolute;
  top: 100px;
  margin-left: 25px;
 }

.shippingInputs {
  margin-left: 20px;
  float: left;
}

.firstKit {
  float: left;
}

.secondKit {
  float: left;
}

.thirdKit {
  position: relative;
  top: 24px;
  float: left;
}

.comment {
  position: absolute;
  left: 440px;
  width: 500px;
}

.newMachineSubmit {
  margin-top: 50px ;
  margin-left: 350px;
}

.shippingMachinesTable {
  position: relative;
  top: 40px;
}

.shippingTable {
  margin-top: 3em;
}

.searchField {
  margin-left: 15px;
}

.delete_Machine {
  float: left;
  margin-right: 25px;
}

