
.firstKit {
  margin-top: 25px;
}

.secondKit{
  margin-top: 25px;
}

.headerComment {
  position: absolute;
  top: 210px;
  left: 10px;
}

.headerInputComment {
  position: absolute;
  width: 500px;
}

.headerSubmit {
  position: absolute;
  top: 235px;
  left: 610px;
  width: 80px;
}

.headerTable {
  margin-top: 50px;
  margin-left: 30px;
}

.buttonDelete {
  position: absolute;
  top: 390px;
  left: 270px;
}

.buttonEdit {
  position: absolute;
  top: 390px;
  left: 100px;
}

.editHead {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}

.trailerSection {
  position: relative;
  top: 2.2em;
  left: 70em;

}

.trailerHome {
  position: absolute;
  top: 350px;
  left: 50px;
}

.trailerOnDuty {
  position: absolute;
  top: 350px;
  left: 300px;
}

.moveButton {
  position: absolute;
  top: 340px;
  left: 185px;
}

.headerKit {
  white-space: pre-wrap;
}