
.shippingNav {
  position: absolute;
  top: 70px;
  left: 40em;
}

.newMachineShipping {
  position: relative;
  top: 8em;
  margin-left: 2.5em;
 }

.shippingInputs {
  margin-left: 20px;
  float: left;
}

.firstKit {
  float: left;
}

.secondKit {
  float: left;
}

.thirdKit {
  position: relative;
  top: 24px;
  float: left;
}

.comment {
  position: relative;
  top: 3em;
  left: 4.5em;
  width: 35em;
}

.newMachineSubmit {
  margin-top: 50px ;
}

.shippingMachinesTable {
  position: relative;
  top: 5em;
}

.shippingTable {
  margin-top: 3em;
}

.searchMachine {
   margin-left: 0.8em;
}

.find_delete_button {
  position: relative;
  top: 3em;
  }

.find_Machine {
  margin-bottom: 1em;
}

.buttonField {
  margin-left: 30em;
  position: relative;
  top: -5em;
}

.buttonEditField {
  margin-left: 30em;
  position: relative;
  top: 5em;

}

.editTable {
  position: relative;
  top: 4em;
  margin-left: 2.5em;

}

.editTableHead {
  width: 15em;
  border: 1px solid black;
}

.editTableBody {
  border: 1px solid black;
}

.shipDate {
  margin-left: 0.5em;
}

.confirmedShipDate {
  position: relative;
  left: 39em;
  top: -4.5em;
}

.confirmedDate {
  font-weight: bold;
}

.addList {
  position: relative;
  top: -3.8em;
  left: 12em;
}

.removeList {
  position: relative;
  left: 3.4em;
}