
.newMachineShipping {
  position: absolute;
  top: 100px;
  margin-left: 25px;
 }

.shippingInputs {
  margin-left: 20px;
  float: left;
}

.firstKit {
  float: left;
}

.secondKit {
  float: left;
}

.comment {
  position: absolute;
  left: 440px;
  width: 500px;
}

.newMachineSubmit {
  margin-top: 30px ;
}

.shippingMachinesTable {
  position: relative;
  top: 40px;
}

.searchField {
  margin-left: 15px;
}

.delete_Machine {
  float: left;
  margin-right: 25px;
}

.editMachine {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}

.searchMachine {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}