
.newHeadShipping {
  position: relative;
  top: 8em;
  margin-left: 25px;
}


.firstKit {
  margin-top: 25px;
}

.secondKit{
  margin-top: 25px;
}

.headerComment {
  position: relative;
  top: 1em;
  left: 1.2em;
}

.headerInputComment {
  position: relative;
  width: 500px;
}

.headerSubmit {
  position: absolute;
  top: 235px;
  left: 610px;
  width: 80px;
}

.headerSection {
  position: relative;
  top: 20em;
  left: -35em;
}

.headerTable {
  margin-top: 50px;
  margin-left: 30px;
}

.buttonDelete {
  position: relative;
  top: 5em;
  left: 27em;
}

.buttonEdit {
  position: relative;
  top: 2.5em;
  left: 10em;
}

.editHead {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}


.trailerSection {
  position: relative;
  left: 90em;
  top: -49.5em;
}

.newTrailerInput {
  position: absolute;
  top: 220px;
}

.deleteTrailer {
  position: absolute;
  top: 300px;
  left: 185px;
}

.newTrailer {
  margin-top: 10px;
}


.trailerHome {
  position: absolute;
  top: 350px;
  left: 50px;
}

.trailerOnDuty {
  position: absolute;
  top: 350px;
  left: 27em;
}

.moveButton {
  position: relative;
  top: 35em;
  left: 15em;
}

.imageButton {
  width: 8em;
  height: 4em;

}

.headerKit {
  white-space: pre-wrap;
}

table.trailerTable {
  position: absolute;
  width: 180px;
  top: 420px;
}

.trailerTableOnTheMove {
  position: relative;
  left: 25em;
}

