
//  ***************************  Supplier Results  ************************************************

.button-toggle-supplier {
  left: 45em;
  position: absolute;
  top: 15em;
}

.button-parts {
  left: 60em;
  position: absolute;
  top: 15em;
}

.submit-supplier-button {
  left: 100em;
  position: absolute;
  top: 15em;
}

.single-supplier-table {
  left: 5em;
  position: absolute;
  top: 20em;
}

table.single-supplier-extended {
  width: 1580px;
}

.quality-comment {
  width: 225px;
}

.quality-claim {
  width: 191px;
}

.checkbox-field {
  width: 61px;
}

td {
  text-align: center; // center checkbox horizontally
  vertical-align: middle;  // center checkbox vertically
}

.suppliers-table-view {
  border-spacing: 5px;
  width: auto;
}

.single-suppliers-name {
  left: 150em;
  position: absolute;
  top: 20em;
}

table.supplier-result-table {
  width: 90px;
}

.supplier-field {
  width: 95px;
}

.quality-comment-input {
  left: 120em;
  position: absolute;
  top: 25em;
}

.quality-comment-button {
  left: -.1em;
  position: absolute;
  top: -3em;
}

//  *************************  Suppliers Graphs  ********************************

.annual-machine-result {
  left: 5em;
  position: absolute;
  top: 60em;
}

.annual-supplier-result {
  left: 80em;
  position: absolute;
  top: 60em;
}

.options-header {
  left: 5em;
  position: absolute;
  top: 15em;
}

.options-header-2 {
  left: 30em;
  position: absolute;
  top: 15em;
}
