
.siSingle {
  position: relative;
  top: 5em;
  left: 3em;
}

table.siSingleTable {
  position: relative;
  top: 6em;
  left: 2em;
  width: 390px;
}

table.siType {
  position: relative;
  top: 180px;
  width: 100px;
}

table.siMachineList {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 155px;
}

.headerMultiple {
  position: relative;
  top: -47em;
  left: 50em;
}

.multipleSiTable {
  position: relative;
  top: -67em;
  left: 50em;
}

.siMdList {
  position: absolute;
  top: 80px;
  left: 400px;
}

.siSubmit {
  position: absolute;
  top: 20px;
  left: 200px;
}

.siButtons {
  position: relative;
  top: -15em;
  left: 78em;
}

.siUpload {
  position: absolute;
  top: 120px;
  left: 400px;
}

.removeSiButton {
  position: absolute;
  top: 140px;
  left: 10px;
}

.siText {
  position: absolute;
  top: -40px;
  left: 400px;
  width: 450px;
}