.add-to-pdi {
  position: absolute;
  left: 5em;
  top: 10em;
}

table.pdi-item-table {
  position: absolute;
  top: 18em;
  left: 4.5em;
  width: 32.2em;
}

tbody.pdi-items-height {
  height: 200px;
}

.pdi-item-table {
  width: 520px;
}

.remove-pdi-Item {
  position: absolute;
  left: 38em;
  top: 22em;
}

.siSingle {
  position: relative;
  top: 34em;
  left: 4em;
}

.submit-Si {
  position: absolute;
  left: 34em;
}

.siItemMachine {
  position: absolute;
  left: -0.25em;
  width: 75px;
}

.siItem {
  position: absolute;
  left: 6em;
  width: 380px;
}

table.siSingleTable {
  position: relative;
  top: 36em;
  left: 3em;
  width: 34em;
}

.remove-Si-Item {
  position: absolute;
  left: 34em;
  top: 11.5em;
}

table.siType {
  position: relative;
  top: 180px;
  width: 100px;
}

table.siMachineList {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 155px;
}

table.siInactive {
  position: absolute;
  top: 41em;
  left: 77.5em;
  width: 90px;
}

.headerMultiple {
  position: absolute;
  top: 9.5em;
  left: 50em;
}

.multipleSiTable {
  position: absolute;
  top: 10em;
  left: 50em;
  width: 20em;
}

.headSi {
  position: absolute;
  left: 28em;
  width: 20em;
}

.siMdList {
  left: 25em;
  position: absolute;
  top: 4em;
}

.siButtons {
  position: absolute;
  top: 22em;
  left: 78em;
}


.siHeader {
  left: 16.3em;
  position: absolute;
  top: 3em;
  width: 5em;
}

.siFile {
  position: absolute;
  top: 11em;
  left: 28em;
}



.siSubmit {
  position: absolute;
  top: -0.5em;
  left: 18em;
}

.reactSi {
  position: absolute;
  top: 38em;
  left: 78em;
}

