
.siTable {
  position: absolute;
  top: 100px;
  margin-left: 25px;
}

table.siSingleTable {
  width: 390px;
}

table.siType {
  position: absolute;
  top: 180px;
  width: 100px;
}

table.siMachineList {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 155px;
}

.multipleSiTable {
  position: absolute;
  top: 100px;
  left: 500px;
}

.siMdList {
  position: absolute;
  top: 80px;
  left: 400px;
}

.siSubmit {
  position: absolute;
  top: 20px;
  left: 200px;
}

.siButtons {
  position: absolute;
  top: 350px;
  left: 60em;
}

.siUpload {
  position: absolute;
  top: 120px;
  left: 400px;
}

.removeSiButton {
  position: absolute;
  top: 140px;
  left: 10px;
}

.siText {
  position: absolute;
  top: -40px;
  left: 400px;
  width: 450px;
}