

table.toDoListTable {
  position: relative;
  margin-left: 2.5em;
  top: 14em;
  width: 60.5em;
}

.toDoMessage {
  position: relative;
  top: 10em;
}

.adminLopMessage {
  position: absolute;
  top: 16em;
  left: 70em;
}