
.washBayLinks {
  position: relative;
  left: 40em;
}

table.washTable {
  width: 393px;
}

.washTable {
  position: absolute;
  top: 24em;
}

table.messageTable {
  width: 660px;
  position: absolute;
  top: 24em;
  left: 50em;
}

.washListButtons {
  margin-left: 25px;
  position: absolute;
  top: 16em;

}

.washMessage {
  margin-left: 25px;
  position: absolute;
  top: 10em;
}

.textBox {
  width: 480px;
}

.messageClearButton {
  left: 102em;
  position: absolute;
  top: 24.5em;
}

.washBayToggleButton {
  left: 51em;
  position: absolute;
  top:20em;
}

.locationButton {
  position: relative;
  top: 10em;
  left: 31em;
}