
.washBayLinks {
  position: relative;
  left: 40em;
}

table.washTable {
  width: 393px;
}

.washTable {
  position: absolute;
  top: 24em;
}

table.messageTable {
  width: 700px;
  position: absolute;
  top: 24em;
  left: 30em;
}

table.historyMessageTable {
  position: absolute;
  top: 24em;
  left: 40em;
}

.washListButtons {
  position: absolute;
  top: 16em;
  margin-left: 25px;
}

.washMessage {
  position: absolute;
  top: 10em;
  margin-left: 25px;
}

.textBox {
  width: 480px;
}

.messageClearButton {
  position: absolute;
  top: 20.5em;
  left: 32em;
}

.washBayToggleButton {
  margin-left: 300px;
}

.locationButton {
  position: relative;
  top: 10em;
  left: 31em;
}