@import "admin";
@import 'login';
@import "tables";
@import "overView";
@import "machineLocation";
@import "shippingMachine";
@import "shippingHeaders";
@import "maryView";
@import "glowingBox";
@import "pdiCheckList";
@import "pdi_overView";
@import "washList";
@import "pdiRepairList";
@import "siTable";
@import "repairMachine";

@import "buttonNotWorking";



.insideNavBar {
  margin-top: 25px;
}

.topNav {
  position: relative;
  margin-top: 25px;
  left: 40em;
}

.templateNav {
  position: absolute;
  left: 40em;
  top: 6em;
}

#logo {
  margin: 10px;
}

.selected {
  background-color: #978f93;
  z-index: 1;
}

.selectedBackgroundGreen {
  background-color: green;
}

.individualNavigation {
  font-size: 16px;
}

.navigation {
  margin-left: 25px;
}

.marginMain {
  margin-left: 25px;
}

.mainLayout {
  position: fixed;
  left: 450px;
  margin-top: 10px;
  color: black;
}

//  Inactive Buttons

.editMachine {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}

.searchMachine {
   background: repeating-linear-gradient(
                   45deg,
                   #e6e6e6,
                   #bc171b 10px,
                   #e6e6e6 10px,
                   #bc171b 20px
   );
 }

.inActive {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}