@import "admin";
@import 'login';
@import "tables";
@import "overView";
@import "machineLocation";
@import "shippingMachine";
@import "shippingHeaders";
@import "maryView";
@import "glowingBox";
@import "pdiCheckList";
@import "pdi_overView";
@import "pdi_variants";
@import "pdiMachineInspect";
@import "washList";
@import "pdiRepairList";
@import "siTable";
@import "repairMachine";
@import "readyShipList";
@import "mainLayout";
@import "buttonNotWorking";
@import "pdi_Print_Out";
@import "toDoList";
@import "commission";
@import "commission_tablet";



.insideNavBar {
  margin-top: 25px;
}

.topNav {
  position: relative;
  margin-top: 25px;
  left: 40em;
}

.templateNav {
  position: absolute;
  left: 40em;
  top: 6em;
}

#logo {
  margin: 10px;
}

.selected {
  background-color: #978f93
}

.selectedMachine {
  background-color: #978f93
}

.selectedArea {
  background-color: #978f93
}

.selectedBackgroundGreen {
  background-color: green;
}

.individualNavigation {
  font-size: 16px;
}

.navigation {
  margin-left: 25px;
}

.marginMain {
  margin-left: 25px;
}

.mainLayout {
  position: relative;
  left: 560px;
  color: black;
}

//  Inactive Buttons




.inActive {
  background: repeating-linear-gradient(
                  45deg,
                  #e6e6e6,
                  #bc171b 10px,
                  #e6e6e6 10px,
                  #bc171b 20px
  );
}