@import 'admin';
@import 'login';
@import 'tables';
@import 'overView';
@import 'machineLocation';
@import 'shippingMachine';
@import 'shippingHeaders';
@import 'maryView';
@import 'machineSearch';
@import 'glowingBox';
@import 'pdiCheckList';
@import 'pdi_overView';
@import 'pdi_variants';
@import 'pdi_repair_crew';
@import 'pdiMachineInspect';
@import 'washList';
@import 'pdiRepairList';
@import 'siTable';
@import 'repairMachine';
@import 'readyShipList';
@import 'mainLayout';
@import 'buttonNotWorking';
@import 'pdi_Print_Out';
@import 'toDoList';
@import 'editHead';
@import 'pdi_addIssue';
@import 'pdi_dropDownList';
@import 'pre_SeriesCheckOverView';
@import 'ecnOverView';
@import 'coa';
@import 'analyzing';
@import 'fuelConsumption';


.mainLayout {
  left: 40em;
  position: absolute;
}

.topNav {
  left: 40em;
  margin-top: 25px;
  position: relative;
}

.templateNav {
  left: 40em;
  position: absolute;
  top: 6em;
}

#logo {
  margin: 10px;
}

$grey: rgba(151, 143, 147, 0.3);

.selected {
  background-color: $grey;
}


//  Inactive Buttons
$comm-status: #252525;

.in-active-button {
  background-color: #e69f7c;
  opacity: .5;
  pointer-events: none;
}

.inActiveButton {
  background: #252525 repeating-linear-gradient(45deg, #e6e6e6, #bc171b);
  opacity: .8;
  pointer-events: none; }

@keyframes glowing {
  0% { background-color: #AA3939; box-shadow: 0 0 3px  #AA5939; }
  50% { background-color: #FFB232; box-shadow: 0 0 10px #FFB232; }
  100% { background-color: #FFE800; box-shadow: 0 0 3px #FFE800; }
}

.inProcess {
  animation: glowing 1500ms infinite;
  color: transparent;
}

@keyframes Siglowing {
  0% { background-color: #481317; box-shadow: 0 0 3px  #AA5939; }
  50% { background-color: #cb2aff; box-shadow: 0 0 10px #ffd855; }
  100% { background-color: #1cbdee; box-shadow: 0 0 3px #ec67ff; }
}
