.submitAdmin {
  position: absolute;
  left: 57em;
}

.totalUsers {
  margin-left: 25px;
  position: absolute;
  top: 100px;
}

.newUser {
  position: absolute;
  top: 120px;
  margin-left: 10px;
}

table.fiscalTable {
  position: absolute;
  top: 20em;
  left: 3em;
}

table.tableWidth {
  width: 210px;
}

.machineMovingTable {
  position: absolute;
  top: 1em;
  left: 3em;
}

.moveMachineSubmit {
  position: absolute;
  top: 14em;
  left: 15em;
}

.headMovingTable {
  position: absolute;
  left: 25em;
  top: 1em;
}

.logo {
  margin: 25px;
}

.login-image {
  margin-top: 50px;
}

.user-name {
  left: 25px;
  position: absolute;
  top: 150px;
}

.login-passwd {
  left: 25px;
  position: absolute;
  top: 220px;
}

.login-button {
  left: 25px;
  position: absolute;
  top: 290px;
}

.loading-screen {
  left: 20em;
  position: absolute;
  top: 3em;
}

thead {
  background-color: lightgrey;
}

table tbody, table thead {
  display: block;
}

table tbody {
  overflow: auto;
  height: 500px;
}

table.blueTable {
  width: 1195px;
}

table.blueTable {
  border: 1px solid #a49892;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 8px;
}

table.blueTable tbody td {
  font-size: 13px;
  word-wrap: break-word;
}

table.blueTable thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}

table.blueTable thead th {
  border-left: 2px solid #d0e4f5;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #d6e0f5;
  border-top: 2px solid #444444;
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links a {
  display: inline-block;
  background: #8f8e8c;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

th {
  height: 50px;
}

table.tableAdminPos {
  width: 853px;
}

.adminUserId {
  max-width: 170px;
  min-width: 170px;
}

.adminUser {
  max-width: 80px;
  min-width: 80px;
}

.userRole {
  max-width: 80px;
  min-width: 80px;
}

.userCreated {
  max-width: 120px;
  min-width: 120px;
}

.userCreatedBy {
  max-width: 80px;
  min-width: 80px;
}

.userLastLogin {
  max-width: 110px;
  min-width: 110px;
}

.userIP {
  max-width: 100px;
  min-width: 100px;
}

.userStatus {
  max-width: 60px;
  min-width: 60px;
}

.userLogOut {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}

.userErase {
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}

.tablePdiOverview {
  position: absolute;
  top: 300px;
}

.kitSet {
  max-width: 450px;
  min-width: 450px;
}

.pdiMachineField {
  max-width: 80px;
  min-width: 80px;
}

.pdiShipDate {
  max-width: 90px;
  min-width: 90px;
}

.pdiDestination {
  max-width: 100px;
  min-width: 100px;
}

.pdiTransporter {
  max-width: 100px;
  min-width: 100px;
}

.pdiTruckOnOrder {
  max-width: 70px;
  min-width: 70px;
}

.pdiTruckDate {
  min-width: 6em;
  max-width: 6em;
}

.truckDateCorrection {
  min-width: 6.8em;
}

.pdiKitList {
  max-width: 80px;
  min-width: 80px;
}

.pdiComments {
  max-width: 290px;
  min-width: 290px;
}

.pdiKitField {
  max-width: 145px;
  min-width: 145px;
}

.pdiTireField {
  max-width: 145px;
  min-width: 145px;
}

.pdiPDIField {
  max-width: 50px;
  min-width: 50px;
}

.pdiRepField {
  max-width: 50px;
  min-width: 50px;
}

.pdiVariantDescription {
  max-width: 250px;
  min-width: 250px;
}

.pdiWashField {
  max-width: 50px;
  min-width: 50px;
}

.pdiShipField {
  max-width: 60px;
  min-width: 60px;
}

.pdiLocation {
  max-width: 70px;
  min-width: 70px;
}

.pdiConfig {
  max-width: 60px;
  min-width: 60px;
}

.pdiTrailer {
  max-width: 80px;
  min-width: 80px;
}

.headerKit {
  max-width: 320px;
  min-width: 320px;
}

.pdiUser {
  max-width: 200px;
  min-width: 200px;
}

table.headerTable {
  width: 230px;
}

.headerId {
  max-width: 80px;
  min-width: 80px;
}

.headerShipDate {
  max-width: 90px;
  min-width: 90px;
}

.headerStatus {
  max-width: 80px;
  min-width: 80px;
}

.ecnTextField {
  max-width: 850px;
  min-width: 850px;
}

.overView {
  left: 200px;
  position: relative;
  top: 80px;
}

.openStatus {
  margin-left: 25px;
  position: relative;
  top: 80px;
  width: 300px;
}

.headerTablePosition {
  left: 37em;
  position: absolute;
  top: 21em;
  z-index: -1;
}

table.overViewTable {
  float: left;
  position: relative;
  top: 6em;
  width: 21em;
}

.machine-font {
  font-weight: bolder;
}

.sort-button {
  left: 27em;
  position: absolute;
  top: 21em;
}

.pdi-release-button {
  left: 555px;
  position: absolute;
  top: 210px;
}

.submit-button {
  left: 480px;
  position: absolute;
  top: 79px;
}

.locationTable {
  position: relative;
  top: 13em;
  margin-left: 2.5em;
}

table.locationTable {
  width: 30em;
}

.mLocationId {
  position: relative;
  top: 10em;
  margin-left: 2.8em;
}

.shippingNav {
  position: absolute;
  top: 70px;
  left: 40em;
}

.switchToHeader {
  position: absolute;
  left: -13em;
  top: -2.5em;
}

.newMachineShipping {
  position: relative;
  top: 3em;
  margin-left: 2.5em;
}

.shippingInputs {
  margin-left: 20px;
  float: left;
}

.machineReturn {
  position: absolute;
  left: 71em;
}

.firstKit {
  float: left;
}

.secondKit {
  float: left;
}

.thirdKit {
  position: relative;
  top: 24px;
  float: left;
}

.comment {
  position: relative;
  top: 3em;
  left: 4.5em;
  width: 35em;
}

.newMachineSubmit {
  left: 429px;
  position: absolute;
  top: 144px;
}

.load-machine-list {
  left: 630px;
  position: absolute;
  top: 123px;
}

.toggleShippedAll {
  position: absolute;
  top: 16em;
  left: 35em;
}

.shippingMachinesTable {
  position: relative;
  top: 7em;
}

.searchMachine {
  margin-left: 0.8em;
}

.find_delete_button {
  position: absolute;
  top: 1em;
  left: 90em;
}

.find_Machine {
  margin-bottom: 1em;
}

.buttonField {
  margin-left: 30em;
  position: relative;
  top: -2em;
  left: 50em;
}

.buttonEditField {
  margin-left: 30em;
  position: relative;
  top: 5em;
}

.editTable {
  position: relative;
  top: 4em;
  margin-left: 2.5em;
}

.editTableHead {
  width: 15em;
  border: 1px solid black;
}

.editTableBody {
  border: 1px solid black;
}

.shipDate {
  margin-left: 0.5em;
}

.addTruck {
  left: 12em;
  position: absolute;
}

.removeTruck {
  left: 12em;
  position: absolute;
}

.confirmedShipDate {
  position: relative;
  left: 39em;
  top: -4.5em;
}

.confirmedDate {
  font-weight: bold;
}

table.editTable tbody.editBody, thead.editTableHead {
  display: revert;
  height: 50px;
}

.shipped-machines {
  left: 10em;
  position: absolute;
  top: 25em;
}

.switchToCombine {
  position: absolute;
  left: 27em;
  top: 2em;
}

.newHeadShipping {
  position: relative;
  top: 8em;
  margin-left: 25px;
}

.firstKit {
  margin-top: 25px;
}

.secondKit {
  margin-top: 25px;
}

.headerComment {
  position: relative;
  top: 1em;
  left: 1.2em;
}

.headerInputComment {
  position: relative;
  width: 500px;
}

.headerSubmit {
  position: absolute;
  top: 235px;
  left: 610px;
  width: 80px;
}

.headerSection {
  position: absolute;
  top: 32.3em;
}

.headerTable {
  margin-top: 50px;
  margin-left: 30px;
}

.buttonDelete {
  position: relative;
  top: 5em;
  left: 45em;
}

.buttonToggle {
  position: relative;
  left: 30em;
}

.buttonEdit {
  position: relative;
  top: 2.5em;
  left: 10em;
}

.trailerSection {
  position: relative;
  left: 105em;
  top: 1em;
}

.newTrailerInput {
  position: absolute;
  top: 220px;
}

.deleteTrailer {
  position: absolute;
  top: 300px;
  left: 185px;
}

.newTrailer {
  margin-top: 10px;
}

.trailerHome {
  position: absolute;
  top: 350px;
  left: 50px;
}

.trailerOnDuty {
  position: absolute;
  top: 350px;
  left: 27em;
}

.moveButton {
  position: relative;
  top: 35em;
  left: -21.5em;
}

.imageButton {
  width: 8em;
  height: 4em;
}

.headerButtonField {
  position: absolute;
  top: -2em;
  left: 60em;
}

.headerKit {
  white-space: pre-wrap;
}

table.trailerTable {
  position: absolute;
  width: 180px;
  top: 420px;
}

.trailerTableOnTheMove {
  position: relative;
  left: 25em;
}

tbody.machineSearchTable {
  height: 50px;
}

@keyframes glowing {
  0% {
    background-color: #AA3939;
    box-shadow: 0 0 3px #AA5939;
  }
  50% {
    background-color: #FFB232;
    box-shadow: 0 0 10px #FFB232;
  }
  100% {
    background-color: #FFE800;
    box-shadow: 0 0 3px #FFE800;
  }
}
@keyframes Siglowing {
  0% {
    background-color: #481317;
    box-shadow: 0 0 3px #AA5939;
  }
  50% {
    background-color: #cb2aff;
    box-shadow: 0 0 10px #ffd855;
  }
  100% {
    background-color: #1cbdee;
    box-shadow: 0 0 3px #ec67ff;
  }
}
a:hover {
  background-color: lightgrey;
  text-align: right;
  text-decoration: none;
}

.checkpointHeader .title {
  margin-top: 40px;
  height: 40px;
  line-height: 30px;
  background: gray;
  font-size: 18px;
  font-family: verdana, serif;
  display: block;
  color: white;
  padding: 10px;
  vertical-align: center;
}

.input {
  border: black 1px;
  background-color: #e6e6e6;
}

.inputMargin {
  float: left;
  margin-left: 2em;
}

select > option[value=""] {
  display: none;
}

.descriptionBox {
  width: 350px;
}

.checkBoxHeader {
  padding-left: 40px;
}

.checkBoxMargin {
  margin: 5px;
}

.inputRange {
  width: 220px;
}

.checkBoxCheckList {
  position: relative;
  left: 3em;
}

table.tableChecklist {
  position: absolute;
  top: 27em;
  margin-left: 2em;
  width: 800px;
}

.position {
  max-width: 142px;
  min-width: 142px;
}

.failure {
  max-width: 500px;
  min-width: 500px;
}

.failureRow {
  max-width: 500px;
  min-width: 500px;
}

.type {
  max-width: 100px;
  min-width: 100px;
}

.rangeField {
  max-width: 136px;
  min-width: 136px;
}

.range {
  max-width: 136px;
  min-width: 136px;
}

table {
  width: 411px;
  margin-left: 10px;
}

tbody.pdiCheckList {
  height: 500px;
  overflow: auto;
}

.pdiCheckList {
  border: 1px solid #a49892;
  background-color: #EEEEEE;
}

.positionCheckPos {
  position: absolute;
  margin: 10px;
  top: 0;
  font-weight: bold;
  font-size: 16px;
}

.positionCheckText {
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
}

.setWeeklyGoal {
  position: absolute;
  left: 25em;
  top: 11em;
}

#logo {
  position: absolute;
  top: 25px;
}

.overviewHeader {
  position: absolute;
  top: 120px;
  font-size: 25px;
  margin-left: 25px;
}

.pdiButton {
  position: absolute;
  top: 240px;
  margin-left: 25px;
}

.pdiOverViewNav {
  left: 559px;
  position: absolute;
  top: 50px;
}

.container-one {
  left: 40em;
  overflow: hidden;
  position: absolute;
  top: 17.1em;
}

.container-two {
  left: 60em;
  overflow: hidden;
  position: absolute;
  top: 17.1em;
}

.file-container-origin [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.file-container-new [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

table.pdiTable {
  width: 570px;
}

.loadVariantButton {
  position: relative;
  top: -3em;
  left: 22em;
}

.howTo {
  position: relative;
  margin-left: 100px;
}

.variantViewer {
  margin-left: 25px;
}

.variantButtons {
  position: relative;
  top: 1em;
  margin: 10px;
}

.variantTable {
  position: relative;
  top: -20em;
}

.variant-info-thumb {
  width: 90px;
}

.variant-visibility {
  width: 100px;
  text-align: center;
}

.variant-visible {
  text-align: center;
  min-width: 90px;
}

.submit-pic {
  left: 55em;
  position: absolute;
  top: 20em;
}

.pdi-repair-finnish {
  left: 100em;
  position: absolute;
  top: 794px;
}

.toggle-button {
  left: 35em;
  position: absolute;
}

.reOpenRepairSection {
  left: 690px;
  position: absolute;
  top: 221px;
}

.toggle-ship-date {
  left: 182px;
  position: absolute;
  top: 271px;
}

table.repair-table {
  margin-left: 35px;
  position: absolute;
  top: 20em;
  width: 850px;
}

.repair-header {
  left: 4em;
  position: absolute;
  top: 47em;
}

.road-test-table {
  left: 1127px;
  position: absolute;
  top: 16px;
}

.road-test-header {
  left: 380px;
  position: relative;
  top: 250px;
}

.road-test-button {
  left: 1500px;
  position: absolute;
  top: 240px;
}

.road-test-inputs {
  left: 2150px;
  position: absolute;
  top: 326px;
}

.thumbnail-pdi-crew:hover img {
  left: 37em;
  position: absolute;
  top: -300px;
  transform: scale(2);
  z-index: 1;
}

table.display-error {
  width: 1160px;
}

.pdi-comment {
  width: 200px;
}

.pdi-rep-comment {
  width: 45em;
}

.pdi-rep-comment-field {
  width: 200px;
}

.pdi-time {
  width: 50px;
}

.pdi-rep-status {
  max-width: 65px;
  min-width: 65px;
}

.pdi-issuer {
  width: 73px;
}

.team-button {
  width: 9em;
}

.pdi-image {
  max-width: 70px;
  min-width: 70px;
}

.pdi-rep-tech {
  width: 97px;
}

.utility-repair {
  left: 87em;
  position: absolute;
  top: 50em;
  z-index: -2;
}

.pdi-open-repair {
  left: 1px;
  position: absolute;
  top: 1em;
}

.pdi-repair-orders {
  left: 1340px;
  position: absolute;
  top: 1223px;
}

.pdiToDo {
  margin-left: 3em;
}

.profiCamInputPos {
  position: relative;
  top: 1em;
}

.configButtonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  left: -1px;
  position: absolute;
  width: 130px;
}

.configButtonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  left: 130px;
  position: absolute;
  width: 130px;
}

.configButtonInfo {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 69px;
  position: absolute;
  width: 130px;
}

.config-image {
  width: 100em;
}

.buttonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  left: -1px;
  position: absolute;
  width: 130px;
}

.buttonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  left: 130px;
  position: absolute;
  width: 130px;
}

.buttonNA {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 259px;
  position: absolute;
  width: 130px;
}

.pdiCell {
  font-size: 16px;
  height: 10em;
  position: relative;
  width: 39em;
}

.inputSize {
  height: 3em;
  width: 12em;
}

.inputIssueSize {
  height: 3em;
  width: 25em;
}

.configHeader {
  left: 3em;
  position: relative;
  width: 20em;
}

.configTable {
  margin-left: 3em;
}

.re-config-table {
  left: 40em;
  position: absolute;
  top: 64em;
}

.checkListTable {
  margin-left: 3em;
}

.pdiDivider {
  left: 3.5em;
  position: relative;
  width: 30em;
}

.mainComponentsPos {
  left: 3.6em;
  position: relative;
}

.dropDown {
  border-radius: 1px;
  font-size: 20px;
  height: 40px;
  min-width: 220px;
  padding: 1rem;
  transform-origin: center top;
  white-space: nowrap;
  width: 100px;
  z-index: 1001;
}

.issueField {
  margin-left: 3em;
  width: 172px;
}

.addIssueText {
  width: 30em;
}

.pdiInputFields {
  margin: 0.8em;
  width: 30em;
}

table.newIssuesTable {
  left: 2em;
  position: relative;
  width: 32em;
  display: block;
  overflow: auto;
  height: 505px;
}

.add-image-to-repair {
  left: 36em;
  position: absolute;
  top: 195em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.print-error-description {
  font-weight: bolder;
}

.pdi-repair {
  position: absolute;
  left: 34.5em;
  top: 205em;
}

.pdi-estimate {
  left: 515px;
  position: absolute;
  top: 2651px;
  background-color: #ed0606;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.pdi-repair-button {
  position: absolute;
  left: 6em;
}

.submit-button-image {
  left: 26em;
  position: absolute;
  top: 1.9em;
}

.deleteRepair {
  width: 12em;
}

.pdi-repair {
  margin-left: 2em;
}

.confirm-pdi-repair {
  position: relative;
}

.batteries {
  left: 3em;
  position: relative;
  width: 200px;
}

.endOfList {
  margin-bottom: 10em;
}

.washBayLinks {
  position: relative;
  left: 40em;
}

table.washTable {
  width: 393px;
}

.washTable {
  position: absolute;
  top: 24em;
}

table.messageTable {
  width: 660px;
  position: absolute;
  top: 24em;
  left: 50em;
}

.washListButtons {
  margin-left: 25px;
  position: absolute;
  top: 16em;
}

.washMessage {
  margin-left: 25px;
  position: absolute;
  top: 10em;
}

.textBox {
  width: 480px;
}

.messageClearButton {
  left: 102em;
  position: absolute;
  top: 24.5em;
}

.washBayToggleButton {
  left: 51em;
  position: absolute;
  top: 20em;
}

.locationButton {
  position: relative;
  top: 10em;
  left: 31em;
}

.searchMe {
  position: absolute;
  top: 16em;
  left: 40em;
}

.machine-search {
  position: absolute;
  top: 170px;
  left: 560px;
}

table.table-historic {
  width: 280px;
  position: absolute;
  top: 375px;
  left: 100px;
  margin-left: auto;
  margin-right: auto;
}

.histMachine {
  width: 85px;
  text-align: center;
}

.histDate {
  width: 175px;
  text-align: center;
}

.printButton {
  position: absolute;
  top: 16em;
  left: 60em;
}

.history-pdi-machine {
  padding-left: 20px;
}

.history-pdi-date {
  padding-left: 65px;
}

.machine-sort {
  position: absolute;
  top: 376px;
  left: 100px;
  width: 90px;
  height: 50px;
  opacity: 0;
}

.date-sort {
  position: absolute;
  top: 376px;
  left: 190px;
  width: 173px;
  height: 50px;
  opacity: 0;
}

table.pdiRepairList {
  position: absolute;
  top: 280px;
  margin-left: 25px;
  width: 242px;
  left: 20em;
}

.pdiUser {
  padding: 25px;
}

.sumRightSide {
  position: relative;
  top: -122px;
  left: 300px;
}

.printList {
  position: relative;
  top: 4em;
  left: 2em;
}

.print-error-description {
  width: 29em;
}

.repair-box {
  position: absolute;
  left: 2em;
  top: 50em;
}

.view-box {
  position: absolute;
  left: 40em;
  top: 20em;
}

table.issue-list {
  width: 530px;
  height: 60px;
}

.image-box-thumb {
  width: 100px;
  height: 100px;
}

.add-to-pdi {
  left: 5em;
  position: absolute;
  top: 10em;
}

table.pdi-item-table {
  left: 4.5em;
  position: absolute;
  top: 18em;
  width: 32.2em;
}

tbody.pdi-items-height {
  height: 200px;
}

.pdi-item-table {
  width: 520px;
}

.remove-pdi-Item {
  position: absolute;
  left: 38em;
  top: 22em;
}

.siSingle {
  position: relative;
  top: 34em;
  left: 4em;
}

.submit-Si {
  position: absolute;
  left: 34em;
}

.siItemMachine {
  position: absolute;
  left: -0.25em;
  width: 75px;
}

.siItem {
  position: absolute;
  left: 6em;
  width: 380px;
}

table.siSingleTable {
  position: relative;
  top: 36em;
  left: 3em;
  width: 34em;
}

.remove-Si-Item {
  position: absolute;
  left: 34em;
  top: 11.5em;
}

table.siType {
  position: relative;
  top: 180px;
  width: 100px;
}

table.siMachineList {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 155px;
}

table.siInactive {
  position: absolute;
  top: 41em;
  left: 77.5em;
  width: 90px;
}

.headerMultiple {
  position: absolute;
  top: 9.5em;
  left: 50em;
}

.multipleSiTable {
  position: absolute;
  top: 10em;
  left: 50em;
  width: 20em;
}

.headSi {
  position: absolute;
  left: 28em;
  width: 20em;
}

.siMdList {
  left: 25em;
  position: absolute;
  top: 4em;
}

.siButtons {
  position: absolute;
  top: 22em;
  left: 78em;
}

.siHeader {
  left: 16.3em;
  position: absolute;
  top: 3em;
  width: 5em;
}

.siFile {
  position: absolute;
  top: 11em;
  left: 28em;
}

.siSubmit {
  position: absolute;
  top: -0.5em;
  left: 18em;
}

.reactSi {
  position: absolute;
  top: 38em;
  left: 78em;
}

.repair-orders {
  left: 1378px;
  position: absolute;
  top: 8px;
}

.repair-order-button {
  left: -112px;
  position: relative;
  top: 18px;
}

.repair-cancel-button {
  left: 10px;
  position: relative;
  top: -16px;
}

.part-number-table {
  width: 120px;
}

.part-storage-bin {
  width: 120px;
}

.part-order-quantity {
  width: 77px;
}

.date-time-order {
  width: 170px;
}

.repair-order-parts {
  left: 21px;
  position: absolute;
  top: 10px;
}

.picked-by {
  width: 95px;
}

table.repair-order-table {
  display: block;
  height: 300px;
  left: 130px;
  position: relative;
  top: -51px;
  width: 691px;
}

table.repair-history-table {
  display: block;
  height: 300px;
  left: 130px;
  position: relative;
  top: -10px;
  width: 935px;
}

table.repairTable {
  position: absolute;
  margin-left: 35px;
  top: 22em;
  width: 960px;
}

tbody.tableHeight {
  height: 264px;
}

table.issueTable {
  position: absolute;
  top: 13em;
  left: 49.3em;
  width: 400px;
}

tbody.newIssueTableHeight {
  height: 72px;
}

.addIssueToList {
  position: absolute;
  top: 13em;
  left: 80em;
}

.add-pdi-comment {
  max-width: 300px;
}

.reActivateRepair {
  position: absolute;
  top: 19em;
  left: 52em;
}

.issueHeader {
  position: absolute;
  top: 11em;
  left: 50em;
}

.repairLoad {
  position: relative;
  top: 6em;
  margin-left: 25px;
}

.repairButton {
  position: absolute;
  top: 102px;
  left: 0;
}

.workingHours {
  position: absolute;
  left: 2em;
  top: 4.2em;
}

.toggleRepairUpcoming {
  position: relative;
  left: 30em;
  top: 5.1em;
}

.washHeader {
  position: absolute;
  top: -0.5em;
  left: -7em;
}

.washBayText {
  position: relative;
  top: -5em;
  left: 36.5em;
}

.washBayMessage {
  position: absolute;
  top: -0.5em;
  left: 45em;
}

#textMessage {
  width: 400px;
}

.repNav {
  left: 389px;
  position: absolute;
  top: 25px;
}

.kitListButton {
  position: absolute;
  top: 22em;
  left: 82em;
}

.repair-print-list {
  left: 83em;
  position: absolute;
  top: 50em;
}

table.table-width {
  width: 1100px;
}

.repair-comment {
  width: 45em;
}

.error-description {
  width: 45.4em;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.repair-table-view {
  width: 500px;
  height: 515px;
}

.pdi-rep-conf {
  width: 6em;
}

.confirm-text-area {
  width: 500px;
  height: 45px;
}

.confirm-time-area {
  width: 50px;
  height: 30px;
}

.add-to-repair {
  position: absolute;
  top: 18em;
}

.repair-user {
  left: 70em;
  position: absolute;
  top: 50em;
}

.repair-machine {
  left: 39px;
  position: absolute;
  top: 643px;
}

.outBoundNav {
  position: absolute;
  left: 40em;
}

.shipMe {
  position: absolute;
  left: 32em;
  top: 15em;
}

.shipMeButton {
  left: -25em;
  position: absolute;
}

table.readyTable {
  position: relative;
  top: 16em;
  left: 2em;
  width: 600px;
}

.repairNavButton {
  position: relative;
  left: 40em;
}

.printoutMargin {
  margin-left: 1em;
}

.footer {
  bottom: 40px;
  font-size: x-small;
  height: 30px;
  position: fixed;
  width: 70%;
}

.printOutTable {
  width: 900px;
}

tr.tableHeight {
  height: 55px;
}

.tableWidthError {
  width: 300px;
}

.tableWidthComment {
  width: 200px;
}

.tableWidthSignOff {
  width: 50px;
}

table.toDoListTable {
  position: relative;
  margin-left: 2.5em;
  top: 14em;
  width: 60.5em;
}

.toDoMessage {
  position: relative;
  top: 10em;
}

.adminLopMessage {
  position: absolute;
  top: 16em;
  left: 70em;
}

.inputEditHead {
  position: absolute;
  top: 10em;
  left: 3em;
}

.headFloater {
  float: left;
  margin-left: 2em;
}

.headComment {
  position: absolute;
  top: 20em;
  left: 4em;
}

.headSubmit {
  position: absolute;
  top: 25em;
  left: 4em;
}

.headLiner {
  position: absolute;
  top: 10em;
  left: 5em;
}

.addIssue {
  position: absolute;
  top: 20em;
  left: 10em;
}

.inputNewIssue {
  position: absolute;
  top: 20em;
  left: 40em;
}

#newIssueInput {
  width: 50em;
}

.removeButton {
  position: absolute;
  top: 6em;
}

.issueList {
  position: absolute;
  top: 30em;
  left: 10em;
}

.logoDropDown {
  position: absolute;
  top: 5em;
  left: 2em;
}

.formDropDown {
  position: absolute;
  top: 15em;
  left: 2em;
}

.componentTable {
  position: absolute;
  top: 25em;
  left: 1.3em;
}

.boxWidth {
  width: 11em;
}

table.mainCompTable {
  width: 9.8em;
}

tbody.mainCompTbody {
  overflow: unset;
  height: 0;
}

.subComponentTable {
  position: absolute;
  top: 25em;
  left: 15em;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.image {
  float: left;
  height: 80%;
  margin-bottom: 10px;
  width: 80%;
}

.button {
  left: 10em;
  margin-left: 40px;
  position: relative;
  width: 150px;
}

table, td {
  border: 2px solid #333;
}

.ecnOverView {
  position: absolute;
  top: 5em;
  left: 2em;
}

.mcoTable {
  position: absolute;
  top: 30em;
  left: 2em;
}

.checkBoxList {
  position: absolute;
  top: 0.5em;
  left: 20em;
}

.searchBoxes {
  position: absolute;
  top: 5.5em;
  left: 60em;
}

.goButton {
  position: absolute;
  top: 20em;
  left: 60em;
}

.mcoReCording {
  position: absolute;
  top: 9.5em;
  left: 70em;
}

.coa-machine-date {
  left: 40em;
  position: absolute;
}

.btn-over-view {
  left: 2em;
  position: absolute;
  top: 10em;
}

.refresh-button {
  position: absolute;
  top: -3em;
}

.btn-key-word {
  left: 9.5em;
  position: absolute;
  top: 10em;
}

.btn-response-team {
  left: 22em;
  position: absolute;
  top: 10em;
  width: 14.5em;
}

.btn-response-supplier {
  left: 51em;
  position: absolute;
  top: 10em;
}

.btn-pdi {
  left: 74em;
  position: absolute;
  top: 10em;
}

.btn-options {
  left: 85em;
  position: absolute;
  top: 10em;
}

.analyze-overview {
  border-collapse: separate;
  border-spacing: 20px;
  border-style: solid;
  left: 2em;
  position: absolute;
  top: 18em;
}

.search-text {
  left: 5em;
  position: absolute;
  top: 20em;
}

.analyze-table {
  left: 3em;
  position: absolute;
  top: 25em;
}

.result-table {
  width: 45em;
}

.error-machine {
  text-align: center;
  width: 10em;
}

.error-field {
  width: 30em;
}

td.error-machine {
  height: 30px;
}

.count-result {
  left: 44em;
  position: absolute;
  top: 20em;
}

table.analyze-team-table {
  width: 1130px;
}

.response-team {
  left: 5em;
  position: absolute;
  top: 15em;
}

.team-table {
  left: 35em;
  position: absolute;
  top: 15em;
}

.btn-team1-details {
  left: 22em;
  position: absolute;
  top: -0.1em;
}

.btn-team2-details {
  left: 22em;
  position: absolute;
  top: 4em;
}

.btn-team3-details {
  left: 22em;
  position: absolute;
  top: 8.5em;
}

.btn-team4-details {
  left: 22em;
  position: absolute;
  top: 12.7em;
}

.btn-team5-details {
  left: 22em;
  position: absolute;
  top: 17em;
}

.btn-teamTestBay-details {
  left: 22em;
  position: absolute;
  top: 21.5em;
}

.btn-teamSupplier-details {
  left: 22em;
  position: absolute;
  top: 25.5em;
}

.btn-ctd-details {
  left: 22em;
  position: absolute;
  top: 30.5em;
}

.btn-development-details {
  left: 22em;
  position: absolute;
  top: 34.5em;
}

.btn-unknown-details {
  left: 22em;
  position: absolute;
  top: 38.5em;
}

.btn-not-applicable-details {
  left: 22em;
  position: absolute;
  top: 42.5em;
}

.btn-undefined-issuer-details {
  left: 22em;
  position: absolute;
  top: 46.5em;
}

.date-bay-19 {
  width: 84px;
}

.thumbnail-box {
  height: 50px;
  width: 73px;
}

.team-select {
  width: 116px;
}

.thumbnail:hover img {
  left: 50em;
  position: absolute;
  top: 100px;
  transform: scale(1.8);
  z-index: 1;
}

.pdi-search-position {
  left: 5em;
  position: absolute;
  top: 20em;
}

.pdi-performer,
.pdi-summary {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  width: 100px;
}

.pdi-result-graph {
  left: 30em;
  position: absolute;
  top: 15em;
}

.pdi-per-day-result {
  left: 30em;
  position: absolute;
  top: 50em;
}

.team-repair-time-graph {
  left: 35em;
  position: absolute;
  top: 55em;
}

.supply-list-pdi-tech {
  max-width: 75px;
  min-width: 75px;
}

.pdi-comment-time-table {
  max-width: 250px;
  min-width: 250px;
}

.repair-time-table {
  left: 5em;
  position: absolute;
  top: 15em;
}

.supply-issuer {
  max-width: 75px;
  min-width: 75px;
}

.pdi-repair-time {
  max-width: 65px;
  min-width: 65px;
}

.look-up-machine-number {
  left: 34px;
  position: absolute;
  top: 18em;
  width: 270px;
}

.parts-ordered {
  left: 138em;
  position: absolute;
  top: 246px;
  width: 270px;
}

.claim-number {
  left: 22em;
  position: relative;
  top: 5px;
}

.part-number {
  left: 22em;
  position: relative;
  top: 12px;
}

.order-radio-button {
  left: 1px;
  position: relative;
  top: -4em;
}

table.parts-order-table {
  width: 390px;
}

.supplier-only-button {
  left: 650px;
  position: absolute;
  top: 300px;
}

.toggle-list-button {
  left: 900px;
  position: absolute;
  top: 300px;
}

.issue-count {
  left: 567px;
  position: absolute;
  top: 205px;
}

.machine-sort-button {
  left: 25px;
  position: absolute;
  top: 10px;
  z-index: 1;
  opacity: 0;
  width: 50px;
  height: 50px;
}

.button-pdiTech-sort {
  left: 91px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.pdiTech-sort-button {
  width: 72px;
  height: 53px;
}

.button-repTech-sort {
  left: 416px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.repTech-sort-button {
  width: 72px;
  height: 53px;
}

.button-issuer-sort {
  left: 742px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.issuer-sort-button {
  width: 73px;
  height: 53px;
}

.button-repairTime-sort {
  left: 815px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.repairTime-sort-button {
  width: 60px;
  height: 53px;
}

.button-qualityComments-sort {
  left: 1285px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.qualityComments-sort-button {
  width: 134px;
  height: 53px;
}

.button-qualityClaim-sort {
  left: 1419px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.qualityClaim-sort-button {
  width: 134px;
  height: 53px;
}

.button-parts-sort {
  left: 1555px;
  position: absolute;
  top: 1px;
  z-index: 1;
  opacity: 0;
}

.parts-sort-button {
  width: 57px;
  height: 53px;
}

.checkbox-button {
  left: 1545px;
  position: absolute;
  top: -50px;
}

.checkbox-field {
  min-width: 66px;
  max-width: 50px;
}

.order-number {
  width: 120px;
}

.insert-quality-comment {
  height: 80px;
  left: 98em;
  position: absolute;
  top: 8em;
  width: 370px;
}

.parts-on-order {
  min-width: 57px;
  max-width: 57px;
  text-align: center;
}

.issue-closed {
  min-width: 54px;
  max-width: 60px;
  text-align: center;
}

.quality-button {
  left: 37em;
  position: absolute;
  top: 5em;
}

.order-header {
  left: 6em;
  position: relative;
}

.order-list {
  left: 137em;
  position: absolute;
  top: 21em;
}

.supplier-table {
  left: 2em;
  position: absolute;
  top: 29em;
}

table.extended-table {
  width: 1469px;
}

.assign-supplier {
  max-width: 135px;
  min-width: 135px;
}

.quality-comment {
  max-width: 135px;
  min-width: 135px;
}

.quality-claim {
  max-width: 135px;
  min-width: 135px;
}

.single-suppliers-name {
  left: 2em;
  position: absolute;
  top: 25em;
}

table.supplier-result-table {
  width: 90px;
}

.supplier-field {
  width: 95px;
}

.options-header {
  left: 5em;
  position: absolute;
  top: 19em;
}

.team-supplier-width {
  width: 140px;
}

.team-supplier-table {
  width: 125px;
}

.input-new-team {
  left: 2em;
  position: absolute;
  top: 5em;
}

.remove-team-button {
  left: 16em;
  position: absolute;
  top: 10em;
}

.add-team-table {
  left: 1em;
  position: absolute;
  top: 10em;
}

.add-supplier-table {
  left: 6em;
  position: absolute;
  top: 10em;
}

.btn-add-new {
  left: 14em;
  position: relative;
  top: -2em;
}

.input-new-supplier {
  left: 7em;
  position: absolute;
  top: 5em;
}

.btn-add-supplier {
  left: 14em;
  position: absolute;
  top: 1.5em;
}

.supplier-toggle-list {
  left: 28em;
  position: absolute;
  top: 15em;
}

.remove-supplier-button {
  left: 21em;
  position: absolute;
  top: 10em;
}

table.recon-order-table {
  display: block;
  height: 300px;
  left: 490px;
  position: relative;
  top: 35px;
  width: 691px;
}

table.recon-history-table {
  display: block;
  height: 500px;
  left: 490px;
  position: relative;
  top: 150px;
  width: 691px;
}

.recon-cancel-button {
  left: 350px;
  position: absolute;
  top: 50px;
}

.recon-order-form {
  position: absolute;
  top: 50px;
}

.mainLayout {
  left: 40em;
  position: absolute;
}

.topNav {
  left: 40em;
  margin-top: 25px;
  position: relative;
}

.templateNav {
  left: 40em;
  position: absolute;
  top: 6em;
}

#logo {
  margin: 10px;
}

.selected {
  background-color: rgba(151, 143, 147, 0.3);
}

.in-active-button {
  background-color: #e69f7c;
  opacity: 0.5;
  pointer-events: none;
}

.inActiveButton {
  background: #252525 repeating-linear-gradient(45deg, #e6e6e6, #bc171b);
  opacity: 0.8;
  pointer-events: none;
}

@keyframes glowing {
  0% {
    background-color: #AA3939;
    box-shadow: 0 0 3px #AA5939;
  }
  50% {
    background-color: #FFB232;
    box-shadow: 0 0 10px #FFB232;
  }
  100% {
    background-color: #FFE800;
    box-shadow: 0 0 3px #FFE800;
  }
}
.inProcess {
  animation: glowing 1500ms infinite;
  color: transparent;
}

@keyframes Siglowing {
  0% {
    background-color: #481317;
    box-shadow: 0 0 3px #AA5939;
  }
  50% {
    background-color: #cb2aff;
    box-shadow: 0 0 10px #ffd855;
  }
  100% {
    background-color: #1cbdee;
    box-shadow: 0 0 3px #ec67ff;
  }
}

/*# sourceMappingURL=main.css.map */
