.submitAdmin {
  position: absolute;
  left: 57em; }

.totalUsers {
  margin-left: 25px;
  position: absolute;
  top: 100px; }

.newUser {
  position: absolute;
  top: 120px;
  margin-left: 10px; }

table.fiscalTable {
  position: absolute;
  top: 20em;
  left: 3em; }

table.tableWidth {
  width: 210px; }

.machineMovingTable {
  position: absolute;
  top: 1em;
  left: 3em; }

.moveMachineSubmit {
  position: absolute;
  top: 14em;
  left: 15em; }

.headMovingTable {
  position: absolute;
  left: 25em;
  top: 1em; }

#logo {
  margin: 25px; }

.loginImage {
  margin-top: 100px; }

.userName {
  position: absolute;
  top: 150px;
  left: 25px; }

.loginPasswd {
  position: absolute;
  top: 220px;
  left: 25px; }

.loginButton {
  position: absolute;
  top: 290px;
  left: 25px; }

thead {
  background-color: lightgrey; }

table tbody, table thead {
  display: block; }

table tbody {
  overflow: auto;
  height: 500px; }

table.blueTable {
  width: 1195px; }

table.blueTable {
  border: 1px solid #a49892;
  text-align: left;
  border-collapse: collapse; }

table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 5px; }

table.blueTable tbody td {
  font-size: 13px;
  word-wrap: break-word; }

table.blueTable thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444; }

table.blueTable thead th {
  border-left: 2px solid #d0e4f5;
  color: #FFF;
  font-size: 15px;
  font-weight: bold; }

table.blueTable thead th:first-child {
  border-left: none; }

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #d6e0f5;
  border-top: 2px solid #444444; }

table.blueTable tfoot td {
  font-size: 14px; }

table.blueTable tfoot .links {
  text-align: right; }

table.blueTable tfoot .links a {
  display: inline-block;
  background: #8f8e8c;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px; }

th {
  height: 50px; }

table.tableAdminPos {
  width: 853px; }

.adminUserId {
  max-width: 170px;
  min-width: 170px; }

.adminUser {
  max-width: 80px;
  min-width: 80px; }

.userRole {
  max-width: 80px;
  min-width: 80px; }

.userCreated {
  max-width: 120px;
  min-width: 120px; }

.userCreatedBy {
  max-width: 80px;
  min-width: 80px; }

.userLastLogin {
  max-width: 110px;
  min-width: 110px; }

.userIP {
  max-width: 100px;
  min-width: 100px; }

.userStatus {
  max-width: 60px;
  min-width: 60px; }

.partsOnOrder {
  max-width: 50px;
  min-width: 50px; }

.userLogOut {
  max-width: 50px;
  min-width: 50px;
  text-align: center; }

.userErase {
  max-width: 50px;
  min-width: 50px;
  text-align: center; }

.shippingMachines {
  height: 100px; }

.tablePdiOverview {
  position: absolute;
  top: 300px; }

.kitSet {
  max-width: 450px;
  min-width: 450px; }

.pdiMachineField {
  max-width: 80px;
  min-width: 80px; }

.pdiShipDate {
  max-width: 90px;
  min-width: 90px; }

.pdiDestination {
  max-width: 100px;
  min-width: 100px; }

.pdiTransporter {
  max-width: 100px;
  min-width: 100px; }

.pdiTruckOnOrder {
  max-width: 70px;
  min-width: 70px; }

.pdiTruckDate {
  min-width: 6em;
  max-width: 6em; }

.truckDateCorrection {
  min-width: 6.8em; }

.pdiKitList {
  max-width: 80px;
  min-width: 80px; }

.pdiComments {
  max-width: 450px;
  min-width: 450px; }

.pdiKitField {
  max-width: 145px;
  min-width: 145px; }

.pdiTireField {
  max-width: 145px;
  min-width: 145px; }

.pdiPDIField {
  max-width: 50px;
  min-width: 50px; }

.pdiRepField {
  max-width: 50px;
  min-width: 50px; }

.pdiVariantDescription {
  max-width: 250px;
  min-width: 250px; }

.pdiWashField {
  max-width: 50px;
  min-width: 50px; }

.pdiShipField {
  max-width: 60px;
  min-width: 60px; }

.pdiLocation {
  max-width: 70px;
  min-width: 70px; }

.pdiConfig {
  max-width: 60px;
  min-width: 60px; }

.pdiTrailer {
  max-width: 80px;
  min-width: 80px; }

.headerKit {
  max-width: 320px;
  min-width: 320px; }

.pdiUser {
  max-width: 200px;
  min-width: 200px; }

table.headerTable {
  width: 230px; }

.headerId {
  max-width: 80px;
  min-width: 80px; }

.headerShipDate {
  max-width: 90px;
  min-width: 90px; }

.headerStatus {
  max-width: 80px;
  min-width: 80px; }

.ecnTextField {
  max-width: 850px;
  min-width: 850px; }

.headerPos {
  position: absolute;
  left: 450px;
  top: 300px; }

.overView {
  position: relative;
  top: 80px;
  left: 200px; }

.openStatus {
  position: relative;
  top: 80px;
  margin-left: 25px; }

.headerTablePosition {
  position: absolute;
  left: 30em;
  top: 21em; }

table.overViewTable {
  float: left;
  position: relative;
  top: 6em;
  width: 21em; }

.locationTable {
  position: relative;
  top: 13em;
  margin-left: 2.5em; }

table.locationTable {
  width: 30em; }

.mLocationId {
  position: relative;
  top: 10em;
  margin-left: 2.8em; }

.shippingNav {
  position: absolute;
  top: 70px;
  left: 40em; }

.switchToHeader {
  position: absolute;
  left: -13em;
  top: -2.5em; }

.newMachineShipping {
  position: relative;
  top: 3em;
  margin-left: 2.5em; }

.shippingInputs {
  margin-left: 20px;
  float: left; }

.machineReturn {
  position: absolute;
  left: 68em; }

.firstKit {
  float: left; }

.secondKit {
  float: left; }

.thirdKit {
  position: relative;
  top: 24px;
  float: left; }

.comment {
  position: relative;
  top: 3em;
  left: 4.5em;
  width: 35em; }

.newMachineSubmit {
  margin-top: 50px; }

.toggleShippedAll {
  position: absolute;
  top: 16em;
  left: 35em; }

.shippingMachinesTable {
  position: relative;
  top: -9em; }

.shippingTable {
  margin-top: 3em; }

.searchMachine {
  margin-left: 0.8em; }

.find_delete_button {
  position: relative;
  top: -18em;
  left: 80em; }

.find_Machine {
  margin-bottom: 1em; }

.buttonField {
  margin-left: 30em;
  position: relative;
  top: -15em;
  left: 50em; }

.buttonEditField {
  margin-left: 30em;
  position: relative;
  top: 5em; }

.editTable {
  position: relative;
  top: 4em;
  margin-left: 2.5em; }

.editTableHead {
  width: 15em;
  border: 1px solid black; }

.editTableBody {
  border: 1px solid black; }

.shipDate {
  margin-left: 0.5em; }

.confirmedShipDate {
  position: relative;
  left: 39em;
  top: -4.5em; }

.confirmedDate {
  font-weight: bold; }

.addList {
  position: relative;
  top: -3.8em;
  left: 12em; }

.removeList {
  position: relative;
  left: 3.4em; }

table.returnMachines {
  width: 190px; }

.returnButton {
  position: absolute;
  top: -5em;
  left: 1.6em; }

.returnersHead {
  font-weight: bold;
  position: absolute;
  top: -2em;
  left: 3em; }

.machineReturnTable {
  position: absolute;
  top: 27.7em;
  left: 120em; }

.switchToCombine {
  position: absolute;
  left: 27em;
  top: 2em; }

.newHeadShipping {
  position: relative;
  top: 8em;
  margin-left: 25px; }

.firstKit {
  margin-top: 25px; }

.secondKit {
  margin-top: 25px; }

.headerComment {
  position: relative;
  top: 1em;
  left: 1.2em; }

.headerInputComment {
  position: relative;
  width: 500px; }

.headerSubmit {
  position: absolute;
  top: 235px;
  left: 610px;
  width: 80px; }

.headerSection {
  position: absolute;
  top: 32.3em; }

.headerTable {
  margin-top: 50px;
  margin-left: 30px; }

.buttonDelete {
  position: relative;
  top: 5em;
  left: 45em; }

.buttonToggle {
  position: relative;
  left: 30em; }

.buttonEdit {
  position: relative;
  top: 2.5em;
  left: 10em; }

.trailerSection {
  position: relative;
  left: 105em;
  top: 1em; }

.newTrailerInput {
  position: absolute;
  top: 220px; }

.deleteTrailer {
  position: absolute;
  top: 300px;
  left: 185px; }

.newTrailer {
  margin-top: 10px; }

.trailerHome {
  position: absolute;
  top: 350px;
  left: 50px; }

.trailerOnDuty {
  position: absolute;
  top: 350px;
  left: 27em; }

.moveButton {
  position: relative;
  top: 35em;
  left: -21.5em; }

.imageButton {
  width: 8em;
  height: 4em; }

.headerButtonField {
  position: absolute;
  top: -2em;
  left: 60em; }

.headerKit {
  white-space: pre-wrap; }

table.trailerTable {
  position: absolute;
  width: 180px;
  top: 420px; }

.trailerTableOnTheMove {
  position: relative;
  left: 25em; }

.navTruckStatus {
  position: relative;
  left: 50em; }

.machineSearchButton {
  position: relative;
  top: 15em;
  left: 20em; }

.inputSearchMary {
  background: repeating-linear-gradient(45deg, #e6e6e6, #bc171b 10px, #e6e6e6 10px, #bc171b 20px); }

table.truckTable {
  position: relative;
  top: 15em;
  margin-left: 2em; }

tbody.machineSearchTable {
  height: 50px; }

.inProcess {
  animation: glowing 1500ms infinite;
  color: transparent; }

@keyframes glowing {
  0% {
    background-color: #AA3939;
    box-shadow: 0 0 3px  #AA5939; }
  50% {
    background-color: #FFB232;
    box-shadow: 0 0 10px #FFB232; }
  100% {
    background-color: #FFE800;
    box-shadow: 0 0 3px #FFE800; } }
@keyframes Siglowing {
  0% {
    background-color: #481317;
    box-shadow: 0 0 3px  #AA5939; }
  50% {
    background-color: #cb2aff;
    box-shadow: 0 0 10px #ffd855; }
  100% {
    background-color: #1cbdee;
    box-shadow: 0 0 3px #ec67ff; } }
.checklistReturn-btn {
  position: fixed;
  right: 250px;
  color: black; }

a:hover {
  background-color: lightgrey;
  text-align: right;
  text-decoration: none; }

.checkpointHeader .title {
  margin-top: 40px;
  height: 40px;
  line-height: 30px;
  background: gray;
  font-size: 18px;
  font-family: verdana, serif;
  display: block;
  color: white;
  padding: 10px;
  vertical-align: center; }

.tableHeadFixed {
  position: fixed; }

.scroll {
  max-height: 60px;
  overflow: auto; }

.input {
  border: black 1px;
  background-color: #e6e6e6; }

.inputMargin {
  float: left;
  margin-left: 2em; }

select > option[value=''] {
  display: none; }

.descriptionBox {
  width: 350px; }

.checkBoxHeader {
  padding-left: 40px; }

.checkBoxMargin {
  margin: 5px; }

.inputRange {
  width: 220px; }

.dependencies {
  position: relative;
  left: 30px;
  top: 19px; }

.checkBoxCheckList {
  position: relative;
  left: 3em; }

table.tableChecklist {
  position: absolute;
  top: 27em;
  margin-left: 2em;
  width: 800px; }

.position {
  max-width: 142px;
  min-width: 142px; }

.failure {
  max-width: 500px;
  min-width: 500px; }

.failureRow {
  max-width: 500px;
  min-width: 500px; }

.type {
  max-width: 100px;
  min-width: 100px; }

.rangeStart {
  max-width: 100px;
  min-width: 100px; }

.rangeEnd {
  max-width: 100px;
  min-width: 100px; }

table {
  width: 411px;
  margin-left: 10px; }

tbody.pdiCheckList {
  height: 500px;
  overflow: auto; }

.pdiCheckList {
  border: 1px solid #a49892;
  background-color: #EEEEEE; }

.positionCheckPos {
  position: absolute;
  margin: 10px;
  top: 0;
  font-weight: bold;
  font-size: 16px; }

.positionCheckText {
  margin: 10px;
  font-weight: bold;
  font-size: 16px; }

#logo {
  position: absolute;
  top: 25px; }

.overviewHeader {
  position: absolute;
  top: 150px;
  font-size: 25px;
  margin-left: 25px; }

.pdiButton {
  position: absolute;
  top: 240px;
  margin-left: 25px; }

.pdiOverViewNav {
  position: absolute;
  top: 50px;
  left: 559px; }

.fileContainer {
  overflow: hidden;
  position: relative;
  left: 40em;
  top: -2.5em; }

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0; }

table.pdiTable {
  width: 570px; }

.loadVariantButton {
  position: relative;
  top: 3em;
  left: -30em; }

.howTo {
  position: relative;
  margin-left: 100px; }

.variantViewer {
  margin-left: 25px; }

.variantButtons {
  position: relative;
  top: 1em;
  margin: 10px; }

.singleVariantButton {
  margin: 15px; }

.variantTable {
  position: relative;
  top: -20em; }

.variantVisible {
  text-align: center; }

.updateVariantViewer {
  left: 50em;
  position: relative;
  top: 2em;
  width: 12em; }

.addPicToVariant {
  left: 50em;
  position: relative;
  top: 4em;
  width: 12em; }

.loadVariantPic {
  left: 50em;
  position: relative;
  top: 5em; }

.noVariant {
  background: repeating-linear-gradient(45deg, #e8bf7e, #f4a4ae 10px, #f85558 10px); }

.pdiToDo {
  margin-left: 3em; }

.profiCamInputPos {
  position: relative;
  top: 1em; }

.configButtonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  position: absolute;
  width: 130px; }

.configButtonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 130px;
  position: absolute;
  width: 130px; }

.configButtonInfo {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  width: 130px; }

.resize {
  height: auto;
  width: 400px; }

.buttonOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  position: absolute;
  width: 130px; }

.buttonNOK {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 130px;
  position: absolute;
  width: 130px; }

.buttonNA {
  bottom: 0;
  float: left;
  font-weight: bold;
  margin-left: 260px;
  position: absolute;
  width: 130px; }

.pdiCell {
  font-size: 16px;
  height: 10em;
  position: relative;
  width: 39em; }

.inputSize {
  height: 3em;
  width: 12em; }

.inputIssueSize {
  height: 3em;
  width: 25em; }

.configHeader {
  left: 3em;
  position: relative;
  width: 20em; }

.configTable {
  margin-left: 3em; }

.checkListTable {
  margin-left: 3em; }

.pdiDivider {
  left: 3.5em;
  position: relative;
  width: 30em; }

.mainComponentsPos {
  left: 3.6em;
  position: relative; }

.dropDown {
  border-radius: 1px;
  font-size: 20px;
  height: 40px;
  min-width: 220px;
  padding: 1rem;
  transform-origin: center top;
  white-space: nowrap;
  width: 100px;
  z-index: 1001; }

.issueField {
  margin-left: 3em; }

.addIssueText {
  width: 30em; }

.pdiInputFields {
  margin: .8em;
  width: 30em; }

table.newIssuesTable {
  left: 2em;
  position: relative;
  width: 32em; }

.repairPointStyle {
  height: 2em; }

.deleteRepair {
  width: 30em; }

.batteries {
  left: 3em;
  position: relative; }

.endOfList {
  margin-bottom: 10em; }

.washBayLinks {
  position: relative;
  left: 40em; }

table.washTable {
  width: 393px; }

.washTable {
  position: absolute;
  top: 24em; }

table.messageTable {
  width: 700px;
  position: absolute;
  top: 24em;
  left: 50em; }

.washListButtons {
  margin-left: 25px;
  position: absolute;
  top: 16em; }

.washMessage {
  margin-left: 25px;
  position: absolute;
  top: 10em; }

.textBox {
  width: 480px; }

.messageClearButton {
  left: 32em;
  position: absolute;
  top: 20.5em; }

.washBayToggleButton {
  margin-left: 300px; }

.locationButton {
  position: relative;
  top: 10em;
  left: 31em; }

.searchButton {
  top: 10em;
  left: 10em; }

.searchMe {
  position: absolute;
  top: 16em;
  left: 40em; }

.printButton {
  position: absolute;
  top: 16em;
  left: 60em; }

.historicButtonPos {
  position: absolute;
  top: 16em;
  left: 8em; }

.dropDownHistoric {
  font-size: 20px;
  white-space: nowrap;
  border-radius: 1px;
  padding: 1px;
  z-index: 1001;
  transform-origin: center top; }

.pdiYear {
  position: absolute;
  top: 16em;
  left: 24em; }

table.pdiRepairList {
  position: absolute;
  top: 280px;
  margin-left: 25px;
  width: 242px;
  left: 20em; }

.repairListButton {
  position: absolute;
  top: 200px;
  margin-left: 25px; }

.container {
  overflow: scroll;
  position: absolute;
  top: 20em;
  left: 40em;
  height: 700px;
  width: 800px;
  border: black 1px solid;
  padding: 10px; }

.pdiUser {
  padding: 25px; }

.sumRightSide {
  position: relative;
  top: -122px;
  left: 300px; }

.printList {
  position: relative;
  top: 4em;
  left: 2em; }

.itemHeadLiner {
  position: relative;
  top: 2em;
  left: 3em; }

.itemButtons {
  position: relative;
  top: 3em;
  left: 2em; }

.siSingle {
  position: relative;
  top: 5em;
  left: 3em; }

table.siSingleTable {
  position: relative;
  top: 6em;
  left: 2em;
  width: 390px; }

table.siType {
  position: relative;
  top: 180px;
  width: 100px; }

table.siMachineList {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 155px; }

table.siInactive {
  position: absolute;
  top: 41em;
  left: 77.5em;
  width: 90px; }

.headerMultiple {
  position: absolute;
  top: 9.5em;
  left: 50em; }

.multipleSiTable {
  position: absolute;
  top: 10em;
  left: 50em;
  width: 20em; }

.headSi {
  position: absolute;
  left: 28em;
  width: 20em; }

.siMdList {
  left: 25em;
  position: absolute;
  top: 4em; }

.siButtons {
  position: absolute;
  top: 22em;
  left: 78em; }

.siHeader {
  left: 16.3em;
  position: absolute;
  top: 3em;
  width: 5em; }

.siFile {
  position: absolute;
  top: 11em;
  left: 28em; }

.siItemMachine {
  float: left;
  margin-left: 3em; }

.siSubmit {
  position: absolute;
  top: -0.5em;
  left: 18em; }

.posDatei {
  position: relative;
  top: -8em;
  left: 20em; }

.removeSiButton {
  position: absolute;
  top: 32px;
  left: 10px; }

.reactSi {
  position: absolute;
  top: 38em;
  left: 78em; }

.siText {
  position: absolute;
  top: -40px;
  left: 400px;
  width: 450px; }

.upComings {
  position: absolute;
  top: 65em;
  margin-left: 25px; }

table.upComingTable {
  width: 1010px; }

table.repairTable {
  position: absolute;
  margin-left: 35px;
  top: 20em;
  width: 960px; }

tbody.tableHeight {
  height: 264px; }

table.issueTable {
  position: absolute;
  top: 13em;
  left: 49.3em;
  width: 533px; }

tbody.newIssueTableHeight {
  height: 72px; }

.addIssueToList {
  position: absolute;
  top: 15em;
  left: 90em; }

.issueHeader {
  position: absolute;
  top: 11em;
  left: 60em; }

.machineHours {
  position: relative;
  left: 20em;
  top: 3em; }

.repairLoad {
  position: relative;
  top: 6em;
  margin-left: 25px; }

.repairButton {
  position: absolute;
  top: 4em;
  left: 15em; }

.workingHours {
  position: absolute;
  left: 2em;
  top: 4.2em; }

.toggleRepairUpcoming {
  position: relative;
  left: 30em;
  top: 5.1em; }

.washHeader {
  position: absolute;
  top: -0.5em;
  left: -7em; }

.washBayText {
  position: relative;
  top: -5em;
  left: 50em; }

.washBayMessage {
  position: absolute;
  top: -0.5em;
  left: 30em; }

#textMessage {
  width: 400px; }

.repNav {
  position: absolute;
  left: 40em; }

.kitListButton {
  position: absolute;
  top: 20em;
  left: 88em; }

.outBoundNav {
  position: absolute;
  left: 40em; }

.shipMe {
  position: absolute;
  left: 32em;
  top: 15em; }

.shipMeButton {
  left: -25em;
  position: absolute; }

table.readyTable {
  position: relative;
  top: 16em;
  left: 2em;
  width: 600px; }

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black; }

.repairNavButton {
  position: relative;
  left: 40em; }

.buttonNotWorking {
  background: repeating-linear-gradient(45deg, #e6e6e6, #bc171b 10px, #e6e6e6 10px, #bc171b 20px); }

.printoutMargin {
  margin-left: 2em; }

.pdiCommentsPrintOut {
  min-width: 35em;
  max-width: 35em; }

.pdiEmptyField {
  min-width: 12em;
  max-width: 12em; }

.pdiSignOffField {
  min-width: 8em;
  max-width: 8em; }

table.printOutTableWidth {
  min-width: 80em;
  max-width: 80em;
  padding: 3px 5px;
  word-wrap: break-word;
  display: block;
  font-size: 18px; }

table.printOutTableWidth td {
  border: 3px solid #a49892;
  text-align: left;
  border-collapse: collapse; }

.tbodyOverflow {
  overflow: unset; }

#footer {
  position: fixed;
  bottom: 100px;
  height: 30px;
  width: 100%; }

#content {
  padding-bottom: 30px; }

#wrapper {
  height: auto;
  position: relative; }

html, body {
  height: 100%; }

table.toDoListTable {
  position: relative;
  margin-left: 2.5em;
  top: 14em;
  width: 60.5em; }

.toDoMessage {
  position: relative;
  top: 10em; }

.adminLopMessage {
  position: absolute;
  top: 16em;
  left: 70em; }

.inputEditHead {
  position: absolute;
  top: 10em;
  left: 3em; }

.headFloater {
  float: left;
  margin-left: 2em; }

.headComment {
  position: absolute;
  top: 20em;
  left: 4em; }

.headSubmit {
  position: absolute;
  top: 25em;
  left: 4em; }

.headLiner {
  position: absolute;
  top: 10em;
  left: 5em; }

.addIssue {
  position: absolute;
  top: 20em;
  left: 10em; }

.inputNewIssue {
  position: absolute;
  top: 20em;
  left: 40em; }

#newIssueInput {
  width: 50em; }

.removeButton {
  position: absolute;
  top: 6em; }

.issueList {
  position: absolute;
  top: 30em;
  left: 10em; }

.logoDropDown {
  position: absolute;
  top: 5em;
  left: 2em; }

.formDropDown {
  position: absolute;
  top: 15em;
  left: 2em; }

.componentTable {
  position: absolute;
  top: 25em;
  left: 1.3em; }

.boxWidth {
  width: 11em; }

table.mainCompTable {
  width: 9.8em; }

tbody.mainCompTbody {
  overflow: unset;
  height: 0; }

.subComponentTable {
  position: absolute;
  top: 25em;
  left: 15em; }

.ecnOverView {
  position: absolute;
  top: 5em;
  left: 2em; }

.mcoTable {
  position: absolute;
  top: 30em;
  left: 2em; }

.checkBoxList {
  position: absolute;
  top: 0.5em;
  left: 20em; }

.searchBoxes {
  position: absolute;
  top: 5.5em;
  left: 60em; }

.goButton {
  position: absolute;
  top: 20em;
  left: 60em; }

.mcoReCording {
  position: absolute;
  top: 9.5em;
  left: 70em; }

.listContainer {
  border-style: solid;
  height: 33em;
  left: 3em;
  margin: 10px;
  padding: 10px;
  width: 60em; }

.tablePos {
  position: absolute;
  top: 20em;
  width: 40em; }

.preView {
  left: 20em;
  position: absolute;
  top: 10em; }

img {
  max-height: 100%;
  max-width: 100%; }

.image {
  float: left;
  height: 80%;
  margin-bottom: 10px;
  width: 80%; }

.submitButtonInside {
  margin: 10px;
  width: 100px; }

table.preTable {
  width: 10em; }

.submitPre {
  left: 20em;
  position: relative; }

tbody.preTbodyHeight {
  height: 40em;
  width: 50em; }

.button {
  left: 10em;
  margin-left: 40px;
  position: relative;
  width: 150px; }

table, td {
  border: 2px solid #333; }

.progressWidth {
  margin-left: 50px;
  width: 80em; }

.mainLayout {
  position: absolute;
  left: 40em; }

.insideNavBar {
  margin-top: 25px; }

.topNav {
  left: 40em;
  margin-top: 25px;
  position: relative; }

.templateNav {
  left: 40em;
  position: absolute;
  top: 6em; }

#logo {
  margin: 10px; }

.selected {
  background-color: #978f93; }

.selectedMachine {
  background-color: #978f93; }

.selectedArea {
  background-color: #978f93; }

.selectedBackgroundGreen {
  background-color: green; }

.individualNavigation {
  font-size: 16px; }

.navigation {
  margin-left: 25px; }

.marginMain {
  margin-left: 25px; }

.in-active-button {
  background-color: #e69f7c;
  opacity: .5;
  pointer-events: none; }

.activeButton {
  opacity: 1;
  pointer-events: auto; }

.inActiveButton-1 {
  background: repeating-linear-gradient(45deg, #e6e6e6, #bc171b 10px, #e6e6e6 10px, #bc171b 20px);
  background-color: #252525;
  opacity: .5;
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
