

.confirmBoxWidth {
  width: 6.5em;
}

table.repair-table {
  position: absolute;
  margin-left: 35px;
  top: 20em;
  width: 850px;
}

.pdi-rep-comment {
  width: 45em;
}

.pdi-rep-comment-field {
  width: 55em;
}

