<template name="01_abstellgleis">
// Maschinen ergebniss sortiet nach Maschinen nummern mit Rep Zeit Graph

<!--
    <div class="repair-time-table">
        <table class="blueTable analyze-team-table table-height">
            <thead>
            <tr>
                <th class="pdiMachineField">Machine</th>
                <th class="pdi-rep-tech">PDI Tech</th>
                <th class="pdi-comment-time-table">Description</th>
                <th class="pdi-image">image</th>
                <th class="pdi-rep-tech">Repair Tech</th>
                <th class="error-comp">Repair Comment</th>
                <th class="pdi-image">Rep Time</th>
                <th class="pdi-rep-status">Repair Status</th>
                <th class="pdi-issuer">Issuer</th>
            </tr>
            </thead>
            <tbody>
            {{#each repairSummary}}
                <tr class="machineRow {{selectedRow}}">
                    <td class="pdiMachineField">{{machineNr}}</td>
                    <td class="pdi-rep-tech">{{pdiTech}}</td>
                    <td class="pdi-comment-time-table">{{errorDescription}}</td>
                    <td class="thumbnail thumbnail-box">
                        <img src={{pictureLocation}}
                             onerror="this.src='noPicture.JPG'"
                             alt="No Picture"
                        />
                    </td>
                    <td class="pdi-rep-tech">{{repairTech}}</td>
                    <td class="pdi-comment">{{repairComment}}</td>
                    <td class="pdi-issuer">{{repairTime}}</td>
                    <td class="pdi-rep-status  {{getStatusColor repairStatus}}"
                        style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}" >{{repairStatus}}</td>
                    <td class="pdi-issuer">{{responsible}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>



    <div class="repair-time-graph">
        <div  id="chart_5">{{machinesOverRepairTime}}</div>
    </div>

-->


</template>