<template name="commission">
    {{#if currentUser}}
        {{> commNav}}
    {{else}}
        {{> login}}
    {{/if}}
    <div class="topNav">
        <nav>
            <a class="btn" href="/carts">commissioning zone</a>
            <a>|</a>
            <a  class="btn" href="/commissionOverView">Over View</a>
        </nav>
    </div>
<h2>commissioning Tables</h2>
</template>

<template name="carts">
    {{#if currentUser}}
        {{> commNav}}
    {{else}}
        {{> login}}
    {{/if}}
    <div class="topNav">
        <nav>
            <a class="btn" href="/commission">Commission Table</a>
            <a>|</a>
            <a  class="btn" href="/commissionOverView">Over View</a>
        </nav>
    </div>
    <h2>Carts</h2>
</template>

<template name="commissionOverView">
    {{#if currentUser}}
        {{> commNav}}
    {{else}}
        {{> login}}
    {{/if}}
    <div class="topNav">
        <nav>
            <a class="btn" href="/carts">commissioning zone</a>
            <a>|</a>
            <a  class="btn" href="/commission">Commission Table</a>
        </nav>
    </div>
    <h2>Commission Over View</h2>
</template>