<template name="commission">
    {{#if currentUser}}
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <div class="tabletCommissioning">
            {{> commTablet}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="commTablet">
 <html>
    <style>
         body{
            background-color:black;
          }
    </style>
    <div class="commissionTablet">
        <div class="commissionInitials input-group input-group-lg">
           <h3><label for="commInitial" class="machineTablet">Initials</label></h3>
           <input type="text" class="form-control"  id="commInitial"  required>
        </div>
           <div class="arrowDown">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
           </div>
        <div class="chooseMachineTable">
           <div class="">
              <table class="blueTable pdiMachineField " cellpadding="10" >
                  <thead class="pdiMachineField">
                    <tr>
                      <th class="pdiMachineField "><strong>Machines</strong></th>
                    </tr>
                  </thead>
                  <tbody class="bodyHeight" >
                     {{#each machineCommList}}
                        <tr class="pickedMachine {{selectedMachine}}">
                          <td class="pickedMachine machineTablet" >{{machineId}}</td>
                        </tr>
                     {{/each}}
                  </tbody>
              </table>
           </div>
        </div>
        <div class="arrowSide">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
        <div class="supplyAreaTable">
            <table class="blueTable supplyTable" cellpadding="10">
                <thead>
                <tr>
                    <th class="userLastLogin"><strong>Supply Area</strong></th>
                </tr>
                </thead>
                <tbody class="supplyTableHeight">
                {{#with supplyAreaList}}
                   {{#each supplyArea}}
                    <tr class="supplyAreaList {{selectedArea}}">
                        <td class="supplyAreaField machineTablet {{getCommStatus supplyStatus}}" style="background-color: {{getCommStatus supplyStatus}}">{{supplyArea}}</td>
                    </tr>
                       {{/each}}
                {{/with}}
                </tbody>
            </table>
        </div>
        <div class="supplyButtonField">
            <h1>Selected Machine:  {{selectedSupplyMachine}}</h1>
           <h1>Selected Supply Area:  {{supplyStart}}</h1>
        </div>

    </div>
 </html>

</template>