<template name="commission">
    {{#if currentUser}}
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <div class="tabletCommissioning">
            {{> commTablet}}
        </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="commTablet">
 <html>
    <style>
         body{
            background-color:black;
          }
    </style>
    <div class="commissionTablet">
        <div class="commissionInitials input-group input-group-lg">
           <h3 class="machineTablet">Tablet User</h3>
            <h3 class="tabletUser">{{currentUser.username}}</h3>

        </div>
           <div class="arrowDown">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
           </div>
        <div class="chooseMachineTable">
           <div class="">
              <table class="blueTable pdiMachineField " cellpadding="10" >
                  <thead class="pdiMachineField">
                    <tr>
                      <th class="pdiMachineField "><strong>Machines</strong></th>
                    </tr>
                  </thead>
                  <tbody class="bodyHeight {{inActive_1}} {{inActive_2}}  {{inActive_3}}" >
                     {{#each machineCommList}}
                        <tr class="pickedMachine {{selectedMachine}}">
                          <td class="pickedMachine machineTablet" >{{machineId}}</td>
                        </tr>
                     {{/each}}
                  </tbody>
              </table>
           </div>
        </div>
        <div class="arrowSide">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
        <div class="supplyAreaTable">
            <table class="blueTable supplyTable" cellpadding="10">
                <thead>
                <tr>
                    <th class="userLastLogin"><strong>Supply Area</strong></th>
                </tr>
                </thead>
                <tbody class="supplyTableHeight {{inActive_1}} {{inActive_2}}  {{inActive_3}}">
                {{#with supplyAreaShow}}
                   {{#each supplyAreaList}}
                    <tr class="supplyAreaList {{selectedArea}}">
                        <td class="supplyAreaField machineTablet {{getCommStatus supplyStatus}}" style="background-color: {{getCommStatus supplyStatus}}">{{supplyArea}}</td>
                    </tr>
                       {{/each}}
                {{/with}}
                </tbody>
            </table>
        </div>
        <div class="supplyExecuteField">
            <div class="tabletHeader">
               <h1>Machine Id:</h1> <h1 class="machineIdHeader">{{selectedSupplyMachine}}</h1>
               <h1 class="textSupply">Supply Area:</h1> <h1 class="supplyIdHeader">{{supplyStart}}</h1>
            </div>
            <div class="supplyButtonField" >
               <button type="button" class="btn btn-lg btn-success commStart {{inActive_1}} {{inActive_2}}  {{inActive_3}}">Commissioning Start</button>
               <button class="btn btn-lg btn-primary commPause {{inActive_2}} {{inActive_4}} {{inActive_0}}">Commissioning Pause</button>
               <button class="btn btn-lg btn-primary commResume {{inActive_1}} {{inActive_3}} {{inActive_4}} {{inActive_0}}">Commissioning Resume</button>
               <button class="btn btn-lg btn-success commFinished {{inActive_2}} {{inActive_4}} {{inActive_0}}">Commissioning Finished</button>
                <div class="cancellationRequest">
                   <form class="form-inline cancelForm">
                       <label for="cancelRequest"></label>
                       <input type="text" class="form-control form-control-lg cancelRequest"
                           id="cancelRequest"
                           name="cancelRequest"
                           placeholder="Reason for Cancellation"
                           required="required"/>
                       <button type="submit" class="btn btn-lg btn-danger commCanceled">Commissioning Canceled</button>
                   </form>
                </div>
            </div>
      </div>
    </div>
 </html>

</template>