<template name="tabletStart">
  <html><style>
      body{
          background-color:black;
      }
  </style>
    <div class="tabletCommissioning">
        <h2>Timer Start</h2>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
    </div>
    <div class="tabletCommissioning">
        <h2>Timer Pause</h2>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="tabletCommissioning">
        <h2>Timer Stop</h2>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
  <div class="marginLeft commFinished">
     <button class="btn btn-success btn-lg" type="button">Commission Finished</button>
  </div>
    <div class="clock">
        <div class="hours">
            <div class="first">
                <div class="number">0</div>
            </div>
            <div class="second">
                <div class="number">0</div>
            </div>
        </div>
        <div class="tick">:</div>
        <div class="minutes">
            <div class="first">
                <div class="number">0</div>
            </div>
            <div class="second">
                <div class="number">0</div>
            </div>
        </div>
        <div class="tick">:</div>
        <div class="seconds">
            <div class="first">
                <div class="number">0</div>
            </div>
            <div class="second infinite">
                <div class="number">0</div>
            </div>
        </div>
    </div>
  </html>
</template>