<template name="analyzing">
    {{> analyzingNav}}
    <head>
        <meta charset="UTF-8">
        <title>Analyze</title>
    </head>
    <body>
    <div>
        <br>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    </div>
    <br>
    </body>
    <div class="nav navbar-btn">
        <button class="btn btn-default btn-info btn-over-view">Home</button>
        <button class="btn btn-default btn-success btn-key-word">Search</button>
        <button class="btn btn-default btn-success btn-response-team">Issues by Team</button>
        <button class="btn btn-default btn-success btn-response-supplier">Issues by Supplier</button>
        <button class="btn btn-default btn-info btn-pdi" >PDI performed</button>
        <button class="btn btn-default btn-success btn-options" >Options</button>
    </div>
    {{#if overViewAnalyzing }}  <!-- Home -->
        {{> analyzingOverView}}

    {{else if searchWithKeyWord}}  <!-- Search with Keyword -->
        {{> analyzingWithKeyWords}}

    {{else if responseTeam}}  <!-- Responsible Team -->
        {{> analyzingResponseTeam}}

    {{else if issueBySupplier}}  <!-- Issue by supplier -->
        {{> analyzingSupplier}}

    {{else if editResponsibility}}  <!-- Edit Responsibility -->
        {{> analyzingResponsibility}}

    {{else if advanceSearch}}  <!-- Advance Search -->
        {{> analyzingAdvanceSearch}}

    {{else if pdi}}  <!-- PDI informal -->
        {{> pdiSearch}}

    {{else if options}}  <!-- Advance Search -->
        {{> analyzingOptions}}

    {{/if}}
</template>

<template name="analyzingOverView">
    <div class="analyze-overview refresh-button">
        <h3>&nbsp;C8x Machines inspection completed : {{machineCount.machines}}</h3>
        <h3>&nbsp;Issues Found : {{machineCount.issuesFound}} (N/A excluded)</h3>
    </div>
</template>

<!-------------------------------------  Search with Key words --------------------------------------->

<template name="analyzingWithKeyWords">
    <div class="search-text">
        <form class="searchText">
            <label for="searchText">Search for :</label>
            <input type="text" id="searchText" name="searchText">
            <button type="submit">Submit</button>
        </form>
    </div>
<div class="analyze-table">
    <table class="result-table">
        <tbody>
        {{#each stringSearch}}
            <tr class="rTableRow {{selectedClass}}">
                <td class="error-machine" >{{machineNr}}</td>
                <td class="error-field" >{{errorDescription}}</td>
                <td class="thumbnail-pdi-crew thumbnail-box">
                    <img src={{pictureLocation}}
                         onerror="this.src='noPicture.JPG'"
                         alt="No Picture"
                    />
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
    <div class="count-result">
    <h4>{{countResult}} entries found.</h4>
    </div>
</template>

<!----------------------------------    Responsible Team  ------------------------------>

<template name="analyzingResponseTeam">

    <div class="response-team">
        <h4>Team 1  :  {{team1Amount}} issues identified</h4>
        <button type="button" name="0" class="btn btn-default btn-success btn-team1-details team-chooser">Show Details</button>
        <br>
        <h4>Team 2  :  {{team2Amount}} issues identified</h4>
        <button type="button" name="1"  class="btn btn-default btn-success btn-team2-details team-chooser">Show Details</button>
        <br>
        <h4>team 3  :  {{team3Amount}} issues identified</h4>
        <button type="button" name="2"  class="btn btn-default btn-success btn-team3-details team-chooser">Show Details</button>
        <br>
        <h4>Team 4  :  {{team4Amount}} issues identified</h4>
        <button type="button" name="3"  class="btn btn-default btn-success btn-team4-details team-chooser">Show Details</button>
        <br>
        <h4>Team 5  :  {{team5Amount}} issues identified</h4>
        <button type="button" name="4"  class="btn btn-default btn-success btn-team5-details team-chooser">Show Details</button>
        <br>
        <h4>Test Bay  :  {{teamTestBayAmount}} issues identified</h4>
        <button type="button" name="5"  class="btn btn-default btn-success btn-teamTestBay-details team-chooser">Show Details</button>
        <br>
        <h4>Supplier  :  {{teamSupplierAmount}} issues identified</h4>
        <button type="button" name="6"  class="btn btn-default btn-success btn-teamSupplier-details team-chooser">Show Details</button>
        <br>
        <h4>CTD :  {{ctdAmount}} issues identified</h4>
        <button type="button" name="7"  class="btn btn-default btn-success btn-ctd-details team-chooser">Show Details</button>
        <br>
        <h4>R&D  :  {{rAndD_Amount}} issues identified</h4>
        <button type="button" name="8"  class="btn btn-default btn-success btn-development-details team-chooser">Show Details</button>
        <br>
        <h4>Unknown  :  {{unknownAmount}} issues identified</h4>
        <button type="button" name="9"  class="btn btn-default btn-success btn-unknown-details team-chooser">Show Details</button>
        <br>
        <h4>Not Applicable  :  {{notApplicableAmount}} issues identified</h4>
        <button type="button" name="10"  class="btn btn-default btn-success btn-not-applicable-details team-chooser">Show Details</button>
        <br>
        <h4>Undefined Issuer  :  {{undefinedIssuer}} issues identified</h4>
        <button type="button" name="11"  class="btn btn-default btn-success btn-undefined-issuer-details team-chooser">Show Details</button>
    </div>

        {{#if teamTables}}
            <div class="team-table">
                <table class="blueTable analyze-team-table table-height">
                    <thead>
                        <tr>
                            <th class="pdiMachineField">Machine</th>
                            <th class="date-bay-19">Bay 19</th>
                            <th class="pdi-rep-tech">PDI Tech</th>
                            <th class="pdi-comment">Description</th>
                            <th class="pdi-image">image</th>
                            <th class="pdi-rep-tech">Repair Tech</th>
                            <th class="pdi-comment">Repair Comment</th>
                            <th class="pdi-image">Repair Time</th>
                            <th class="pdi-rep-status">Repair Status</th>
                            <th class="pdi-issuer">Issuer</th>
                            <th>change issuer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each team}}
                            <tr class="machineRow {{selectedRow}}">
                                <td class="pdiMachineField">{{machineNr}}</td>
                                <td class="date-bay-19">{{bay19Planned}}</td>
                                <td class="pdi-rep-tech">{{pdiTech}}</td>
                                <td class="pdi-rep-comment-field">{{errorDescription}}</td>
                                <td class="thumbnail thumbnail-box">
                                    <img src={{pictureLocation}}

                                    />
                                </td>
                               <td class="pdi-rep-tech">{{repairTech}}</td>
                                <td class="pdi-rep-comment-field">{{repairComment}}</td>
                                <td class="pdi-image">{{repairTime}}</td>
                                <td class="pdi-rep-status  {{getStatusColor repairStatus}}" style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}" >{{repairStatus}}</td>
                                <td class="pdi-issuer">{{responsible}}</td>
                                <td>
                                    <label for="category-select"></label>
                                        <select name="team-select" id="category-select">
                                            <option value="">Select Team</option>
                                                {{#each teamList}}
                                                    <option value="{{this.team}}">{{this.team}}</option>
                                                {{/each}}
                                        </select>
                                </td>
                            </tr>
                        {{/each}}
                     </tbody>
                </table>
            </div>
            <div class="team-repair-time-graph">
                <div  id="chart_2">{{teamRepairTime}}</div>
            </div>
        {{/if}}
</template>

<!----------------------------------- Issues by Supplier  -------------------------------->

<template name="analyzingSupplier">

    <div class="look-up-machine-number">
        <div>
            <h3>Look up specific Machine</h3>
        </div>
        <form class="look-up">
            <label for="lookUpMachine"></label>
            <input type="text" id="lookUpMachine" class="" name="lookUp"/>
            <button type="submit" class="btn btn-default btn-success">Submit</button>
        </form>
    </div>

    <div class="supplier-only-button">
        <button type="button" class="btn btn-default btn-success supplier-only" >Only Supplier / All Issues</button>
    </div>

    <div class="toggle-list-button">
        <button type="button" class="btn btn-default btn-info toggle-list">Toggle List open / closed Claims</button>
    </div>

    <h3 class="issue-count">Loading {{issueCount}} issues with Repair Time </h3>

<div class="supplier-table">
    <table class="blueTable table-height extended-table">
        <thead>
            <tr>
                <th class="pdiMachineField">Machine</th>
                <th class="supply-list-pdi-tech">Pdi Tech</th>
                <th class="pdi-comment-time-table">Error Description</th>
                <th class="supply-list-pdi-tech">Rep Tech</th>
                <th class="pdi-comment-time-table">Repair Description</th>
                <th class="supply-issuer">Issuer</th>
                <th class="pdi-repair-time">Repair Time</th>
                <th class="pdi-rep-status">Repair Status</th>
                <th class="pdi-image">Image</th>
                <th class="assign-supplier">Change / Assign Supplier</th>
                <th class="assign-supplier">Change / Assign Team</th>
                <th class="quality-comment">Comment / Notes</th>
                <th class="quality-claim">Claim Nr</th>
                <th class="quality-claim">Part Ordered</th>
                <th class="checkbox-field">Parts on Order</th>
                <th class="checkbox-field">Close</th>
            </tr>
        </thead>
        <tbody>
            {{#each supplierIssue}}
                    <tr class="">
                        <td class="pdiMachineField">{{machineNr}}</td>
                        <td class="supply-list-pdi-tech">{{pdiPerformer}}</td>
                        <td class="pdi-comment-time-table">{{errorDescription}}</td>
                        <td class="supply-list-pdi-tech">{{repairTech}}</td>
                        <td class="pdi-comment-time-table">{{repairComment}}</td>
                        <td class="supply-issuer">{{responsible}}</td>
                        <td class="pdi-repair-time">{{repairTime}}</td>
                        <td class="pdi-rep-status {{getStatusColor repairStatus}}"
                            style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}">{{repairStatus}}</td>
                        <td class="thumbnail thumbnail-box pdi-image">
                            <img src={{pictureLocation}}
                                 onerror="this.src='noPicture.JPG'"
                                 alt="No Picture" />
                        </td>
                        <td class="selectedIssue {{selectedSupplierRow}}">
                            <label for="category-select"></label>
                                <select name="team-select" id="category-select" >
                                    <option value="">Select Supplier</option>
                                    {{#each supplierList}}
                                        <option value="{{this.supplier}}">{{this.supplier}}</option>
                                    {{/each}}
                                </select>
                        </td>
                        <td class="selectedIssue {{selectedSupplierRow}}">
                            <label for="category-select"></label>
                            <select name="team-select" id="category-select" class="team-select">
                                <option value="">Select Team</option>
                                {{#each teamList}}
                                    <option value="{{this.team}}">{{this.team}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="quality-comment selectedIssue {{selectedSupplierRow}}">{{qualityComment}}</td>
                        <td class="quality-claim selectedIssue {{selectedSupplierRow}}">{{claimNumber}}</td>
                        <td class="quality-claim selectedIssue {{selectedSupplierRow}}">{{partNumber}}</td>

                        <td class="parts-on-order {{getStatusColor partsOrder}}"
                            style="background-color:{{getStatusColor partsOrder}};
                                    color:{{getStatusColor partsOrder}}">{{partsOrder}}</td>

                        <td class="issue-closed checkbox-field"  style="background-color: darkred">
                            <label for="closeCase"></label>
                            <input type="checkbox"
                                   name="closeCase"
                                   id="closeCase"
                                   value="{{_id}} {{machineNr}}">
                        </td>
                    </tr>
            {{/each}}
        </tbody>
    </table>

        <button type="button" class="btn btn-default machine-sort-button"></button>

    <div class="button-pdiTech-sort">
        <button class="btn btn-default pdiTech-sort-button"></button>
    </div>

    <div class="button-repTech-sort">
        <button class="btn btn-default repTech-sort-button"></button>
    </div>

    <div class="button-issuer-sort">
        <button class="btn btn-default issuer-sort-button"></button>
    </div>

    <div class="button-repairTime-sort">
        <button class="btn btn-default repairTime-sort-button"></button>
    </div>

    <div class="button-qualityComments-sort">
        <button class="btn btn-default qualityComments-sort-button"></button>
    </div>

    <div class="button-qualityClaim-sort">
        <button class="btn btn-default qualityClaim-sort-button"></button>
    </div>

    <div class="button-parts-sort">
        <button class="btn btn-default parts-sort-button"></button>
    </div>

</div>

    <!--

    <div  class="single-suppliers-name">
        <table class="blueTable supplier-result-table">
            <thead>
            <tr>
                <th class="supplier-field">Supplier</th>
                <th class="supplier-field">open items</th>
                <th class="supplier-field">Items with Claims (open)</th>
                <th class="supplier-field">Items with Claims (closed)</th>
                <th class="supplier-field">Items with Parts on Order</th>
            </tr>
            </thead>
            <tbody>
            {{#each supplierTable}}
                <tr class="selectedSupplier {{selectedSupplier}}">
                    <td>{{supplier}}</td>
                    <td>{{supplier}}</td>
                    <td>{{supplier}}</td>
                    <td>{{supplier}}</td>
                    <td>{{supplier}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    -->

    <div class="order-list">
        <div class="order-header">
            <h3>Parts on Order</h3>
        </div>
        <table class="blueTable parts-order-table">
            <thead>
            <tr>
                <th class="pdiMachineField">Machine</th>
                <th class="pdi-rep-status">Parts Status</th>
                <th class="order-number">Claim Nr.</th>
                <th class="order-number">Part Nr.</th>
                <th class="quality-comment">Quality Comment</th>
            </tr>
            </thead>
            <tbody>
            {{#each orderResult}}
                <tr class="selectedPartsOrdered">
                    <td class="pdiMachineField">{{machineId}}</td>
                    <td class="pdi-rep-status  {{getStatusColor partsOrder}}"
                        style="background-color:{{getStatusColor partsOrder}};
                                color:{{getStatusColor partsOrder}}">{{partsOrder}}</td>
                    <td class="order-number">{{claimNumber}}</td>
                    <td class="order-number">{{partNumber}}</td>
                    <td class="quality-comment">{{qualityText}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="parts-ordered">
        <h4>Total Parts waiting for arrival  : {{partsOrdered}}</h4>
    </div>

    <div class="insert-quality-comment">
        <h3>Quality Comment / Notes</h3>
        <form class="quality-comment">
            <label for="lookUpMachine" class=""></label>
            <input type="text" id="lookUpMachine" class="" name="quality" value="{{quality_Comment}}" style="width: 500px" >
            <label for="claimNumber" class="claim-number">Claim</label>
            <input type="text" id="claimNumber" class="claim-number" name="claimNumber" value="{{claim_Number}}">
            <label for="partNumber" class="part-number">Part</label>
            <input type="text" id="partNumber" class="part-number" name="partNumber" value="{{part_Number}}">
            <div class="order-radio-button">
                <label for="partsOnOrder">Parts On Order</label>
                <input type="radio" id="partsOnOrder" class="" name="partsAvailability" value="2">
                <br>
                <label for="partsArrived">Parts Arrived</label>
                <input type="radio" id="partsArrived" class="" name="partsAvailability" value="1">
            </div>
            <button type="submit" class="btn btn-default btn-success quality-button" >Submit</button>
        </form>
    </div>

</template>


<!-- ---------------------------------  Edit Responsibilities  ----------------------------->

<template name="analyzingResponsibility">

</template>

<!-----------------------------  Advance Search  ----------------------------------------->

<template name="analyzingAdvanceSearch">

</template>



<!-- ------------------------------  PDI informal --------------------------------------------->

<template name="pdiSearch">
    <!--
    <div>
        <button type="button" class="btn btn-danger date-button">Button</button>
    </div>
    -->
    <div class="pdi-search-position">
       <h4>PDI performed</h4>
        <div>
              {{#each findPdiPerformer}}
                <tr class="selectedPdiName {{selectedPdi}}">
                    <td class="pdi-performer">{{pdiPerformer}}</td>
                    <td class="pdi-summary">{{pdiSummary}}</td>
                </tr>
              {{/each}}
        </div>
    </div>
        <div class="pdi-result-graph">
            <div  id="chart_6">{{pdiPerformerResult}}</div>
        </div>

    <div class="pdi-per-day-result">
        <div  id="chart_7">{{pdiPerDayResult}}</div>
    </div>

</template>

<!-- ------------------------------  Options Table -------------------------------------------->

<template name="analyzingOptions">
    <div class="options-header">
        <h3>Adding Teams</h3>
        <div class="input-new-team">
            <form class="newTeam">
                <label for="inputTeam">New Team</label>
                <input type="text" id="inputTeam" name="inputTeam">
                <button class="btn btn-success btn-add-new">Submit</button>
            </form>
        </div>
        <div class="add-team-table">
            <table class="table suppliers-Table-View">
                <thead>
                <tr>
                    <td class="team-supplier-width">Teams</td>
                </tr>
                </thead>
                <tbody class="team-supplier-table">
                {{#each teamList}}
                    <tr class="selectedTeam {{selectedTeam}}">
                        <td>{{team}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="remove-team-button">
            <button class="btn btn-danger teamRemoveButton">Remove Team</button>
        </div>
    </div>
    <div class="options-header-2">
        <h3>Adding Suppliers</h3>
        <div class="input-new-supplier">
            <form class="new-supplier">
                <label for="inputSupplier">New Supplier</label>
                <input type="text" id="inputSupplier" name="inputSupplier">
                <button type="submit" class="btn btn-success btn-add-supplier">Submit</button>
            </form>
        </div>
        <div class="add-supplier-table">
            <table class="table suppliers-Table-View">
                <thead>
                <tr>
                    <td class="team-supplier-width">Supplier</td>
                </tr>
                </thead>
                <tbody class="team-supplier-table">
                {{#each suppliersList}}
                    <tr class="selectedSupplier {{selectedSupplier}}">
                        <td>{{supplier}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="remove-supplier-button">
            <button class="btn btn-danger supplierRemoveButton">Remove Supplier</button>
        </div>
    </div>
</template>

