<template name="ecnOverView">
    {{#if currentUser}}
        {{> topNav}}
        {{> ecnPage}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="ecnPage">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="ecnOverView">
                    <h2>Add New MCO</h2>
                    <form class="addNewEcn">
                        <label for="newEcn">
                            <input type="text"
                                   class="inputComment"
                                   id="newEcn"
                                   value="8100"
                                   name="newEcn"
                                   pattern="[0-9]{8}"
                                   required/>
                        </label>
                        <h2>Effectivity Date</h2>
                        <label for="ecnEffectivity">
                            <input type="date"
                                   class="dateField"
                                   id="ecnEffectivity"
                                   name="ecnEffectivity"
                                   pattern="(?:20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                                   required />
                        </label>
                        <div>
                            <label for="machineRecording">
                            <input type="checkbox"
                                  id="machineRecording"
                                  name="machineRecording"
                                  class=" newKit1">Machine Recording</label>
                        </div>
                        <div>
                            <label for="statusList">
                            </label>
                        </div>
                        <label for="mcoNotes">
                            <input type="text"
                                   style ="width: 40em"
                                   id="mcoNotes"
                                   name="mcoNotes"
                                   placeholder="MCO Notes" />
                        </label>
                        <div class="userBox">
                            <button class="btn btn-success searchSubmit"
                                    type="submit">Submit</button>
                        </div>
                    </form>
                </div>
    <div class="mcoTable">
            <h2>Overview of all stored ECN's</h2>
            <table class="blueTable" cellpadding="10">
            <thead>
              <tr>
                 <th class="pdiTruckOnOrder"><strong>MCO</strong></th>
                 <th class="pdiShipDate"><strong>Effective Date</strong></th>
                 <th class="pdiShipField"><strong>Serial Y/N</strong></th>
                 <th class="pdiShipField"><strong>Serial Stored</strong></th>
                 <th class="pdiShipField"><strong>MCO status</strong></th>
                 <th class="ecnTextField"><strong>Internal MCO Notes</strong></th>
              </tr>
            </thead>
            <tbody>
            {{#each mcoOverView}}
                <tr class="rTableRow locationUpdate {{selectedClass}}">
                    <td class="pdiTruckOnOrder" >{{mcoId}}</td>
                    <td class="pdiShipDate" >{{effectiveDate}}</td>
                    <td class="pdiShipField" >{{machineRecording}}</td>
                    <td class="pdiShipField" >{{statusMachine}}</td>
                    <td class="pdiShipField" >{{statusMco}}</td>
                    <td class="ecnTextField" >{{mcoNotes}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>
