<template name="editor">
    {{#if currentUser}}
        {{> topNav}}
        {{> addCheck}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="addCheck">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
            <a class="btn" href="/preSeriesCheck">Checklist overview</a>
            <a>|</a>
            <a class="btn" href="generator">Checklist generator</a>
            <a>|</a>
            <a class="btn" href="/inspectionStart">Inspection Overview</a>
        </nav>
    </div>



</template>