<template name="editMachine">
    {{#if currentUser}}
        {{> topNav}}
        {{>navBackToShipping}}
        {{#with showEditMachine}}
            <div id="logo">
                <img src="claas_logo.png" />
            </div>
            <div class="newMachineShipping">
                <h1>Edit Machine</h1>
                <br><br>
                <form class="inputEditMachine">
                    <div class="shippingInputs">
                        <label for="MachineId" class="input" >Machine-Id</label>
                        <br>
                        <input type="text" class="inputComment" id="MachineId" name="newMachine" placeholder="Machine Id" value="{{machineId}}">
                    </div>
                    <div class="shippingInputs">
                        <label for="shippingDate" class="input">Shipping-Date</label>
                        <br>
                        <input type="Date" class="inputComment" id="shippingDate" name="newDate" value="{{date}}" required>
                    </div>
                    <div class="shippingInputs">
                        <label for="newDestination" class="input">Destination</label>
                        <br>
                        <input type="text" class="inputComment" id="newDestination" name="newDestination" placeholder="Destination" value="{{destination}}">
                    </div>
                    <div class="shippingInputs">
                        <label for="newTransporter" class="input">Transporter</label>
                        <br>
                        <input type="text" class="inputComment" id="newTransporter" name="newTransporter" placeholder="Transporter" value="{{transporter}}">
                    </div>
                    <div class="shippingInputs">
                        <label for="selectMe" class="input">Tires / MTS </label>
                        <br>
                        <select name="newTireTrack" id="selectMe" class="inputComment">
                            <option>{{tire}}</option>
                            <option>Single Tire</option>
                            <option>520 GY / 2208 017.0</option>
                            <option>620 GY / 2208 016.0</option>
                            <option>620 MI / 2208 019.0</option>
                            <option>620 GY / 2208 878.0</option>
                            <option>MTS</option>
                        </select>
                    </div>
                    <div>
                        <div class="machineReturn">
                            <label for="newReturn">Machine Returns</label>
                            <br>
                            <select name="newReturn" id="newReturn" class="">
                                <option>{{machineReturn}}</option>
                                <option>No</option>
                                <option>Yes</option>
                            </select>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="firstKit">
                        <ul class="checkbox">
                            <li>
                               <div>
                                 <label for="noKit">
                                  <input type="checkbox" value="No_Kit " id="noKit" name="newKit" class="newKit" {{noKit}}>No_Kit</label>
                               </div>
                            </li>
                          <li>
                            <div>
                              <label for="newKit1">
                              <input type="checkbox" value="C03_0019" id="newKit1" name="newKit" class="newKit1" {{newKit1}}>C03 0019</label>
                            </div>
                          </li>
                          <li>
                            <div>
                              <label for="newKit2">
                              <input type="checkbox" value="C03_0065" id="newKit2" name="newKit" class="newKit2"  {{newKit2}}>C03 0065</label>
                            </div>
                          </li>
                          <li>
                                <div>
                                    <label for="newKit3">
                                    <input type="checkbox" value="C03_0165" id="newKit3" name="newKit" class="newKit3"  {{newKit3}}>C03 0165</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="secondKit">
                        <ul class="checkbox">
                            <li>
                                <div>
                                    <label for="newKit7">
                                        <input type="checkbox" value="C03_0180" id="newKit7" name="newKit" class="newKit7" {{newKit7}}>C03 0180</label>
                                </div>
                            </li>
                            <li>
                                <div class="newKit4Pos">
                                    <label for="newKit4">
                                    <input type="checkbox" value="B05_0120" id="newKit4" name="newKit" class="newKit4"  {{newKit4}}>B05 0120</label>
                                </div>
                            </li>
                            <li>
                                <div class="newKit5Pos">
                                    <label for="newKit5">
                                    <input type="checkbox" value="B05_0130" id="newKit5" name="newKit" class="newKit5"  {{newKit5}}>B05 0130</label>
                                </div>
                            </li>
                            <li>
                                <div class="newKit6Pos">
                                    <label for="newKit6">
                                        <input type="checkbox" value="D06_0030" id="newKit6" name="newKit" class="newKit6"  {{newKit6}}>D06 0030</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="thirdKit">
                        <ul class="checkbox">
                            <li>
                                <div>
                                    <label for="newKit7">
                                        <input type="checkbox" value="G03_0112" id="newKit8" name="newKit" class="newKit8" {{newKit8}}>G03 0112</label>
                                </div>
                            </li>
                            <li>
                                <div class="newKit4Pos">
                                    <label for="newKit4">
                                        <input type="checkbox" value="G03_0120" id="newKit9" name="newKit" class="newKit9" {{newKit9}}>G03 0120</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label for="newComment"></label>
                        <input type="text" class="comment" id="newComment" name="newComment" placeholder="Shipping Comment" value={{shippingComment}}>
                    </div>
                    <br><br><br>
                    <div class="newMachineSubmit">
                        <button class="btn btn-success" type="submit">Submit shipping machine</button>
                    </div>
                </form>
                <div class="buttonEditField">
                    <form class="truckEditDate">
                        <button type="submit" class="btn btn-success addTruck">Truck Ordered</button>
                        <input class="shipDate" type="date" name="inputDate" placeholder="Confirmed Ship Date" value={{confirmedShipDate}} />
                    </form>
                    <br>
                    <button type="submit" class="btn btn-danger removeEditTruck">Remove Truck</button>
                </div>
            </div>
        <table class="editTable" cellpadding="10">
            <thead class="editTableHead">
              <tr class="">
                 <th class="pdiPDIField"><strong>PDI</strong></th>
                 <th class="pdiRepField"><strong>Rep</strong></th>
                 <th class="pdiWashField"><strong>Wash</strong></th>
                 <th class="pdiShipField"><strong>Ship Status</strong></th>
              </tr>
            </thead>
            <tbody class="">
               {{#if shippEditList}}
                   <tr class="editTableBody">
                      <td class="pdiPDIField {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}" >{{pdiStatus}}</td>
                      <td class="pdiRepField {{getStatusColor repairStatus}}" style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}" >{{repairStatus}}</td>
                      <td class="pdiWashField {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}}; color:{{getStatusColor washStatus}}" >{{washStatus}}</td>
                      <td class="pdiShipField {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}">{{shipStatus}}</td>
                   </tr>
               {{/if}}
            </tbody>
        </table>
            {{/with}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="navBackToShipping">
    <div class="mainLayout">
        <nav>
            <a class="btn" href="/shippingMachines">Back to Shipping</a>
        </nav>
    </div>
</template>