<template name="login">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="imageLogin">
     <img src="Glenn_and_Danny_Mill_City_NV.JPG" width="1200" height="500"/>
    </div>
       <form class="shipMe">
           <div class="userLogin">Login</div>
           <br><br><br>
            <div class="userBox">
              <label for="loginUser" class="userLogin">User Name</label>
              <input type="text" name="loginUser" id="loginUser" placeholder="User Name">
            </div>
           <br><br><br>
            <div class="userBox">
              <label for="password" class="userLogin">Password</label>
              <input type="password" style="margin-left: 25px;" name="loginPassword" id="password" placeholder="Password">
            </div>
           <br><br><br>
          <div class="userBox">
            <input type="submit" class="loginSubmit" value="Login">
        </div>
      </form>
</template>

