<template name="machineSearch">
    {{#if currentUser}}
        {{> searchMe}}
    {{else}}
        {{> login}}
    {{/if}}
</template>


<template name="searchMe">
    <h1>Search a Machine</h1>
    <form class="searchMachine">
        <div class="">
            <label for="machineId" class="input" >Machine-Id</label>
            <br>
            <input type="text" class="inputComment" id="searchId" name="searchId" placeholder="Machine Id" required />
        </div>
        <div class="userBox">
            <button class="searchSubmit" type="submit">Submit</button>
        </div>
    </form>
    <br><br><br><br><br><br>
    <h1>Shipping Content</h1>
    <table class="blueTable">
        <thead>
        <tr>
            <th class="pdiMachineField"><strong>Machine</strong></th>
            <th class="pdiShipDate" ><strong>ShipDate</strong></th>
            <th class="pdiDestination"><strong>Destination</strong></th>
            <th class="pdiTransporter"><strong>Transporter</strong></th>
            <th class="pdiKitList"><strong>Ship with Kit</strong></th>
            <th class="pdiTireField"><strong>Tire / Track</strong></th>
            <th class="pdiComments" style="width: 200px"><strong>Shipping Comments</strong></th>
            <th class="pdiPDIField"><strong>Machine Hours</strong></th>
        </tr>
        </thead>
       <tbody class="machineSearchTable">
        {{#each machineSearchShow}}
            <tr class="machineSearchTable {{selectedClass}}">
                <td class="pdiMachineField">{{machineId}}</td>
                <td class="pdiShipDate">{{date}}</td>
                <td class="pdiDestination">{{destination}}</td>
                <td class="pdiTransporter">{{transporter}}</td>
                <td class="pdiKitList">{{kit}}</td>
                <td class="pdiTireField">{{tireTrack}}</td>
                <td class="pdiComments">{{shippingComment}}</td>
                <td class="pdiPDIField">{{machineHours}}</td>
            </tr>
        {{/each}}
       </tbody>
    </table>
    <br>
    <h1>Process Status</h1>
    <table class="blueTable ">
        <thead>
           <tr class="">
                <th class="pdiPDIField"><strong>PDI</strong></th>
                <th class="pdiRepField"><strong>Repair</strong></th>
                <th class="pdiWashField"><strong>Wash</strong></th>
                <th class="pdiShipField"><strong>Ship</strong></th>
           </tr>
        </thead>
        <tbody class="machineSearchTable">
          {{#each machineSearchShow}}
             <tr class=" {{selectedClass}}">
                <td class="pdiPDIField {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}">{{pdiStatus}}</td>
                <td class="pdiRepField {{getStatusColor repairStatus}}" style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}">{{repairStatus}}</td>
                <td class="pdiWashField {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}}; color:{{getStatusColor washStatus}}">{{washStatus}}</td>
                <td class="pdiShipField {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}">{{shipStatus}}</td>
             </tr>
          {{/each}}
        </tbody>
    </table>
    <h1>PDI Content</h1>
    <div class="printList">
        {{#each machineSearchShow}}
            {{#each newIssues}}
                <div class="pdiUser">
                    <div>
                        <h3>PDI performed by: {{user}}</h3>
                    </div>
                    <h3>Main OMM :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ommMain}}</h3>
                </div>
                <div>
                    <h3>Supplement OMM : &nbsp;&nbsp;{{ommSupp}}</h3>
                </div>
                <div>
                    <h3>Unload Instructions : {{ommFitting}}</h3>
                </div>
                <div class="sumRightSide">
                    <h3>Cebis Mobil OMM : {{ommCebis}}</h3>
                </div>
                <div class="sumRightSide">
                    <h3>Tera Track OMM : {{ommTerra}}</h3>
                </div>
                <div class="sumRightSide">
                    <h3>Profi Cam OMM : {{ommProfiCam}}</h3>
                </div>
                <ul>
                    {{#each repOrder}}
                        <div>
                            {{errorNr}}  {{errorDescription}}
                        </div>
                    {{/each}}
                </ul>
            {{/each}}
        {{/each}}
    </div>

</template>

