<template name="mainLayout">
    <body>
       {{#if currentUser}}
              {{#if isInRole 'admin'}}
                  {{> topNav}}
                  {{> overView}}
                 {{> adminLayout}}
              {{/if}}
              {{#if isInRole 'shipping'}}
                  {{> topNav}}
                  {{> overView}}
                 {{> shippingLayout}}
              {{/if}}
              {{#if isInRole 'pdi'}}
                  {{> topNav}}
                  {{> overView}}
                  {{> pdiLayout}}
              {{/if}}
              {{#if isInRole 'repair'}}
                  {{> topNav}}
                  {{> repairLayout}}
                  {{> overView}}
              {{/if}}
              {{#if isInRole 'salesPerson'}}
                  {{> topNav}}
                  {{> coa}}
                  <br>
                  <br>
                  <br>
                  {{> overView}}
              {{/if}}
              {{#if isInRole 'washBay'}}
                  {{> topNav}}
                  {{> washLayout}}
                  {{> overView}}
              {{/if}}
              {{#if isInRole 'outBound'}}
                  {{> topNav}}
                  {{> outBound}}
                  {{> overView}}
              {{/if}}
              {{#if isInRole 'pdiRepCrew'}}
                  {{> pdiRepairCrew}}
              {{/if}}
              {{#if isInRole 'teamLead'}}
                  {{> analyzingResponseTeam}}
               {{/if}}
       {{else}}
            {{> login}}
       {{/if}}
     </body>
</template>


<template name="topNav">
    <div class="topNav">
        <nav>
            <a class="btn btn-default btn-success" href="/overViewUser">Over View</a>
            <a>|</a>
            <a class="btn btn-default btn-success" href="/machineSearch" disabled="">Search by Machine</a>
            <a>|</a>
            <a class="btn btn-default btn-success" href="/toDoList">L O P</a>
            <a>|</a>
            <a class="btn btn-default btn-info" href="/analyzing" disabled="">Analyzing Tools</a>
            <a>| <!-- </a>
            <a class="btn btn-default btn-info" href="/fuelConsumption">Fuel Consumption</a>
            <a> --> </a>
            <a class="btn btn-default btn-danger logout" href="/logout" >Logout</a>
            <a>|</a>
            <a class="btn btn-default btn-warning" href="http://10.40.1.47:3100/assemblyLine">Assembly Line</a>
        </nav>
    </div>
</template>

<template name="analyzingNav">
    <div class="topNav">
        <nav>
            <a class="btn btn-default btn-success" href="/overViewUser">Over View</a>
            <a>|</a>
            <a class="btn btn-default btn-success" href="/toDoList">L O P</a>
            <a>|</a>
            <a class="btn btn-default btn-danger logout" href="/logout" >Logout</a>
        </nav>
    </div>

</template>

<template name="adminLayout">
      <div class="templateNav">
        <nav>
           <a class="btn" href="/shippingMachines">Shipping Combines</a>
            <a>|</a>
           <a class="btn" href="/inspectionStart">Inspection</a>
            <a>|</a>
           <a class="btn" href="/repairView">Repair</a>
            <a>|</a>
            <a class="btn" href="/pdiRepairCrew">PDI Repair Crew</a>
            <a>|</a>
           <a class="btn" href="/washList">Wash Bay</a>
            <a>|</a>
           <a class="btn" href="/readyShipList">Final Status</a>
            <a>|</a>
           <a class="btn" href="/ecnOverView" disabled="">ECN Tracking</a>
            <a>|</a>
           <a class="btn btn-danger" href="/admin">Admin</a>
            <a>|</a>
            <a class="btn btn-info" href="http://10.40.1.47:3100/assemblyLine">Assembly Line</a>
         </nav>
       </div>
</template>

<template name="shippingLayout">
    <div class="shippingNav">
        <nav>
            <a class="btn " href="/shippingMachines">Shipping Combines</a>
            <a>|</a>
            <a class="btn" href="/headerShipList">Shipping Headers</a>
        </nav>
    </div>
</template>

<template name="pdiLayout">
    <div class="pdiOverViewNav">
        <nav>
            <a class="btn" href="/inspectionStart">Inspection</a>
            <a>|</a>
            <a class="btn" href="/checkList">Checklist</a>
            <a>|</a>
            <a class="btn" href="/pdiRepairList">Review Repair List</a>
            <a>|</a>
            <a class="btn" href="/ecnOverView">ECN Tracking</a>
            <a>|</a>
            <a class="btn" href="/si">SI's or special Item's</a>
        </nav>
    </div>
</template>

<template name="pdiPrintLayout">
    <div class="pdiOverViewNav">
        <nav>
            <a class="btn" href="/inspectionStart">Inspection</a>
            <a>|</a>
            <a class="btn" href="/checkList">Checklist</a>
            <a>|</a>
            <a class="btn" href="/si">SI's or special Item's</a>
        </nav>
    </div>
</template>

<template name="repairLayout">
    <div class="repairNavButton">
        <nav>
            <a class="btn" href="/repairView">Repair</a>
        </nav>
    </div>
</template>

<template name="washLayout">
    <div class="washBayLinks">
        <nav>
            <a class="btn" href="/washList">Wash Bay</a>
        </nav>
    </div>
</template>

<template name="outBound">
    <div class="outBoundNav">
        <nav>
            <a class="btn" href="/readyShipList">Ready to Ship</a>
            <a>|</a>
            <a class="btn" href="/washList">Wash Bay</a>
        </nav>
    </div>
</template>

<template name="MainLayout_3">
    <div class="mainLayout">
        <nav>
            <a class="btn btn-default btn-success switchToHeader" href="/headerShipList">Switch to Headers</a>
        </nav>
    </div>
</template>


<template name="unAuthorized">
    <h1>Password / Username wrong or not Authorized</h1>
</template>

