<template name="mainLayout">
    <body>
       {{#if currentUser}}
              {{#if isInRole 'admin'}}
                  {{> topNav}}
                  {{> overView}}
                 {{> adminLayout}}
              {{/if}}
              {{#if isInRole 'shipping'}}
                  {{> topNav}}
                  {{> overView}}
                 {{> shippingLayout}}
              {{/if}}
              {{#if isInRole 'pdi'}}
                  {{> topNav}}
                  {{> overView}}
                  {{> pdiLayout}}
              {{/if}}
              {{#if isInRole 'repair'}}
                  {{> topNav}}
                  {{> overView}}
                 {{> repairLayout}}
              {{/if}}
              {{#if isInRole 'outBound'}}
                  {{> topNav}}
                  {{> overView}}
                 {{> washLayout}}
              {{/if}}
       {{else}}
            {{> login}}
       {{/if}}
     </body>
</template>


<template name="topNav">
    <div class="topNav">
        <nav>
            <a class="btn" href="/overViewUser">Over View</a>
            <a>|</a>
            <a class="btn" href="/machineLocation">Locations</a>
            <a>|</a>
            <a class="btn not-active" href="/machineSearch">Search by Machine</a>
            <a>|</a>
            <a class="btn not-active" href="/wordSearch">Search by Key Word</a>
            <a>|</a>
            <a class="btn not-active" href="/statistics">Statistics</a>
            <a>|</a>
            <a class="btn" href="/toDoList">L O P</a>
            <a>|</a>
            <a class="btn logout" href="/logout" >Logout</a>
        </nav>
    </div>
</template>

<template name="adminLayout">
      <div class="templateNav">
        <nav>
           <a class="btn" href="/shippingMachines">Shipping Combines</a>
            <a>|</a>
           <a class="btn" href="/inspectionStart">Inspection</a>
            <a>|</a>
           <a class="btn" href="/repairView">Repair</a>
            <a>|</a>
           <a class="btn" href="/washList">Wash Bay</a>
            <a>|</a>
           <a class="btn" href="/readyShipList">Final Status</a>
            <a>|</a>
           <a class="btn" href="/ecnOverView">ECN Tracking</a>
            <a>|</a>
           <a class="btn btn-danger" href="/admin">Admin</a>
         </nav>
       </div>
</template>

<template name="shippingLayout">
    <div class="shippingNav">
        <nav>
            <a class="btn " href="/shippingMachines">Shipping Combines</a>
            <a>|</a>
            <a class="btn" href="/headerShipList">Shipping Headers</a>
        </nav>
    </div>
</template>

<template name="pdiLayout">
    <div class="pdiOverViewNav">
        <nav>
            <a class="btn" href="/inspectionStart">Inspection</a>
            <a>|</a>
            <a class="btn" href="/checkList">Checklist</a>
            <a>|</a>
            <a class="btn" href="/pdiRepairList">Review Repair List</a>
            <a>|</a>
            <a class="btn" href="/si">SI's or special Item's</a>
        </nav>
    </div>
</template>

<template name="repairLayout">
    <div class="">
        <nav>
            <a class="btn " href="/overView">Over View</a>
            <a class="btn" href="/repairView">Repair</a>
            <a class="btn" href="/machineSearch">Search by Machine</a>
            <a class="btn" href="/wordSearch">Search by Key Word</a>
            <a class="btn" href="/machineLocation">Locations</a>
            <a class="btn" href="/charts">Charts</a>
            <a class="logout btn" href="/logout" >Logout</a>
        </nav>
    </div>
</template>

<template name="washLayout">
    <div class="">
        <nav>
            <a class="btn" href="/readyShipList">Machine Shipped</a>
            <a class="logout btn" href="/logout" >Logout</a>
        </nav>
    </div>
</template>

<template name="outBound">
    <div class="">
        <nav>
            <a class="btn " href="/overView">Over View</a>
            <a class="btn " href="/shippingMachines">Shipping</a>
            <a class="btn" href="/readyShipList">Ready to Ship</a>
            <a class="btn" href="/machineSearch">Search by Machine</a>
            <a class="btn" href="/wordSearch">Search by Key Word</a>
            <a class="btn" href="/machineLocation">Locations</a>
            <a class="btn" href="/statistics">Statistics</a>
            <a class="logout btn" href="/logout" >Logout</a>
        </nav>
    </div>
</template>

<template name="MainLayout_3">
    <div class="mainLayout">
        <nav>
            <a class="btn" href="/headerShipList">Switch to Headers</a>
            <a>|</a>
            <a class="btn" href="/maryView">Truck Status</a>
            <a>|</a>
            <a class="btn" href="/overViewUser">Over View</a>
            <a>|</a>
            <a class="btn" href="/statistics" disabled>Statistics</a>
            <a>|</a>
            <a class="btn logout" href="/logout" >Logout</a>
        </nav>
    </div>
</template>

<template name="headerNav">

</template>

<template name="MainLayout_mary">

</template>


<template name="unAuthorized">
    <h1>Password / Username wrong or not Authorized</h1>
</template>

