<!-- ToDo
        make confirmed ship date editable
-->

<template name="maryView">
{{#if currentUser}}
    {{> overViewListMaryView}}
{{else}}
    {{> login}}
{{/if}}
</template>

<template name="overViewListMaryView">
    <nav class="navTruckStatus">
        <a class="btn" href="/shippingMachines">Back to Shipping</a>
    </nav>
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="machineSearchButton">
       <form class="machineSearch">
          <button class="inputSearchMary" disabled>Search</button>
          <label for="machine"></label>
          <input class="inputSearchMachine" id="machine" name="machine" placeholder="Machine">
       </form>
    </div>
    <div class="buttonField">
      <form>
        <button type="submit" class="addTruck">Truck Ordered</button>
        <button type="submit" class="addList">List Printed</button>
        <br><br>
        <button type="submit" class="removeTruck">Remove Truck</button>
        <button type="submit" class="removeList">Remove List</button>
       </form>
    </div>
    <table class="blueTable truckTable" cellpadding="10">
        <thead class="">
          <tr class="">
            <th class="pdiMachineField"><strong>Machine</strong></th>
            <th class="pdiShipDate"><strong>Ship Date</strong></th>
            <th class="pdiPDIField"><strong>PDI</strong></th>
            <th class="pdiRepField"><strong>Rep</strong></th>
            <th class="pdiWashField"><strong>Wash</strong></th>
            <th class="pdiShipField"><strong>Load</strong></th>
            <th class="pdiTruckOnOrder"><strong>Truck ordered</strong></th>
              <th class="pdiTruckDate"><strong>Confirmed Ship Date</strong></th>
            <th class="pdiKitList"><strong>Kit List</strong></th>
            <th class="pdiTransporter"><strong>Transporter</strong></th>
            <th class="pdiDestination"><strong>City</strong></th>
            <th class="pdiLocation"><strong>Location</strong></th>
            <th class="pdiTireField"><strong>Tires</strong></th>
            <th class="pdiComments" style="width: 150px"><strong>Shipping Comments</strong></th>
          </tr>
        </thead>
        <tbody>
        {{#each overView}}
            <tr class="truckStatus {{selectedClass2}}">
                <td class="pdiMachineField">{{machineId}}</td>
                <td class="pdiShipDate" style="width: 50px">{{date}}</td>
                <td class="pdiPDIField {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}" >{{pdiStatus}}</td>
                <td class="pdiRepField {{getStatusColor repairStatus}}" style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}" >{{repairStatus}}</td>
                <td class="pdiWashField {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}}; color:{{getStatusColor washStatus}}" >{{washStatus}}</td>
                <td class="pdiShipField {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}" >{{shipStatus}}</td>
                <td class="pdiTruckOnOrder {{getStatusTruck truckStatus}}" style="background-color:{{getStatusTruck truckStatus}}; color:{{getStatusTruck truckStatus}}" >{{truckStatus}}</td>
                <td class="pdiTruckDate truckDateCorrection">{{date}}</td>
                <td class="pdiKitList {{getStatusKit KitStatus}}" style="background-color:{{getStatusKit KitStatus}}; color:{{getStatusKit KitStatus}}" >{{KitStatus}}</td>
                <td class="pdiTransporter" style="background-color: #6fd981">{{transporter}}</td>
                <td class="pdiDestination" style="background-color: #6fd981">{{destination}}</td>
                <td class="pdiLocation" style="background-color: #6fd981">{{locationId}}</td>
                <td class="pdiTireField" style="background-color: #6fd981">{{tireTrack}}</td>
                <td class="pdiComments">{{shippingComment}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="headerListMaryView">
    <div class="headerList ">
        <div class="rTableHeaders">
            <div class="rTableRow">
                <div class="rTableHeadOverView"><strong>Header</strong></div>
                <div class="rTableHeadOverView"><strong>Shippdate</strong></div>
                <div class="rTableHeadOverView"><strong>PDI</strong></div>
                <div class="rTableHeadOverView"><strong>Rep</strong></div>
                <div class="rTableHeadOverView"><strong>Load</strong></div>
                <div class="rTableHeadOverView"><strong>Location</strong></div>
            </div>
            {{#each overView}}
                <div class="rTableRow">
                    <div class="rTableCellOverView">{{newHeadId}}</div>
                    <div class="rTableCellOverView" style="width: 50px">{{date}}</div>
                    <div class="rTableCellOverView {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}" >{{pdiStatus}}</div>
                    <div class="rTableCellOverView {{getStatusColor repairStatus}}" style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}" >{{repairStatus}}</div>
                    <div class="rTableCellOverView {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}" >{{shipStatus}}</div>
                    <div class="rTableCell" style="background-color: #6fd981">{{locationId}}</div>
                </div>
            {{/each}}
        </div>
    </div>
</template>