<template name="overViewUser">
    {{#if currentUser}}
           {{> mainLayout}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="overView">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <h3 class="overView">Overview</h3>
    <div class="openStatus">
        <h4>To do:</h4>
       <h4>PDI's       : {{countPdi}}</h4>
       <h4>Repairs     :  {{countRepair}}</h4>
       <h4>Wash Bay    :  {{countWash}}</h4>
       <h4>Not shipped yet but ready : {{countShip}}</h4>
    </div>
    <table class="overViewTable blueTable " cellpadding="10">
      <thead>
         <tr>
           <th class="pdiMachineField"><strong>Machine</strong></th>
           <th class="pdiShipDate"><strong>COA Ship Date</strong></th>
           <th class="pdiShipDate"><strong>Shipp Date</strong></th>
           <th class="pdiPDIField"><strong>PDI</strong></th>
           <th class="pdiRepField"><strong>Rep</strong></th>
           <th class="pdiWashField"><strong>Wash</strong></th>
           <th class="pdiLocation"><strong>Location</strong></th>
       </tr>
      </thead>
      <tbody>
          {{#each machineOverView}}
             <tr class="">
               <td class="pdiMachineField">{{machineId}}</td>
               <td class="pdiShipDate" style="width: 50px">{{coaDate}}</td>
               <td class="pdiShipDate" style="width: 50px">{{date}}</td>
               <td class="pdiPDIField {{getStatusColor pdiStatus}}"
                   style="background-color:{{getStatusColor pdiStatus}};
                           color:{{getStatusColor pdiStatus}}" >{{pdiStatus}}</td>
               <td class="pdiRepField {{getStatusColor repairStatus}}" style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}" >{{repairStatus}}</td>
               <td class="pdiWashField {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}}; color:{{getStatusColor washStatus}}" >{{washStatus}}</td>
               <td class="pdiLocation" style="background-color: #6fd981">{{locationId}}</td>
             </tr>
         {{/each}}
      </tbody>
    </table>
    <div class="sort-button">
            <button type="button" class="btn btn-success sortButton">Reverse Sorting</button>
    </div>
  <div class="headerTablePosition">
    <table class="headerTable blueTable" cellpadding="10">
       <thead>
         <tr>
            <th class="headerId"><strong>Header</strong></th>
            <th class="headerShipDate"><strong>Shippdate</strong></th>
             <th class="headerStatus"><strong>Shipped</strong></th>
         </tr>
        </thead>
        <tbody>
          {{#each headerOverView}}
             <tr class="">
               <td class="headerId">{{newHeadId}}</td>
               <td class="headerShipDate" style="width: 50px">{{date}}</td>
                 <td class="headerStatus {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}" >{{shipStatus}}</td>
             </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</template>