<template name="machineInspect">
    {{#if currentUser}}
        {{> pdiToDoList}}
    {{else}}
        {{> login}}
    {{/if}}
</template>


<template name="pdiToDoList">
    <div class="pdiToDo">
        <img src="claas_logo.png" />
    </div>
    <div class="pdiToDo">
      {{#with machineNow}}
         <h2>Machine to Inspect: {{machine}}</h2>
         <h2>Performed by: {{userLoggedIn}}</h2>
      {{/with}}

      <br><br>
        <form class="omms">
         <div class="ommInput">
           <label for="fuelMe" class="fuel">Fuel consumption before PDI</label>
           <br>
           <input type="text" class="omInput inputSize" id="fuelMe" name="fuelMe" placeholder="Gallon" value={{fuelStart}} required>
           <br>
           <label for="ommMain">Main OMM</label>
           <br>
           <input type="text" class="omInput inputSize" id="ommMain" name="omMain" placeholder="Main OMM" value={{ommMain}} required>
           <br>
           <label for="ommSupp">Supplemental OMM</label>
           <br>
           <input type="text" class="omInput inputSize" id="ommSupp" name="omSupp" placeholder="Supplemental OMM" value={{ommSupp}} required>
           <br>
           <label for="unloadOmm">Unload OMM</label>
           <br>
           <input type="text" class="omInput inputSize" id="unloadOmm" name="omUnload" placeholder="Unload OMM" value={{ommUnload}} required>
           <br>
             <div class="profiCamInputPos">
                 {{#dropdownTrigger  name="omProfiCam"}}
                     <button class="loginSubmit omInputButton">OMM Profi Cam</button>
                 {{/dropdownTrigger}}
                 {{#dropdown name="omProfiCam" id="dropDownProfiCam" align="left" left="-180"}}
                     <tbody class="rTable">
                     {{#each omProfiCam}}
                         <tr class="profiCam {{selectedProfiCam}}">
                             <td class="dropDown">{{partNumbers}}</td>
                         </tr>
                     {{/each}}
                     </tbody>
                 {{/dropdown}}
             </div>
           <br>
           <input type="text" class="omInput inputSize" id="locationId" name="omProfiCam" placeholder="Profi Cam" value={{profiCam}}>
           <br>
           <label for="cebisOmm">Cebis Mobil</label>
           <br>
           <input type="text" class="omInput inputSize" id="cebisOmm" name="omCebis" placeholder="Cebis Mobil OMM" value={{ommCebis}}>
           <br>
           <label for="omTouch">Mobile Touch</label>
           <br>
           <input type="text" class="omInput inputSize" id="omTouch" name="omTouch" placeholder="Mobile Touch" value={{ommCebisTouch}}>
           <br>
           <label for="omTerra">Terra Track</label>
           <br>
           <input type="text" class="omInput inputSize" id="omTerra" name="omTerra" placeholder="Terra Track" value={{ommTerra}}>
           <br>
           <label for="dualTire">Dual Tire New Version</label>
           <br>
           <input type="text" class="omInput inputSize" id="dualTire" name="dualTire" placeholder="Dual Tires" value={{ommDuals}}>
         </div>
            <br><br>
           <button type="submit" class="btn btn-success buttonBatt">Save OMM's</button><h4>{{ommSaved}}</h4><br>
       </form>
    </div>
    <br><br>
    <div class="configTable">
       <h3 class="configHeader">Configuration</h3>
         <table class="pdiCheckList">
            <tbody>
               {{#each machineConfig}}
                  <tr >
                     <td class="pdiCell positionCheckPos {{getMachineConfigStatus machineConfigStatus}}"
                         style="background-color:{{getMachineConfigStatus machineConfigStatus}}">
                        <div>
                          {{{config}}}
                        </div>
                        <div class="positionCheckText">
                          {{{configItem}}}
                        </div>
                       <button class="btn btn-success configButtonOK" id={{_id}}>OK</button>

                       <button class="btn btn-danger configButtonNOK" id={{configItem}} name={{_id}}>NOK</button>

                       <button class="btn btn-info buttonNA configButtonInfo" name={{imagePath}}>info</button>
                         <div>
                             <img src={{configImage}} alt="">
                         </div>
                     </td>
                  </tr>
               {{/each}}
            </tbody>
         </table>
    </div>

        <br><br>
    <div class="checkListTable">
      <h3 class="configHeader">Checklist</h3>
        <table class="pdiCheckList">
            <tbody>
                {{#each checkList}}
                    <tr class=" ">
                        <td class="pdiCell positionCheckPos {{getMachineConfigStatus failStatus}}"
                            style="background-color:{{getMachineConfigStatus checkStatus}}">
                            <div class="positionCheckPos" >
                            {{{errorPos}}}
                            </div>
                            <div class="positionCheckText">
                            {{{errorDescription}}}
                            </div>
                            <button class="btn btn-success buttonOK" id={{_id}}>OK</button>

                            <button class="btn btn-danger buttonNOK" id={{_id}}>NOK</button>

                            <button class="btn btn-info buttonNA" id={{_id}}>N/A</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pdiDivider">
       <h1>_____________________</h1>
    </div>

    <div class="checkListTable">
        <h3 class="configHeader">Checklist</h3>
        <table class="pdiCheckList">
            <tbody>
            {{#each preCheck}}
                <div class="imageMargin">
                    <tr class="preTableCheckList">
                        <td class="{{getMachineConfigStatus failureStatus}}"
                            style="background-color:{{getMachineConfigStatus failureStatus}}">
                            <div class="image">
                                <img class="NO-CACHE" src={{imagePath}}>
                                <h3>{{errorDescription}}</h3>
                            </div>
                        </td>
                    </tr>
                </div>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="pdiDivider">
        <h1>_____________________</h1>
    </div>

    <div class="mainComponentsPos">
        {{#dropdownTrigger  name="mainComponents"}}
            <button class="loginSubmit omInputButton">Main Components</button>
        {{/dropdownTrigger}}
        {{#dropdown name="mainComponents" align="left" top="25" left="-450"}}
            <tbody class="rTable">
                {{#each mainComponent}}
                    <tr class="comp {{selectedComponent}}">
                        <td class="dropDown">{{component}}</td>
                    </tr>
                {{/each}}
            </tbody>
        {{/dropdown}}
    </div>
    <div class="pdiInputFields">
      <form class="addNewIssue">
        <div class="issueField">
            <input type="text" class="addIssueText inputIssueSize"
                   name="addIssue"
                   placeholder="Add issue"
                   value={{issueComponent}} required>
            <br><br>
            <button type="submit" class="btn btn-success addIssueText">Submit New Issue</button>
        </div>
      </form>
    </div>
    <div class="add-image-to-repair">
        <form>
            <label for="img">Select image:</label>
            <input type="file" class="btn btn-default btn-info" id="img" name="img" accept="image/*">
            <input type="submit" class="btn btn-default btn-success submit-button-image">
        </form>
    </div>
    <br><br><br>
    <div class="pdiDivider">
        <h1>_____________________</h1>
    </div>
    <div class="pdiInputFields">
      <form class="addressToWashBay">
        <div class="issueField">
            <input type="text" class="addIssueText inputIssueSize" name="addWashBay" placeholder="Add WashBay Message" required>
            <br><br>
            <button type="submit" class="btn btn-success addIssueText">Submit Message</button>
        </div>
      </form>
    </div>
    <div class="pdiDivider">
        <h1>_____________________</h1>
    </div>

    <div>
        <h3 class="configHeader">New Issues Found</h3>
        <table class="blueTable newIssuesTable " cellpadding="10">
            <tbody>
              {{#each newIssue}}
                <tr class="openFailure {{selectedFailure}}">
                   <td class="pdiComments ">{{errorDescription}}</td>
                </tr>
              {{/each}}
            </tbody>
        </table>
    </div>

    <br><br>
    <div class="issueField">
        <button type="button" class="btn btn-danger deleteRepair">Delete selected repair</button>
    </div>
    <div class="pdiDivider">
        <h1>_____________________</h1>
    </div>
    <div class="batteries">
        <form class="batts">
            <label for="batteryC13" class="batteryC13">Battery Volt & CCA</label>
            <br>
            <input type="text" class="batteryC13CCA inputSize" id="batteryC13CCA" name="batteryC13CCA" placeholder="Battery C13 CCA" value={{battC13CCA}}>
            <input type="text" class="batteryC13Volt inputSize" id="batteryC13Volt" name="batteryC13Volt" placeholder="Battery C13 Volt" value={{battC13Volt}}>
            <br><br>
            <input type="text" class="batteryC13 inputSize" id="mtuG001CCA" name="mtuG001CCA" placeholder="Battery MTU G001 CCA" value={{mtuG001CCA}}>
            <input type="text" class="batteryC13 inputSize" id="mtuG001Volt" name="mtuG001Volt" placeholder="Battery MTU G001 Volt" value={{mtuG001Volt}}>
            <br><br>
            <input type="text" class="batteryC13 inputSize" id="mtuG005CCA" name="mtuG005CCA" placeholder="Battery MTU G005 CCA" value={{mtuG005CCA}}>
            <input type="text" class="batteryC13 inputSize" id="mtuG005Volt" name="mtuG005Volt" placeholder="Battery MTU G005 Volt" value={{mtuG005Volt}}>
            <br><br>
            <input type="text" class="batteryC13 inputSize" id="mtuG004CCA" name="mtuG004CCA" placeholder="Battery MTU G004 CCA" value={{mtuG004CCA}}>
            <input type="text" class="batteryC13 inputSize" id="mtuG004Volt" name="mtuG004Volt" placeholder="Battery MTU G004 Volt" value={{mtuG004Volt}}>
            <br><br>
            <br>
            <button type="submit" class="btn btn-success buttonBatt">Save Batteries</button><h4>{{battSaved}}</h4><br>
        </form>
    </div>

    <div>
        <h3 class="configHeader">Pdi finnished</h3>
    </div>
    <div class="endOfList">
       <form class="afterPdiFuel">
          <div class="issueField">
             <input type="text" class="addIssueText" name="afterFuel" placeholder="Fuel after PDI" required>
              <br><br>
              <button type="submit" class="btn btn-success addIssueText">Submit and back to over view</button>
          </div>
       </form>
    </div>
</template>




