<template name="preSeriesCheck">
    {{#if currentUser}}
        {{> topNav}}
        {{> checkListOverView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="checkListOverView">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
            <a class="btn" href="/generator">Checklist generator</a>
            <a>|</a>
            <a class="btn" href="/editor">Check list editor</a>
            <a>|</a>
            <a class="btn" href="/inspectionStart">Inspection Overview</a>
        </nav>
    </div>
<h3 class="overView">Pre series checklist overview</h3>


</template>