<template name="machineInspect">

    {{#if currentUser}}

        {{> ommBook}}
    {{else}}
        {{> login}}
    {{/if}}
</template>


<template name="ommBook">

    <div id="">
        <img src="claas_logo.png" />
    </div>
    <div class="ommInput">
    {{#with machineNow}}
        <h2>Machine to Inspect: {{machine}}</h2>
        <h2>Performed by: {{userLoggedIn}}</h2>
    {{/with}}
    <form class="omBooklets">
        <label for="batteryC13" class="batteryC13">Battery Volt & CCA</label>
        <br>
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery C13 CCA">
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery C13 Volt">
        <br>
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MTU G001 CCA">
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MTU G001 Volt">
        <br>
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MTU G005 CCA">
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MTU G005 Volt">
        <br>
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MTU G004 CCA">
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MTU G004 Volt">
        <br>
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MAN Batt-1 CCA">
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MAN Batt-1 Volt">
        <br>
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MAN Batt-2 CCA">
        <input type="text" class="batteryC13" id="batteryC13" name="batteryC13" placeholder="Battery MAN Batt-2 Volt">
        <br><br>
        <label for="fuelMe" class="fuel">Fuel consumption before PDI</label>
        <br>
        <input type="text" class="omInput" id="fuelMe" name="fuelMe" placeholder="Gallon" required>
        <br>
        <label for="ommMain">Main OMM</label>
        <br>
        <input type="text" class="omInput" id="ommMain" name="omMain" value="ommMain" placeholder="Main OMM" required>
        <br>
        <label for="suppOmm">Supplemental OMM</label>
        <br>
        <input type="text" class="omInput" id="ommSupp" name="omSupp" value="suppOmm" placeholder="Supplemental OMM" required>
        <br>
        <label for="unloadOmm">Unload OMM</label>
        <br>
        <input type="text" class="omInput" id="unloadOmm" name="omUnload" value="unloadOmm" placeholder="Unload OMM" required>
        <br>
        <label for="ommMain">Profi Cam</label>
        <br>
        <input type="text" class="omInput" id="locationId" name="omProfiCam" value="dualTire" placeholder="Profi Cam">
        <br>
        <label for="cebisOmm">Cebis Mobil</label>
        <br>
        <input type="text" class="omInput" id="cebisOmm" name="omCebis" value="cebisMobilOmm" placeholder="Cebis Mobil OMM">
        <br>
        <label for="ommMain">Mobile Touch</label>
        <br>
        <input type="text" class="omInput" id="locationId" name="omMobileTouch" value="mobileTouchOmm" placeholder="Mobile Touch">
        <br>
        <label for="ommMain">Terra Track</label>
        <br>
        <input type="text" class="omInput" id="locationId" name="omTerra" value="terraTrack" placeholder="Terra Track">
        <br>
        <label for="ommMain">Dual Tire New Version</label>
        <br>
        <input type="text" class="omInput" id="locationId" name="omDualTire" value="dualTire" placeholder="Dual Tires">
    </form>
    </div>
    <br><br>
    <h3>Configuration</h3>
    <table class="pdiCheckList">
        <tbody>
        {{#each machineConfig}}
            <tr class=" ">
                <td class="pdiCell">
                    <div class="positionCheckPos" >
                        {{{config}}}
                    </div>
                    <div class="positionCheckText" >
                        {{{configItem}}}
                    </div>
                    <button class="buttonOK" id={{_id}}>OK</button>

                    <button class="buttonNOK" id={{_id}}>NOK</button>

                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
        <br><br>
    <h3>Checklist</h3>
        <table class="pdiCheckList">
            <tbody>
                {{#each checkList}}
                    <tr class=" ">
                        <td class="pdiCell">
                            <div class="positionCheckPos" >
                            {{{errorPos}}}
                            </div>
                            <div class="positionCheckText">
                            {{{errorDescription}}}
                            </div>
                            <button class="buttonOK" id={{_id}}>OK</button>

                            <button class="buttonNOK" id={{_id}}>NOK</button>

                            <button class="buttonNA" id={{_id}}>N/A</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    <br><br>
    <form action="">
        <div>
            <label for="addIssueLabel">Add Issue</label>
            <input type="text" id="addIssue" class="addIssue" placeholder="Add issue">
        </div>
    </form>

</template>


