<template name="pdi_Omm">
    {{#if currentUser}}
        {{> topNav}}
        {{> Omm}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="Omm">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
            <a class="btn" href="/checkList">Checklist</a>
            <a>|</a>
            <a class="btn" href="/inspectionStart">Inspection</a>
            <a>|</a>
            <a class="btn" href="/pdiRepairList">Review Repair List</a>
            <a>|</a>
            <a class="btn" href="/si">SI's or special Item's </a>
            <a>|</a>
            <a class="btn" href="/variants">Variants Viewer</a>
            <a>|</a>
            <a class="btn" href="/dropDownList">Component Lists</a>
            <a>|</a>
            <a class="btn" href="/preSeriesCheck">Pre Series Check Lists</a>
        </nav>
    </div>

</template>

<template name="documentInput">
    <form class="documentForm">
      <input type="text" class="mainPartInput" id="mainOmmPartNr" name="mainOmmPartNr" placeholder="Part Nr">
      <input type="text" class="mainRangeInput" id="mainOmmRange" name="mainOmmRange"  placeholder="Main Omm Range" required>
    <button class="newCheck" type="submit">Add new document</button>
    </form>
</template>


