<template name="inspectionStart">
    {{#if currentUser}}
        {{> topNav}}
        {{> inspection}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="inspection">
  <div>
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <br>
    <nav class="mainLayout">
        <a class="btn" href="/checkList">Checklist</a>
        <a>|</a>
        <a class="btn" href="/pdiRepairList">Review Repair List</a>
        <a>|</a>
        <a class="btn" href="/si">SI's or special Item's </a>
        <a>|</a>
        <a class="btn" href="/variants">Variants Viewer</a>
    </nav>
    <div class="overviewHeader">
        Open Pdi's : {{countPdi}}
        <br>
       Average Fuel Consumption per Pdi : {{countConsumption}} Gallon
    </div>
    <div class="pdiButton">
            <button class="btn btn-default machinePdi {{inActive_1}}">Perform PDI</button>
            <button class="btn btn-default cancelPdiProcess">Cancel PDI</button>
            <button class="btn btn-default machineSkipPdi">Skip PDI</button>
            <button class="btn btn-default resumePdi {{inActive_2}}">Join PDI</button>
            <button class="btn btn-default addIssueButton">Add Issue to PDI</button>
        <form class="fileContainer">
            <button class="btn btn-default">Load config</button>
            <input class="loadConfig" type="file" id="files" name="files[]" >
        </form>
    </div>
    <table class="pdiTable blueTable tablePdiOverview" cellpadding="10">
         <thead>
            <tr>
              <th class="pdiMachineField"><strong>Machine</strong></th>
              <th class="pdiShipDate"><strong>Ship Date</strong></th>
                <th class="pdiLocation"><strong>Location</strong></th>
                <th class="pdiDestination"><strong>Destination</strong></th>
                <th class="pdiTruckOnOrder"><strong>Truck ordered</strong></th>
                <th class="pdiTruckDate"><strong>Confirmed Ship Date</strong></th>
              <th class="pdiComments"><strong>Comments</strong></th>
              <th class="pdiPDIField"><strong>PDI</strong></th>
              <th class="pdiWashField"><strong>Wash</strong></th>
              <th class="pdiConfig"><strong>Config loaded</strong></th>
            </tr>
         </thead>
        <tbody>
           {{#each shipList}}
            <tr class="openInspections {{selectedClass}}">
               <td class="pdiMachineField">{{machineId}}</td>
               <td class="pdiShipDate">{{date}}</td>
                <td class="pdiLocation" style="background-color: #6fd981">{{locationId}}</td>
                <td class="pdiDestination">{{destination}}</td>
                <td class="pdiTruckOnOrder {{getStatusTruck truckStatus}}" style="background-color:{{getStatusTruck truckStatus}}; color:{{getStatusTruck truckStatus}}" >{{truckStatus}}</td>
                <td class="pdiTruckDate truckDateCorrection">{{confirmedShipDate}}</td>
               <td class="pdiComments">{{shippingComment}}</td>
               <td class="pdiPDIField {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}">{{pdiStatus}}</td>
               <td class="pdiWashField {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}}; color:{{getStatusColor washStatus}}" >{{washStatus}}</td>
               <td class="pdiConfig {{getConfigColor configStatus}}" style="background-color:{{getConfigColor configStatus}}; color:{{getConfigColor configStatus}}">{{configStatus}}</td>
            </tr>
           {{/each}}
        </tbody>
    </table>
  </div>
</template>





