<template name="si">
    {{#if currentUser}}
          {{> topNav}}
          {{> addingToPdi}}
          {{> siTable}}
          {{> upload}}
          {{> siInActive}}
    {{else}}
        {{> login}}
    {{/if}}
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
</template>

<template name="addingToPdi">
    <div class="add-to-pdi">
        <h3>Add items to PDI</h3>
        <form class="add-item-to-pdi">
            <label for="pdi-item"></label>
            <input type="text"
                   class="pdi-item"
                   id="pdi-item"
                   name="pdiItem"
                   placeholder="pdi-item"
                   style="width: 450px;">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div>
        <table class="blueTable pdi-item-table">
            <thead >
            <tr>
                <th class="pdi-item-table">Pdi Repair Description</th>
            </tr>
            </thead>
            <tbody class="pdi-items-height">
            {{#each itemToPdi}}
                <tr class="selectedPdiItem {{selected}}">
                    <td class="pdi-item-table">{{pdiItem}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="remove-selected-pdi-item">
        <button class="btn btn-danger remove-pdi-Item">Remove selected</button>
    </div>
</template>

<template name="siTable">
    <div class="siSingle">
         <h1 class="posSingle">Single Machines</h1>
           <form class="siItems">
              <label for="siItem" class="mLocationId" ></label>
              <input type="text" class="siItemMachine" id="siItem" name="siMachine" placeholder="Machine" required>
              <label for="siItem" class="" ></label>
              <input type="text" class="siItem" id="siItem" name="siItemText" placeholder="Description" required>
              <button type="submit" class="btn btn-success submit-Si">Submit</button>
           </form>
           <form class="removeSiItem">
              <button type="submit" class="btn btn-danger remove-Si-Item">Remove selected</button>
           </form>
    </div>
    <div>
       <table class="blueTable siSingleTable">
            <thead>
                <tr class="rTableRow ">
                    <th class="pdiMachineField"><strong>Machine</strong></th>
                    <th class="pdi-item-table"><strong>SI Description</strong></th>
                </tr>
            </thead>
            <tbody>
                {{#each siList}}
                   <tr class="rTableRow selectedSiItem {{selectedLineItem}}">
                       <td class="pdiMachineField">{{machineNr}}</td>
                       <td class="pdi-item-table">{{errorDescription}}</td>
                   </tr>
                {{/each}}
            </tbody>
       </table>
    </div>
</template>

<template name="upload">
    <div class="headerMultiple">
        <h1>Multiple Machines</h1>
    </div>
    <div class="siButtons">
        {{> changeStat}}
    </div>
  <div class="multipleSiTable">
      <div class="headSi">
      <h3>Submit new SI List</h3>
      </div>
      {{> uploadList}}
      <div class="siUpload">
          <h3 class="siHeader">Upload for: {{siNew}}</h3>
          {{#unless uploading}}
              <input class="siFile" type="file" name="uploadCSV">
          {{else}}
              <p><i class="fa fa-spin fa-refresh"></i>uploading files</p>
          {{/unless}}
      </div>
      <div>
           <form class="siMdList posBulk">
               <label for="siMdList"></label>
              <input type="text" id="siMdList" class="siItemMachine" name="siMdList" placeholder="Si Nr" required>
              <button type="submit" class="btn btn-default btn-info siSubmit">Submit</button>
           </form>
      </div>
  </div>
</template>

<template name="uploadList">
    <table class="blueTable siType">
        <thead>
          <tr class="">
            <th class="pdiDestination"><strong>SI</strong></th>
          </tr>
        </thead>
        <tbody>
        {{#each siTable}}
          <tr class=" selectedSiItem {{selectedSingleItem}}">
             <td class="pdiDestination">{{siNumber}}</td>
          </tr>
        {{/each}}
        </tbody>
    </table>
    <div>
        <table class="blueTable siMachineList">
            <thead>
              <tr>
                <th class="pdiMachineField"><strong>Machine List</strong></th>
                <th class="pdiRepField"><strong>Status</strong></th>
              </tr>
            </thead>
            <tbody>
                {{#each siContent}}
                    <tr class="rTableRow selectedSi {{selectedSiMachine}}">
                       <td class="pdiMachineField">{{machine}}</td>
                       <td class="pdiRepField {{getSiStatusColor siStatus}}" style="background-color:{{getSiStatusColor
                                siStatus}}; color:{{getSiStatusColor siStatus}}">{{siStatus}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="changeStat">
    <h3>Change SI status</h3>
        <form class="statusChange">
            <button type="submit" class="btn btn-success statusButton statusBackground_1">Solved by Repair</button>
            <p></p>
            <button type="submit" class="btn btn-info statusButton statusBackground_4">Move to SI Field List</button>
        </form>
    <p></p>
        <form class="removeSI">
            <button type="submit" class="btn btn-danger removeSI">Deactivate marked SI</button>
        </form>
</template>


<template name="siInActive">
    <form class="reactivateSi">
        <button type="submit" class="btn btn-info reactSi">Reactivate marked SI</button>
    </form>
    <div>
    <table class="blueTable siInactive">
        <thead>
        <tr class="">
            <th class="pdiDestination"><strong>SI inactive</strong></th>
        </tr>
        </thead>
        <tbody class="tableHeight">
        {{#each siInactiveTable}}
            <tr class=" selectedInactiveSi {{selectedInactiveSi}}">
                <td class="pdiDestination">{{siNumber}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</template>

<template name="addSpecialItems">
        {{> topNav}}
        <div class="repairNavButton">
            <nav>
                <a class="btn" href="/repairView">Repair</a>
            </nav>
        </div>
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div style="margin-left: 3em">
        <h1>Add / Edit / Remove special Items for each pdi machine</h1>
      <p></p>
        <form class="addItem">
            <label for="specialPdiItem"></label>
            <input type="text" class="" id="specialPdiItem" name="specialPdiItem" placeholder="Special Pdi Item" required>
            <button type="submit" class="btn btn-success addItem">Add item</button>
            <button type="submit" class="btn btn-info in-active-button">Edit item</button>
            <button type="submit" class="btn btn-info in-active-button">Remove item</button>
        </form>
    </div>
    <div>
        <table class="blueTable siSingleTable">
            <thead>
            <tr class="">
                <th class="pdiComments"><strong>Pdi Item</strong></th>
            </tr>
            </thead>
            <tbody class="tableHeight">
            {{#each pdiItemList}}
                <tr class=" selectedSpecialPdiItem {{selectedPdiItem}}">
                    <td class="pdiComments">{{specialItem}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>