<template name="inspectionStart">
    {{#if currentUser}}
        {{> inspection}}
    {{else}}
        {{> login}}
    {{/if}}
</template>



<template name="inspection">
  <div>
      <nav class="mainLayout">
        <a class="btn" href="/overViewUser">Over View</a>
          <a>|</a>
        <a class="btn" href="/machineLocation">Locations</a>
          <a>|</a>
        <a class="btn" href="/statistics" disabled>Statistics</a>
          <a>|</a>
        <a class="btn" href="/logout" >Logout</a>
      </nav>
    <br>
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <br>
    <nav class="mainLayout">
        <a class="btn" href="/checkList">Checklist</a>
        <a>|</a>
        <a class="btn" href="/pdiRepairList">Review Repair List</a>
        <a>|</a>
        <a class="btn" href="/si">SI's or special Item's </a>
    </nav>
    <div class="overviewHeader">
        Open Pdi's : {{countPdi}}
        <br>
       Average Fuel Consumption per Pdi : {{countConsumption}} Gallon
    </div>
    <div class="pdiButton">
    <form>
        <button class="machinePdi">Perform PDI</button>
        <button class="cancelPdiProcess">Cancel PDI</button>
        <button class="machineSkipPdi">Skip PDI</button>
        <button class="resumePdi">Resume PDI</button>
        <button class="loadConfig">Load Config</button>
    </form>
    </div>
    <table class="pdiTable blueTable tablePdiOverview" cellpadding="10">
         <thead>
            <tr>
              <th class="pdiMachineField"><strong>Machine</strong></th>
              <th class="pdiShipDate"><strong>Ship Date</strong></th>
              <th class="pdiComments"><strong>Comments</strong></th>
              <th class="pdiPDIField" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}">{{pdiStatus}}><strong>PDI</strong></th>
              <th class="pdiWashField"><strong>Wash</strong></th>
              <th class="pdiLocation"><strong>Location</strong></th>
              <th class="pdiConfig"><strong>Config loaded</strong></th>
            </tr>
         </thead>
        <tbody>
           {{#each shipList}}
            <tr class="openInspections {{selectedClass}}">
               <td class="pdiMachineField">{{machineId}}</td>
               <td class="pdiShipDate">{{date}}</td>
               <td class="pdiComments">{{shippingComment}}</td>
               <td class="pdiPDIField {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor pdiStatus}}; color:{{getStatusColor pdiStatus}}">{{pdiStatus}}</td>
               <td class="pdiWashField {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}}; color:{{getStatusColor washStatus}}" >{{washStatus}}</td>
               <td class="pdiLocation" style="background-color: #6fd981">{{locationId}}</td>
               <td class="pdiConfig {{getConfigColor configStatus}}" style="background-color:{{getConfigColor configStatus}}; color:{{getConfigColor configStatus}}">{{configStatus}}</td>
            </tr>
           {{/each}}
        </tbody>
    </table>
  </div>
</template>





