
<template name="pdi_printOut">
        <div class="printoutMargin print">
            {{#each listContent}}
                <div>
                   <div>
                      <h4>Machine Id : {{preMachineId}} {{machineId}}</h4>
                      <h4>PDI performed by {{pdiPerformer}} {{user}}</h4>
                   </div>
                   <br>
                   <div class="configPrint">
                      {{#each machineConfig}}
                          <div>
                              {{config}} : {{configItem}}
                          </div>
                      {{/each }}
                   </div>
                </div>
                <div class="footer">
                    <p>
                    <h6>Released by:  Mroczek, Aaron  -  Date:  11.04.2018  - Version: 1.0</h6>
                    <h6>Printed copies are not under control, the CLAAS BPM contains the controlled version</h6>
                    <h6>Title:  Quality – PDI Checklist Template  Pdi Machine: {{machineId}} {{preMachineId}}</h6>
                    </p>
                </div>
                <p style="page-break-after: always;"></p>
                <div>
                    <div class="">
                       <h3>Operator Maintenance Manual</h3>
                       <h4>Omm Main : {{omms.ommMain}}</h4>
                       <h4>Omm Supplemental : {{omms.ommSupp}}</h4>
                       <h4>Omm Unload : {{omms.ommUnload}}</h4>
                       <h4>Omm Cebis : {{omms.ommCebis}}</h4>
                       <h4>Omm Cebis Touch : {{omms.ommCebisTouch}}</h4>
                       <h4>Omm Terra Track : {{omms.ommTerra}}</h4>
                       <h4>Omm Dual : {{omms.ommDuals}}</h4>
                       <h4>Omm Profi Cam : {{omms.ommProfiCam}}</h4>
                       <h4>---------------------------------------------------------------------------</h4>
                    </div>
                    <br>
                    <div class="">
                       <h3>Battery result</h3>
                       <br>
                       <h4>{{batteries.battC13CCA}} Amp      {{batteries.battC13Volt}} Volt</h4>
                       <h4>------------------------------------------------</h4>
                       <h4>G001: {{batteries.mtuG001CCA}} Amp    {{batteries.mtuG001Volt}} Volt</h4>
                       <h4>------------------------------------------------</h4>
                       <h4>G005: {{batteries.mtuG005CCA}} Amp    {{batteries.mtuG005Volt}} Volt</h4>
                       <h4>------------------------------------------------</h4>
                       <h4>G004: {{batteries.mtuG004CCA}} Amp    {{batteries.mtuG004Volt}} Volt</h4>
                       <h4>------------------------------------------------</h4>
                       <h4>CCA: {{batteries.manBatt_1CCA}} Amp    {{batteries.manBatt_1Volt}} Volt</h4>
                       <h4>------------------------------------------------</h4>
                       <h4>CCA: {{batteries.manBatt_2CCA}} Amp    {{batteries.manBatt_2Volt}} Volt</h4>
                    </div>
                </div>
        <p style="page-break-after: always;"></p>
                <div>
                    <div class="printList">
                        <h3>Repair List:</h3>
                        <table class="printOutTable">
                            {{#each newIssues}}
                                    <tr class="tableHeight">
                                        <td class="tableWidthError"><h5>{{siNumber}} {{errorDescription}}</h5></td>
                                        <td class="tableWidthComment"></td>
                                        <td class="tableWidthSignOff"></td>
                                    </tr>
                            {{/each}}
                        </table>
                    </div>
                    <div class="printList">
                        <table class="printOutTable">
                        {{#each checkList}}
                            {{#if failStatus }}
                                <tr class="tableHeight">
                                    <td class="tableWidthError"><h5>{{errorDescription}}</h5></td>
                                    <td class="tableWidthComment"></td>
                                    <td class="tableWidthSignOff"></td>
                                </tr>
                            {{/if}}
                        {{/each}}
                        </table>
                    </div>
                </div>
            {{/each}}
            <br><br><br>
        <p style="page-break-after: always;">&nbsp;</p>
            <!-- Pre Series Output -->
            <div>
                {{#each listOutput}}
                    <div class="image">
                        <img src={{imagePath}}>
                        <h3>{{errorDescription}}</h3>
                    </div>
                    <br>
                {{/each}}
            </div>
        </div>
</template>