<template name="si">
    {{#if currentUser}}
          {{> topNav}}
        {{> siTable}}
          {{> upload}}
        {{> siInActive}}
    {{else}}
        {{> login}}
    {{/if}}
</template>


<template name="siTable">
    {{#if isInRole 'repair'}}
        {{> repairLayout}}
    {{/if}}
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    <div class="siSingle">
         <h1 class="posSingle">Single Machines</h1>
       <form class="siItems">
          <label for="siItem" class="mLocationId" ></label>
          <input type="text" class="siItemMachine" id="siItem" name="siMachine" placeholder="Machine" required>
          <label for="siItem" class="" ></label>
          <input type="text" class="siItem" id="siItem" name="siItemText" placeholder="Description" required>
          <button type="submit" class="reserveId">Submit</button>
       </form>
        <br><br>
       <form class="removeSiItem">
          <button type="submit" class="removeSiItem">Remove SI Item</button>
       </form>
          <br>
    </div>
    <div>
       <table class="blueTable siSingleTable">
            <thead>
                <tr class="rTableRow ">
                    <th class="pdiMachineField"><strong>Machine</strong></th>
                    <th class="pdiComments"><strong>SI Description</strong></th>
                </tr>
            </thead>
            <tbody>
                {{#each siList}}
                   <tr class="rTableRow selectedSiItem {{selectedLineItem}}">
                       <td class="pdiMachineField">{{machineNr}}</td>
                       <td class="pdiComments">{{errorDescription}}</td>
                   </tr>
                {{/each}}
            </tbody>
       </table>
    </div>
</template>

<template name="upload">
    <div class="headerMultiple">
        <h1>Multiple Machines</h1>
    </div>
    <div class="siButtons">
        {{> changeStat}}
    </div>
  <div class="multipleSiTable">
      <div class="headSi">
      <h3>Submit new SI List</h3>
      </div>
      {{> uploadList}}
      <div class="siUpload">
          <h3 class="siHeader">Upload for: {{siNew}}</h3>
          {{#unless uploading}}
              <input class="siFile" type="file" name="uploadCSV">
          {{else}}
              <p><i class="fa fa-spin fa-refresh"></i>uploading files</p>
          {{/unless}}
      </div>
      <div>
           <form class="siMdList posBulk">
               <label for="siMdList"></label>
              <input type="text" id="siMdList" class="siItemMachine" name="siMdList" placeholder="Si Nr" required>
              <button type="submit" class="btn btn-default btn-info siSubmit">Submit</button>
           </form>
      </div>
  </div>
</template>

<template name="uploadList">
    <table class="blueTable siType">
        <thead>
          <tr class="">
            <th class="pdiDestination"><strong>SI</strong></th>
          </tr>
        </thead>
        <tbody>
        {{#each siTable}}
          <tr class=" selectedSiItem {{selectedSingleItem}}">
             <td class="pdiDestination">{{siNumber}}</td>
          </tr>
        {{/each}}
        </tbody>
    </table>
    <div>
        <table class="blueTable siMachineList">
            <thead>
              <tr>
                <th class="pdiMachineField"><strong>Machine List</strong></th>
                <th class="pdiRepField"><strong>Status</strong></th>
              </tr>
            </thead>
            <tbody>
                {{#each siContent}}
                    <tr class="rTableRow selectedSi {{selectedSiMachine}}">
                       <td class="pdiMachineField">{{machine}}</td>
                       <td class="pdiRepField {{getSiStatusColor siStatus}}" style="background-color:{{getSiStatusColor
                                siStatus}}; color:{{getSiStatusColor siStatus}}">{{siStatus}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="changeStat">
    <h3>Change SI status</h3>
        <form class="statusChange">
            <button type="submit" class="btn btn-success statusButton statusBackground_1">Solved by Repair</button>
            <p></p>
            <button type="submit" class="btn btn-info statusButton statusBackground_4">Move to SI Field List</button>
        </form>
    <p></p>
        <form class="removeSI">
            <button type="submit" class="btn btn-danger removeSI">Deactivate marked SI</button>
        </form>
</template>


<template name="siInActive">
    <form class="reactivateSi">
        <button type="submit" class="btn btn-info reactSi">Reactivate marked SI</button>
    </form>
    <div>
    <table class="blueTable siInactive">
        <thead>
        <tr class="">
            <th class="pdiDestination"><strong>SI inactive</strong></th>
        </tr>
        </thead>
        <tbody class="tableHeight">
        {{#each siInactiveTable}}
            <tr class=" selectedInactiveSi {{selectedInactiveSi}}">
                <td class="pdiDestination">{{siNumber}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>

</template>