<template name="variants">
    {{#if currentUser}}
        {{> topNav}}
        {{> variantsViewer}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="variantsViewer">
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    <nav class="mainLayout">
        <a class="btn" href="/inspectionStart">PDI Overview</a>
        <a>|</a>
        <a class="btn" href="/checkList">Checklist</a>
        <a>|</a>
        <a class="btn" href="/pdiRepairList">Review Repair List</a>
        <a>|</a>
        <a class="btn" href="/si">SI's or special Item's </a>
    </nav>
        <br>
    <div class="variantViewer">
        <h3>Variant Viewer</h3>
    </div>
    <div>
        <button class="btn btn-default btn-info howTo" >!! How to upload a Variant !!</button>
    </div>
    <div class="loadVariantButton">
        <form class="fileContainer">
            <button class="singleVariantButton">Load / Update Variant</button>
            <input class="loadVariant" type="file" id="variant" name="variant[]" >
        </form>
    </div>
<div class="variantButtons">
    <button class="btn btn-default c77">Variants C77</button>
    <button class="btn btn-default c78">Variants C78</button>
    <button class="btn btn-default c79">Variants C79</button>
    <button class="btn btn-default c87">Variants C87</button>
    <button class="btn btn-default c88">Variants C88</button>
    <button class="btn btn-default c89">Variants C89</button>
</div>
<div class="variantTable">
    <table class="pdiTable blueTable tablePdiOverview" cellpadding="10">
        <thead>
        <tr>
            <th class="userLastLogin"><strong>Variant</strong></th>
            <th class="pdiVariantDescription"><strong>Description</strong></th>
            <th class="pdiShipDate"><strong>Last Update</strong></th>
            <th class="pdiShipDate"><strong>Info</strong></th>
            <th class="variant-visibility"><strong>Visibility</strong></th>
        </tr>
        </thead>
        <tbody>
        {{#each variants}}
            <tr class="openInspections {{selectedClass}}">
                <td class="userLastLogin {{variantVisible status}}"
                    style="background-color:{{variantVisible status}};
                                      color:{{variantVisible status}}">{{variant}}</td>
                <td class="pdiVariantDescription {{variantVisible status}}"
                    style="background-color:{{variantVisible status}};
                            color:{{variantVisible status}}">{{variantDescription}}</td>
                <td class="pdiShipDate {{variantVisible status}}"
                    style="background-color:{{variantVisible status}};
                            color:{{variantVisible status}}"><strong>{{dateLoaded}}</strong></td>
                <td class="pdiShipDate"><a target="blank" href={{imagePath}}>
                    <img class="" src={{imagePath}}
                         onerror="this.src='noPicture.JPG'"
                         alt="No Picture">
                </a></td>
                <td class="variant-visible">
                    <button class="btn btn-default btn-info btn-sm">visible / hide</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
    <div  class="submit-pic">
        <h3>Upload image for Variant Info</h3>
        <form>
            <label for="img">Select image:</label>
            <input class="btn btn-default btn-info" id="img" name="img" accept="image/*" type="file">
        </form>
    </div>
</template>