
<template name="checkList">
{{#if currentUser}}
{{> inputNewCheckPoint}}
{{else}}
    {{> login}}
{{/if}}
</template>

<template name="inputNewCheckPoint">
    <div>
        <nav class="mainLayout">
            <a class="btn" href="/overViewUser">Over View</a>
            <a>|</a>
            <a class="btn" href="/inspectionStart">PDI Overview</a>
            <a>|</a>
            <a class="btn" href="/statistics" disabled>Statistics</a>
            <a>|</a>
            <a class="btn" href="/logout" >Logout</a>
        </nav>
        <br>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    </div>
       <br><br>
      <div class="checkpointHeader">
          <div class="title"> PDI Checkpoints</div>
      </div>
      <br>
        <form class="inputNewCheck">
            <div class="inputMargin">
                <label for="newPosition" class="">Position *</label>
                <br>
                  <select name="newPosition" id="newPosition" class="input" required>
                      <option>{{position}}</option>
                      <option>Top</option>
                      <option>Bottom</option>
                      <option>Front</option>
                      <option>Back</option>
                      <option>Left</option>
                      <option>Right</option>
                      <option>Over All</option>
                      <option>Cab Inside/Outside</option>
                </select>
            </div>
            <div class="inputMargin">
              <label for="errorDescription">Error Description *</label>
                <br>
                <input type="text" id="errorDescription" name="errorDescription" class="input descriptionBox"
                       placeholder="Description" value='{{errorEdit}}' required>
                <br><br><br>
            </div>
                <div class="inputMargin title">
                   <label for="machineRange">Machine Range, divide by white space like "C7800200 C7900300 "</label>
                <br>
                   <label for="machineRangeStart" class="">
                       <input type="text" class="inputRange" id="machineRangeStart" name="machineRangeStart" placeholder="Range Start" disabled>
                   </label>
                   <label for="machineRangeEnd" class="machineRangeEnd">
                       <input type="text" class="inputRange" id="machineRangeEnd" name="machineRangeEndC77" placeholder="Range End C77" value='{{rangeC77}}'>
                       <input type="text" class="inputRange" id="machineRangeEnd" name="machineRangeEndC78" placeholder="Range End C78" value='{{rangeC78}}'>
                       <input type="text" class="inputRange" id="machineRangeEnd" name="machineRangeEndC79" placeholder="Range End C79" value='{{rangeC79}}'>
                   </label>
                </div>
            <br><br><br>
                <div>
                    <label for="machineRange" class="checkpointCheckbox checkBoxHeader">Machine type only if range is not applicable</label>
                </div>
                <div class="checkBoxCheckList">
                   <ul class="checkpointCheckbox">
                       <label for="C77" class="checkBoxMargin"><input type="checkbox" value="C77" id="C77" name="range">C77</label>
                       <label for="C78" class="checkBoxMargin"><input type="checkbox" value="C78" id="C78" name="range">C78</label>
                       <label for="C79" class="checkBoxMargin"><input type="checkbox" value="C79" id="C79" name="range">C79</label>
                       <label for="C87" class="checkBoxMargin"><input type="checkbox" value="C87" id="C87" name="range">C87</label>
                       <label for="C88" class="checkBoxMargin"><input type="checkbox" value="C88" id="C88" name="range">C88</label>
                       <label for="C89" class="checkBoxMargin"><input type="checkbox" value="C89" id="C89" name="range">C89</label>
                   </ul>
                </div>

            <div class="inputMargin">
                <button class="insertNew" type="submit" >Submit check point</button>
                <button class="activateCheck">Re-activate check point</button>
                <button class=" colorCheckButtonDeactivate deActiveCheck">Deactivate check point</button>
                <button class="switchCheckPointTable">Switch active / inactive list </button>
            </div>
        </form>
    <table class="blueTable tableChecklist"  cellpadding="10">
        <thead>
        <tr class="">
            <th class="position">Position</th>
            <th class="failure">{{activeHeader}}</th>
            <th class="type">Type</th>
            <th class="rangeStart">Range end C77</th>
            <th class="rangeEnd">Range end C78</th>
            <th class="rangeEnd">Range end C79</th>
        </tr>
        </thead>
        <tbody>
    {{#each checkList}}
        <tr class="showCheckList {{selectedClass}}">
            <td class="position">{{errorPos}}</td>
            <td class="failureRow">{{errorDescription}}</td>
            <td class="type">{{machineType}}</td>
            <td class="rangeStart">{{machineRangeEndC77}}</td>
            <td class="rangeEnd">{{machineRangeEndC78}}</td>
            <td class="rangeEnd">{{machineRangeEndC79}}</td>
        </tr>
    {{/each}}
        </tbody>
    </table>
</template>