<template name="preSeriesCheck">
    {{#if currentUser}}
        {{> topNav}}
        {{> checkListOverView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="checkListOverView">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
       <!--     <a class="btn" href="/generator" >Checklist generator</a>  -->
            <a>|</a>
            <a class="btn" href="/inspectionStart">Inspection Overview</a>
            <a>|</a>
            <a class="btn" href="/preSeriesStart">Perform Check</a>
        </nav>
    </div>
    <div class="preView">
         <h3 >Pre series checklist overview</h3>
    </div>
    <div class="">
        <button type="submit" class="btn
                                     btn-warning
                                     btn-default
                                     submitButtonInside
                                     submitButtonGenerate"
                             disabled>Generate</button>
    </div>
    <div class="tablePos">
            {{#each listOutput}}
                <div class="listContainer">
                    <div class="image">
                         <img src={{imagePath}}>
                    </div>
                        <button type="submit" class="btn
                                                     btn-warning
                                                     btn-default
                                                     submitButtonInside
                                                     submitButtonEdit"
                                                     id={{id}}>Edit</button>

                        <button type="submit" class="btn
                                                     btn-success
                                                     submitButtonInside
                                                     submitButtonActive"
                                                     id={{id}}>Active</button>

                        <button type="submit" class="btn
                                                     btn-info
                                                     btn-default
                                                     submitButtonInside
                                                     submitButtonInactive"
                                                     id={{id}}>Inactive</button>

                        <button type="submit" class="btn
                                                     btn-danger
                                                     btn-default
                                                     submitButtonInside
                                                     submitButtonDelete"
                                                     id={{id}}>Delete</button>
                </div>
            {{/each}}
    </div>
    <div class="preSeriesCheckPoints">
        <form action="">
            <input type="text">
            <button type="submit" class="btn
                                         btn-default
                                         btn-success"
                                         id="{{id}}">Submit</button>
        </form>
        <table class="blueTable preTableChecklist">
            <thead>
            <tr class="">
                <th class="position">Position</th>
                <th class="failure">Description</th>
            </tr>
            </thead>
            <tbody>
            {{#each preCheckList}}
                <tr class="showCheckList {{selectedClass}}">
                    <td class="position">{{position}}</td>
                    <td class="failureRow">{{errorDescription}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>


</template>