<template name="preSeriesCheck">
    {{#if currentUser}}
        {{> topNav}}
        {{> checkListOverView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="checkListOverView">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
            <a class="btn" href="/generator">Checklist generator</a>
            <a>|</a>
            <a class="btn" href="/editor">Check list editor</a>
            <a>|</a>
            <a class="btn" href="/inspectionStart">Inspection Overview</a>
        </nav>
    </div>
    <div class="preView">
         <h3 >Pre series checklist overview</h3>
    </div>
    <br><br>

<table class="tablePos">
    <tbody>
        {{#each listOutput}}
           <tr class="listContainer">
                <td class="">
                     <img class="pdiCell imageSize" src={{imagePath}}>
                <div class="description">
                      {{{headLiner}}}
                </div>
                <div class="description">
                    {{{description}}}
                </div>
                <button class="btn btn-success " id={{_id}}>OK</button>
                <button class="btn btn-danger " id={{configItem}} name={{_id}}>NOK</button>
               </td>
           </tr>
        {{/each}}
    </tbody>
</table>



</template>