<template name="preSeriesCheck">
    {{#if currentUser}}
        {{> topNav}}
        {{> checkListOverView}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="checkListOverView">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
       <!--     <a class="btn" href="/generator" >Checklist generator</a>  -->
            <a>|</a>
            <a class="btn" href="/inspectionStart">Inspection Overview</a>
            <a>|</a>
            <a class="btn" href="/preSeriesStart">Perform Check</a>
        </nav>
    </div>
    <div class="preView">
         <h3 >Pre series checklist overview</h3>
    </div>
    <div class="">
        <button type="submit" class="btn
                                     btn-warning
                                     btn-default
                                     submitButtonInside
                                     submitButtonGenerate"
                             disabled>Generate</button>
    </div>
    <div class="tablePos">
            {{#each listOutput}}
                <div class="listContainer">
                    <div class="image">
                         <img src={{imagePath}}>
                    </div>
                        <button type="submit" class="btn
                                                     btn-success
                                                     btn-default
                                                     submitButtonInside
                                                     submitButtonTeam1"
                                                     id={{id}}>Team 1</button>

                        <button type="submit" class="btn
                                                     btn-success
                                                     submitButtonInside
                                                     submitButtonTeam2"
                                                     id={{id}}>Team 2</button>

                        <button type="submit" class="btn
                                                     btn-success
                                                     btn-default
                                                     submitButtonInside
                                                     submitButtonTeam3"
                                                     id={{id}}>Team 3</button>

                        <button type="submit" class="btn
                                                     btn-success
                                                     btn-default
                                                     submitButtonInside
                                                     submitButtonTeam4"
                                                     id={{id}}>Team 4</button>
                        <button type="submit" class="btn
                                                         btn-success
                                                         btn-default
                                                         submitButtonInside
                                                         submitButtonTeam5"
                                                         id={{id}}>Team 5</button>
                </div>
            {{/each}}
    </div>
    <div class="addPreIssues">
        <div class="mainComponentsPos">
            {{#dropdownTrigger  name="mainComponents"}}
                <button class="loginSubmit omInputButton">Main Components</button>
            {{/dropdownTrigger}}
            {{#dropdown name="mainComponents" align="left" top="25" left="-650"}}
                <tbody class="rTable">
                {{#each mainComponent}}
                    <tr class="comp {{selectedComponent}}">
                        <td class="dropDown">{{component}}</td>
                    </tr>
                {{/each}}
                </tbody>
            {{/dropdown}}
        </div>
        <div class="pdiInputFields">
            <form class="addNewIssue">
                <div class="issueField">
                    <input type="text" class="addIssueText inputIssueSize"
                           name="addIssue"
                           placeholder="Add issue"
                           value={{issueComponent}} required>
                    <br><br>
                    <button type="submit" class="btn btn-success addIssueText">Submit New Issue</button>
                </div>
            </form>
            <table class="blueTable preTableChecklist">
                <thead>
                <tr class="">
                    <th class="failure">Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each preCheckList}}
                    <tr class="showCheckList {{selectedClass}}">
                        <td class="failureRow">{{errorDescription}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>