<template name="preSeriesStart">
    {{#if currentUser}}
        {{> topNav}}
        {{> preInspection}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="preInspection">
    <div>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
        <br>
        <nav class="mainLayout">
            <a class="btn" href="/checkList">Checklist</a>
            <a>|</a>
            <a class="btn" href="/pdiRepairList">Review Repair List</a>
            <a>|</a>
            <a class="btn" href="/si">SI's or special Item's </a>
            <a>|</a>
            <a class="btn" href="/variants">Variants Viewer</a>
            <a>|</a>
            <a class="btn" href="/dropDownList">Component Lists</a>
            <a>|</a>
            <a class="btn" href="/preSeriesCheck">Pre Series Check Lists</a>
        </nav>
        <div class="overviewHeader">
            Open pre series checks : {{countPreCheck}}
        </div>
        <div class="pdiButton">
            <button class="btn btn-default startCheck">Perform Check</button>
            <button class="btn btn-default cancelPreCheck">Cancel Check</button>
            <button class="btn btn-default joinPreCheck">Join Check</button>
            <form class="fileContainer">
                <button class="btn btn-default">Load config</button>
                <input class="loadConfig" type="file" id="files" name="files[]" >
            </form>
            <form class="submit-pre">
                <button class="btn btn-default btn-success">Submit Machine number</button>
                <input type="text" id="preMachine">
                <input type="date" id="shipDate">
            </form>
        </div>

        <table class="preTable blueTable tablePdiOverview" cellpadding="10">
            <thead>
                <tr>
                    <th class="pdiMachineField"><strong>Machine</strong></th>
                    <th class="headerShipDate"><strong>Shipp Date</strong></th>
                    <th class="pdiPDIField"><strong>PDI</strong></th>
                    <th class="pdiConfig"><strong>Config loaded</strong></th>
                </tr>
            </thead>
            <tbody>
            {{#each preCheckList}}
                <tr class="openPreInspect {{selectedClass}}">
                    <td class="pdiMachineField">{{preMachineId}}</td>
                    <td class="headerShipDate" style="width: 50px">{{date}}</td>
                    <td class="pdiPDIField {{getStatusColor pdiStatus}}"
                        style="background-color:{{getStatusColor pdiStatus}};
                                color:{{getStatusColor pdiStatus}}">{{pdiStatus}}</td>
                    <td class="pdiConfig {{getConfigColor configStatus}}"
                        style="background-color:{{getConfigColor configStatus}};
                                color:{{getConfigColor configStatus}}">{{configStatus}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>


