<template name="readyShipList">
<body>
{{#if currentUser}}
    <h2>List of Availiable Machines</h2>
    {{> overViewReadyList}}

{{else}}
    {{> login}}
{{/if}}

 </body>
</template>


<template name="overViewReadyList">
    <form class="shipMe">
        <div>
            <button type="submit" class="shipMeButton">Ship me</button>
        </div>
    </form>
    <form class="locationId">
        <div>
            <button type="submit" class="machineLocation">Update Location</button>
            <label for="locationId" class="mLocationId" ></label>
            <input type="text" class="machineLocationInput" id="locationId" name="locationId" required>
        </div>
    </form>
   <table class="blueTable ">
       <thead>
       <tr>
            <th class="rTableHead"><strong>Machine</strong></th>
            <th class="rTableHead"><strong><span>Shipdate</span></strong></th>
            <th class="rTableHead"><strong>Destination</strong></th>
            <th class="rTableHead"><strong>Transporter</strong></th>
            <th class="rTableHead"><strong>Location</strong></th>
            <th class="rTableHead" style="width: 200px"><strong>Shipping Comments</strong></th>
       </tr>
       </thead>
       <tbody>
        {{#each overView}}
            <tr class="rTableRow readyList {{selectedClass}}">
                <td class="rTableCell">{{machineId}}{{newHeadId}}</td>
                <td class="rTableCell">{{date}}</td>
                <td class="rTableCell">{{destination}}</td>
                <td class="rTableCell">{{transporter}}</td>
                <td class="rTableCell" style="background-color: #6fd981">{{locationId}}</td>
                <td class="rTableCellComment">{{shippingComment}}</td>
            </tr>
        {{/each}}
       </tbody>
   </table>
</template>
