<template name="headerShipList">
    {{#if currentUser}}
        {{> inputHead}}

    <!--
        {{> headerTrailer}}
        -->
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="inputHead">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="newMachineShipping">
        <form class="inputNewHead">
            <div class="shippingInputs">
                <label for="MachineId" class="" >Head-Id</label>
                <br>
                <input type="text" class="inputComment" id="headId" name="newHead" placeholder="Head Id" value="{{headId}}" required>
            </div>
            <div class="shippingInputs">
                <label for="shippingDate" class="input">Shipping-Date</label>
                <br>
                <input type="Date" class="inputComment" id="shippingDate" name="newDate" required>
            </div>
            <div class="shippingInputs">
                <label for="newDestination" class="input">Destination</label>
                <br>
                <input type="text" class="inputComment" id="newDestination" name="newDestination" placeholder="Destination">
            </div>
            <div class="shippingInputs">
                <label for="newTransporter" class="input">Transporter</label>
                <br>
                <input type="text" class="inputComment" id="newTransporter" name="newTransporter" placeholder="Transporter">
            </div>
                <br>
            <div>
                <ul class="firstKit">
                    <li>
                        <div>
                            <label for="newKit1">
                              <input type="checkbox" value=" B07_0040" id="newKit1" name="newKit" class="newKit1" {{newKit1}}>B07 0040</label>
                        </div>
                    </li>
                    <li>
                    <div>
                        <label for="newKit2">
                            <input type="checkbox" value=" B07_0045" id="newKit2" name="newKit" class="newKit2"  {{newKit2}}>B07 0045</label>
                    </div>
                </li>
                    <li>
                        <div class="kitGroup007">
                            <label for="newKit3">
                                <input type="checkbox" value=" 007_0300" id="newKit3" name="newKit" class="newKit3"  {{newKit3}}>007 0300 / 0358 347.0 Laser Pilot LH</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup007">
                            <label for="newKit4">
                                <input type="checkbox" value=" 007_0302" id="newKit2" name="newKit" class="newKit2"  {{newKit4}}>007 0302 / 0358 354.0 Laser Pilot RH</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="secondKit">
                <ul>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit5">
                                <input type="checkbox" value=" 003_0301" id="newKit2" name="newKit" class="newKit2"  {{newKit5}}>003 0301</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit6">
                                <input type="checkbox" value=" 003_0300" id="newKit2" name="newKit" class="newKit2"  {{newKit6}}>003 0300</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit7">
                                <input type="checkbox" value=" 003_0302" id="newKit2" name="newKit" class="newKit2"  {{newKit7}}>003 0302</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit8">
                                <input type="checkbox" value=" 003_0220" id="newKit2" name="newKit" class="newKit2"  {{newKit8}}>003 0220 / 0523 803.0 Canola Kit 35ft RH 10.5m</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit9">
                                <input type="checkbox" value=" 003_0312" id="newKit2" name="newKit" class="newKit2"  {{newKit9}}>003 0220 / 0398 735.0 Canola Kit 40ft LH 12.3m</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="headerComment">
                <label for="newComment" class="inputComment">Comments</label>
                <br>
                <input type="text" class="headerInputComment" id="newComment" name="newComment" placeholder="Comments">
            </div>
            <br>
            <div class="headerSubmit">
                <button class="btn btn-default btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
        <div class="buttonDelete">
            <button class="btn btn-default btn-danger" type="submit">Delete marked Machine</button>
        </div>
        <div class="buttonEdit">
            <button class="btn btn-default btn-info" type="submit">Edit marked Machine</button>
        </div>
        <table class="shippingTable blueTable headerTable" cellpadding="10">
            <thead class="">
            <tr class="">
                <th class="pdiMachineField"><strong>Machine</strong></th>
                <th class="pdiShipDate" ><strong>ShipDate</strong></th>
                <th class="pdiDestination"><strong>Destination</strong></th>
                <th class="pdiTransporter"><strong>Transporter</strong></th>
                <th class="pdiKitField" style="width: 164px; text-align: center;"><strong>Ship with Kit</strong></th>
                <th class="pdiComments"><strong>Shipping Comments</strong></th>
                <th class="pdiShipField"><strong>Ship Status</strong></th>
            </tr>
            </thead>
            <tbody>
               {{#each shippList}}
                  <tr class="rTableRow newShippingHead {{selectedClass}}">
                     <td class="pdiMachineField">{{newHeadId}}</td>
                     <td class="pdiShipDate">{{date}}</td>
                     <td class="pdiDestination">{{destination}}</td>
                     <td class="pdiTransporter">{{transporter}}</td>
                     <td class="pdiKitField" style="width: 90px">{{kit}}</td>
                     <td class="pdiComments">{{shippingComment}}</td>
                     <td class="pdiShipField {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}">{{shipStatus}}</td>
                  </tr>
               {{/each}}
           </tbody>
        </table>
</template>

<template name="headerTrailer">
    <div class="headerTrailerLot">
    <h2>Trailer on Lot</h2>
    </div>
    <div class="headerTrailerMove">
        <h2>Trailer on the Move</h2>
    </div>
 <div class="headTrailerList">
    <form class="newTrailerInput">
    <div class="">
        <label for="newTransporter" class=""></label>
        <input type="text" class="inputTransporterId" id="newTransporter" name="newTransporter" placeholder="Transporter">
    </div>
    <div class="">
        <label for="trailerId" class=""></label>
        <input type="text" class="inputTrailerId" id="trailerId" name="trailerId" placeholder="Trailer Id">
    </div>
    <div class="trailerButton">
        <button class="trailerSubmit" type="submit">Enter Trailer Id</button>
    </div>
    </form>
     <table class="shippingTable blueTable" cellpadding="10">
         <thead class="">
           <tr class="">
              <th class=""><strong>Transporter</strong></th>
              <th class="" ><strong>Trailer ID</strong></th>
           </tr>
         </thead>
         <tbody>
          {{#each availiableTrailer}}
            <tr class="rTableRow trailerTable {{selectedClass}}">
                <td class="rTableTrailer">{{headTransporter}}</td>
                <td class="rTableTrailer">{{newTrailer}}</td>
            </tr>
        {{/each}}
         </tbody>
     </table>
    <div class="">
        <button class="trailerDelete" type="submit">Delete Trailer</button>
    </div>
    <div class="">
        <button class="trailerMove" type="submit">Move me</button>
    </div>
     <table class="shippingTable blueTable" cellpadding="10">
         <thead class="">
         <tr class="">
            <th class="rTableHead"><strong>Transporter</strong></th>
            <th class="rTableHead" ><strong>Trailer ID</strong></th>
        </tr>
         </thead>
         <tbody>
        {{#each trailerGone}}
            <div class="rTableRow moveTrailer {{selectedClass2}}">
                <div class="rTableTrailer">{{headTransporter}}</div>
                <div class="rTableTrailer">{{newTrailer}}</div>
            </div>
        {{/each}}
         </tbody>
    </table>
 </div>
</template>

