<template name="headerShipList">
    {{#if currentUser}}
        {{> inputHead}}
    {{else}}
        {{> login}}
    {{/if}}
</template>

<template name="inputHead">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>
    <div class="switchToCombine">
        <nav>
            <a class="btn btn-default btn-success" href="/shippingMachines">Switch to Combines</a>
        </nav>
    </div>
    <div class="newHeadShipping">
        <form class="inputNewHead">
            <div class="shippingInputs">
                <label for="MachineId" class="" >Head-Id</label>
                <br>
                <input type="text" class="inputComment" id="headId" name="newHead" placeholder="Head Id" value="{{headId}}" required>
            </div>
            <div class="shippingInputs">
                <label for="shippingDate" class="">Shipping-Date</label>
                <br>
                <input type="Date" class="" id="shippingDate" name="newDate" required>
            </div>
            <div class="shippingInputs">
                <label for="newDestination" class="">Destination</label>
                <br>
                <input type="text" class="inputComment" id="newDestination" name="newDestination" placeholder="Destination">
            </div>
            <div class="shippingInputs">
                <label for="newTransporter" class="">Transporter</label>
                <br>
                <input type="text" class="inputComment" id="newTransporter" name="newTransporter" placeholder="Transporter">
            </div>
                <br><br><br>
            <div class="headerComment">
                <label for="newComment" class="inputComment">Comments</label>
                <br>
                <input type="text" class="headerInputComment" id="newComment" name="newComment" placeholder="Comments">
            </div>
            <div>
                <ul class="firstKit">
                                                                  <!-- Be aware of white space for list view in table cell !!!  FIND BETTER SOLUTION !!            -->
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit8">
                                <input type="checkbox" value=" 533_003_0220 | PartNr. 0523 803.0 Knife Kit 35ft" id="newKit8" name="newKit" class="newKit2"  {{newKit8}}>533_003_0220 | PartNr. 0523 803.0 Knife Kit 35ft</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit9">
                                <input type="checkbox" value=" 533_003_0312 | PartNr. 0398 735.0 Knife Kit 40ft" id="newKit9" name="newKit" class="newKit2"  {{newKit9}}>533_003_0312 | PartNr. 0398 735.0 Knife Kit 40ft</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit9">
                                <input type="checkbox" value=" 540_003_0220 | PartNr. 0398 534.0 Knife Kit LH" id="newKit10" name="newKit" class="newKit2"  {{newKit10}}>540_003_0220 | PartNr. 0398 534.0 Knife Kit LH</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit3">
                                <input type="checkbox" value=" 540_003_0230 | PartNr. 0398 535.0 Knife Kit RH " id="newKit11" name="newKit" class="newKit2"  {{newKit11}}>540_003_0230 | PartNr. 0398 535.0 Knife Kit RH</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup007">
                            <label for="newKit3">
                                <input type="checkbox" value=" SW_007_0300 | PartNr. 0358 347.0 Laser Pilot LH " id="newKit3" name="newKit" class="newKit3"  {{newKit3}}>007 0300 | PartNr. 0358 347.0 Laser Pilot LH</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup007">
                            <label for="newKit4">
                                <input type="checkbox" value=" SW_007_0302 | PartNr. 0358 354.0 Laser Pilot RH " id="newKit4" name="newKit" class="newKit2"  {{newKit4}}>007 0302 | PartNr. 0358 354.0 Laser Pilot RH</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="secondKit">
                <ul>
                    <li>
                        <div>
                            <label for="newKit1">
                                <input type="checkbox" value="B07_0040" id="newKit1" name="newKit" class="newKit1" {{newKit1}}>B07 0040</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <label for="newKit2">
                                <input type="checkbox" value="B07_0045" id="newKit2" name="newKit" class="newKit2"  {{newKit2}}>B07 0045</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit5">
                                <input type="checkbox" value="003_0301" id="newKit5" name="newKit" class="newKit2"  {{newKit5}}>003 0301</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit6">
                                <input type="checkbox" value="003_0300"  id="newKit6" name="newKit" class="newKit2"  {{newKit6}}>003 0300</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit7">
                                <input type="checkbox" value="003_0302" id="newKit7" name="newKit" class="newKit2"  {{newKit7}}>003 0302</label>
                        </div>
                    </li>
                    <li>
                        <div class="kitGroup003">
                            <label for="newKit7">
                                <input type="checkbox" value="B07_0051" id="newKit12" name="newKit" class="newKit2"  {{newKit12}}>B07 0051</label>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div class="headerSubmit">
                <button class="btn btn-default btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="headerSection">
        <div class="buttonDelete">
            <button class="btn btn-default btn-danger deleteHeader" type="button">Delete marked Head</button>
        </div>
        <div class="">
            <button class="btn btn-default btn-success editHead buttonEdit" type="submit">Edit marked Head</button>
        </div>
        <div class="">
            <button class="btn btn-default btn-info editHead buttonToggle" type="submit">Toggle ship list</button>
        </div>

        <div class="headerButtonField">
            <h5 class="confirmedDate">!! Confirmed Ship Date !!</h5>
            <form class="headerTruckDate">
                <button type="submit" class="btn btn-success addTruck">Truck Ordered</button>
                <input class="shipDate" type="date" name="inputDate" placeholder="Confirmed Ship Date" />
            </form>
            <br>
            <button type="submit" class="btn btn-danger removeTruck">Remove Truck</button>
        </div>
        <table class="shippingHeaderTable blueTable headerTable">
            <thead class="">
            <tr class="">
                <th class="pdiMachineField"><strong>Machine</strong></th>
                <th class="pdiShipDate" ><strong>ShipDate</strong></th>
                <th class="pdiDestination"><strong>Destination</strong></th>
                <th class="pdiTransporter"><strong>Transporter</strong></th>
                <th class="pdiTruckOnOrder"><strong>Truck ordered</strong></th>
                <th class="pdiTruckDate"><strong>Confirmed Ship Date</strong></th>
                <th class="headerKit"><strong>Ship with Kit</strong></th>
                <th class="pdiComments"><strong>Shipping Comments</strong></th>
                <th class="pdiShipField"><strong>Ship Status</strong></th>
            </tr>
            </thead>
            <tbody>
               {{#each shippList}}
                  <tr class="rTableRow newShippingHead {{selectedClass}}">
                     <td class="pdiMachineField">{{newHeadId}}</td>
                     <td class="pdiShipDate">{{date}}</td>
                     <td class="pdiDestination">{{destination}}</td>
                     <td class="pdiTransporter">{{transporter}}</td>
                      <td class="pdiTruckOnOrder {{getStatusTruck truckStatus}}" style="background-color:{{getStatusTruck truckStatus}}; color:{{getStatusTruck truckStatus}}" >{{truckStatus}}</td>
                      <td class="pdiTruckDate truckDateCorrection">{{confirmedShipDate}}</td>
                     <td class="headerKit"><strong>{{kit}}</strong></td>
                     <td class="pdiComments">{{shippingComment}}</td>
                     <td class="pdiShipField {{getStatusColor shipStatus}}" style="background-color:{{getStatusColor shipStatus}}; color:{{getStatusColor shipStatus}}">{{shipStatus}}</td>
                  </tr>
               {{/each}}
           </tbody>
        </table>
    </div>
</template>
<!--
<template name="headerTrailer">
 <div class="trailerSection">
    <form class="newTrailerInput">
       <div class="">
         <label for="newTransporter" class=""></label>
         <input type="text" class="inputTransporterId newTrailer" id="newTransporter" name="newTransporter" placeholder="Transporter">
       </div>
       <div class="">
         <label for="trailerId" class=""></label>
         <input type="text" class="inputTrailerId newTrailer" id="trailerId" name="trailerId" placeholder="Trailer Id">
       </div>
       <div class="trailerButton">
         <button class="btn btn-default trailerSubmit newTrailer" type="submit">Add new Trailer</button>
       </div>
    </form>
       <div class="deleteTrailer">
         <button class="btn btn-default trailerDelete" type="submit">Delete Trailer</button>
       </div>
     <div class="moveButton">
         <button class="btn btn-success trailerMove" type="submit"><img class="imageButton" src="move-trailer.JPG"></button>
     </div>
     <div class="trailerHome">
         <h2>On Lot</h2>
     </div>
     <table class="trailerTable blueTable">
         <thead class="">
           <tr class="">
              <th class="pdiTransporter"><strong>Transporter</strong></th>
              <th class="pdiTrailer" ><strong>Trailer ID</strong></th>
           </tr>
         </thead>
         <tbody>
          {{#each availiableTrailer}}
            <tr class="trailerOnLotTable {{selectedClass}}">
                <td class="pdiTransporter">{{headTransporter}}</td>
                <td class="pdiTrailer">{{newTrailer}}</td>
            </tr>
        {{/each}}
         </tbody>
     </table>
     <div class="trailerOnDuty">
         <h2>In Duty</h2>
     </div>
     <table class="trailerTable trailerTableOnTheMove blueTable">
         <thead class="">
         <tr class="">
            <th class="pdiTransporter"><strong>Transporter</strong></th>
            <th class="pdiTrailer" ><strong>Trailer ID</strong></th>
        </tr>
         </thead>
         <tbody>
        {{#each trailerGone}}
            <tr class="moveTrailer {{selectedClass2}}">
                <td class="pdiTransporter">{{headTransporter}}</td>
                <td class="pdiTrailer">{{newTrailer}}</td>
            </tr>
        {{/each}}
         </tbody>
    </table>
 </div>
</template>
-->
