<template name="singleSupplierResult">
    {{> analyzingNav}}
    <head>
        <meta charset="UTF-8">
        <title>Analyze</title>
    </head>
    <body>
    <div>
        <br>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    </div>
    <br>
    </body>
    <div class="button-back">
        <button class="btn btn-info buttonReturn">Back</button>
    </div>
    <div class="supplierTable">
        <table class=" blueTable ">
            <thead>
            <tr>
                <th class="pdiMachineField">Machine</th>
                <th class="pdi-rep-tech">Pdi Tech</th>
                <th class="pdi-comment-time-table">Error Description</th>
                <th class="pdi-image">Repair Time</th>
                <th class="pdi-rep-status">Repair Status</th>
                <th class="pdi-image">Image</th>
                <th class="assign-supplier">Change / Assign Supplier</th>
                <th class="assign-supplier">Change / Assign Team</th>
            </tr>
            </thead>
            <tbody>
            {{#each  singleSupplierResult}}
                <tr class="selectedIssue {{selectedSupplierRow}}">
                    <td class="pdiMachineField">{{machineNr}}</td>
                    <td class="pdi-rep-tech">{{pdiTech}}</td>
                    <td class="pdi-comment-time-table">{{errorDescription}}</td>
                    <td class="pdi-image">{{repairTime}}</td>
                    <td class="pdi-rep-status {{getStatusColor repairStatus}}"
                        style="background-color:{{getStatusColor repairStatus}}; color:{{getStatusColor repairStatus}}">{{repairStatus}}</td>
                    <td class="thumbnail thumbnail-box pdi-image">
                        <img src={{pictureLocation}}
                             onerror="this.src='noPicture.JPG'"
                             alt="No Picture"
                        />
                    </td>
                    <td>
                        <label for="category-select"></label>
                        <select name="team-select" id="category-select" >
                            <option value="">Select Supplier</option>
                            {{#each supplierList}}
                                <option value="{{this.supplier}}">{{this.supplier}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <label for="category-select"></label>
                        <select name="team-select" id="category-select" class="team-select">
                            <option value="">Select Team</option>
                            {{#each teamList}}
                                <option value="{{this.team}}">{{this.team}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div  class="suppliers-Result-View">
        <table class="blueTable supplierResultTable">
            <thead>
            <tr>
                <th>Supplier</th>
            </tr>
            </thead>
            <tbody>
            {{#each supplierTable}}
                <tr class="selectedSupplier {{selectedSupplier}}">
                    <td>{{supplier}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <div class="annual-machine-result">
            <div  id="chart_5">{{annualMachineRepairResult}}</div>
        </div>
    </div>
    <div>
        <div class="annual-supplier-result">
            <div  id="chart_6">{{annualSupplierRepairResult}}</div>
        </div>
    </div>

</template>