<template name="suppliersListView">
    {{> analyzingNav}}
    <head>
        <meta charset="UTF-8">
        <title>Analyze</title>
    </head>
    <body>
    <div>
        <br>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    </div>
    <br>
    </body>
<div class="button-back">
    <button class="btn btn-info buttonReturn">Back</button>
</div>
<div class="inputNewSupplier">
    <form class="newSupplier">
        <label for="inputSupplier">New Supplier</label>
        <input type="text" id="inputSupplier" name="inputSupplier">
        <button class="btn btn-success">Submit</button>
    </form>
</div>
<div class="supplierTable">
    <table class="suppliers-Table-View">
        <thead>
            <tr>
                <td>Supplier</td>
            </tr>
        </thead>
        <tbody>
        {{#each suppliersList}}
        <tr class="selectedSupplier {{selectedSupplier}}">
            <td>{{supplier}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
    <div class="remove-Supplier-Button">
        <button class="btn btn-danger supplierRemoveButton">Remove Supplier</button>
    </div>
</template>

<template name="supplierResultList">
    {{> analyzingNav}}
    <head>
        <meta charset="UTF-8">
        <title>Analyze</title>
    </head>
    <body>
    <div>
        <br>
        <div id="logo">
            <img src="claas_logo.png" />
        </div>
    </div>
    <br>
    </body>
    <div class="button-back">
        <button class="btn btn-info buttonReturn">Back</button>
    </div>
    <div class="supplierTable">
        <table class="blueTable">
                <tr>
                    <th>Machine</th>
                    <th>Pdi Tech</th>
                    <th>Error Description</th>
                    <th>Issuer</th>
                    <th>Repair Time</th>
                    <th>Image</th>
                </tr>
            {{#each suppliersResultList}}
                <tr class="selectedSupplier {{selectedSupplier}}">
                    <td>{{machineNr}}</td>
                    <td>{{pdiPerformer}}</td>
                    <td>{{errorDescription}}</td>
                    <td>{{issueResponsible}}</td>
                    <td>{{repairTime}} min</td>
                    <td><a target="blank" href={{pictureLocation}}>
                        <img class="img-supplier-table" src={{pictureLocation}}
                             alt="No Picture">
                    </a></td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div  class="suppliers-Result-View">
        <table class="blueTable supplierResultTable">
            <thead>
            <tr>
                <th>Supplier</th>
            </tr>
            </thead>
            <tbody>
                {{#each supplierTable}}
                    <tr class="selectedSupplier {{selectedSupplier}}">
                        <td>{{supplier}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

