<template name="washList">
    {{#if currentUser}}
        {{> topNav}}
        {{> overViewWashList}}
      {{else}}
          {{> login}}
        {{/if}}
</template>

<template name="overViewWashList">
    <div id="logo">
        <img src="claas_logo.png" />
    </div>

    <div class="washMessage">
       <form class="washBayMessanger">
          <button type="submit" class="messangerWashBay">Message to Wash Bay</button>
          <label for="machineId" class="mLocationId" ></label>
          <input type="text" class="messengerMachineBox" id="machineId" name="machineId" placeholder="Machine Nr"
               required>
          <label for="messageId" class="mLocationId" ></label>
          <input type="text" class="textBox" id="messageId" name="messageId" placeholder="Text" required>
       </form>
    </div>
    <div class="washListButtons">
    <h2>Wash List</h2>
        <form>
              <button type="submit" class="washButton machineInWashBay">Wash Start</button>
              <button type="submit" class="washButton stopWashProcess">Wash canceled</button>
              <button type="submit" class="washButton machineOutWashBay">Wash Done</button>
        </form>
    </div>
    <div class="locationButton">
        <form>
            <label for="locationNew" id="mLocationNew" ></label>
            <input type="text" id="locationNew" name="locationNew" placeholder="Location" required>
            <button type="submit" class="locationNew">Update Location</button>
        </form>
    </div>
    <table class="blueTable washTable">
       <thead >
          <tr>
            <th class="pdiMachineField"><strong>Machine</strong></th>
            <th class="pdiShipDate"><strong>Ship Date</strong></th>
            <th class="pdiPDIField"><strong>PDI</strong></th>
            <th class="pdiRepField"><strong>Rep</strong></th>
            <th class="pdiWashField"><strong>Wash</strong></th>
            <th class="pdiLocation"><strong>Location</strong></th>
              <th class="pdiTruckOnOrder"><strong>Truck ordered</strong></th>
              <th class="pdiTruckDate"><strong>Confirmed Ship Date</strong></th>
          </tr>
       </thead>
       <tbody>
          {{#each overView}}
             <tr class="readyWash {{selectedClass}}">
                <td class="pdiMachineField">{{machineId}}</td>
                <td class="pdiShipDate">{{date}}</td>
                <td class="pdiPDIField  {{getStatusColor pdiStatus}}" style="background-color:{{getStatusColor
                        pdiStatus}}; color:{{getStatusColor pdiStatus}}" >{{pdiStatus}}</td>
                <td class="pdiRepField " style="background-color:{{getStatusColor repairStatus}};
                        color:{{getStatusColor repairStatus}}" >{{repairStatus}}</td>
                <td class="pdiWashField  {{getStatusColor washStatus}}" style="background-color:{{getStatusColor washStatus}};
                        color:{{getStatusColor washStatus}}" >{{washStatus}}</td>
                <td class="pdiLocation" style="background-color: #6fd981">{{locationId}}</td>
                 <td class="pdiTruckOnOrder {{getStatusTruck truckStatus}}" style="background-color:{{getStatusTruck truckStatus}}; color:{{getStatusTruck truckStatus}}" >{{truckStatus}}</td>
                 <td class="pdiTruckDate truckDateCorrection">{{confirmedShipDate}}</td>
             </tr>
           {{/each}}
        </tbody>
    </table>
    <div>
        <button type="submit" class="messageClearButton messageButton">Clear Message</button>
        <button type="submit" class="messageClearButton washBayToggleButton switchWashHistory">Toggle Active / History</button>
    </div>
    <table class="blueTable messageTable">
       <thead >
          <tr>
            <th class="pdiMachineField"><strong>Machine</strong></th>
            <th class="pdiComments"><strong>{{activeHeader}}</strong></th>
            <th class="pdiUser"><strong>Cleared by</strong></th>
              <th class="pdiShipDate"><strong>Cleared at</strong></th>
          </tr>
        </thead>
        <tbody>
          {{#each washMessage}}
            <tr class="textMessage {{selectedMessage}}">
                <td class="pdiMachineField">{{machineNr}}</td>
                <td class="pdiComments">{{washBayMessage}}</td>
                <td class="pdiUser"><strong>{{user}}</strong></td>
                <td class="pdiShipDate"><strong>{{inactiveDate}}</strong></td>
            </tr>
          {{/each}}
        </tbody>
     </table>
</template>